.sng-accordion .ui-accordion-header,
.accordian .ui-accordion-header {
	padding: 1.4em 0 0.6em 0;
	outline:0;
}

.sng-accordion h3,
.accordian h3 {
	cursor: pointer;
	border-bottom: 1px solid;
	outline:0;
	margin: 0;
}

.sng-accordion .copy,
.accordian .copy {
	padding-left: 20px;
	padding-bottom: 20px;
}
