

/* ------------------------
	Action panels
------------------------ */

.action-panel-wrapper {
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
}

#action-panel {
	position: absolute;
}
.action-panel {
	width: 275px;
	height: auto;
	background-color: #0076bc;
	z-index: 20;
	right: 0;
	top: 0;
}
.action-content {
	padding: 30px; 
}
.action-content h2 {
	color: #fff;
	margin-top: -12px;
}

.action-content label,
.action-content p {
	color: #fff;
	font-size: 14px;
}

.action-content .advert img {
	width: 100%;
	height: auto;
	display: block;
}

.action-content #login-signup , .action-content #signup-login {
	text-decoration: underline;
	cursor: pointer;
}

.action-panel .control {
	width: 31px;
	height: 60px;
	position: absolute;
	top: 0;
	left: -31px;
	background-image: url(../img/bookmark.png);
	background-repeat: no-repeat;
	background-size: 21px 25px;
	background-position: 5px 19px;
	background-color: #0076bc;
	display: none;
}

.action-panel input:not([type="submit"]) {
	background-color: #2987c8;
	margin: 5px 0 20px;
}

.action-panel input:not([type="submit"]):focus {
	background-color: #499ad3;
}

/*.action-panel .action-content:not(.poll-survey) form label:first-of-type {
	margin: 10px 0 20px;
}*/

.action-panel .action-content:not(.poll-survey) form label:last-of-type input {
	margin: 5px 0 25px;
}

.action-panel input[type=submit] {
	margin: 0 0 0rem;
	outline: none;
}

.action-panel .poll-survey input[type=submit] {
	margin: 20px 0 0;
}

.action-panel input[type=radio] {
	margin-bottom: 15px;
}

.action-panel input[type=radio]:not(old) + label {
	background-position:  0px -58px;
}

.action-panel input[type=radio]:not(old):checked + label {
  background-position : -19px -40px;
}

.action-panel .ninja-forms-req-symbol {
	color: #fff;
}

.action-panel hr {
	border: 1px solid #2987c8;
	margin: 27px 0 20px;
}

.action-panel .field-wrap, .action-panel #ninja_forms_required_items {
	margin: 0;
}

.action-panel .ninja-forms-field-error {
	margin-top: -19px;
}

.action-panel .ninja-forms-field-error p {
	font-size: 12px;
}

.action-panel .error {
	margin-top: -17px;
	font-size: 12px;
	color: #fff;
}

.action-panel a {
	font-size: 12px;
	color: #fff;
}

.action-panel a.button {
	background-color: #fff;
	color: #2374bb;
	width: 100%;
}

.action-panel a.button:hover, .action-panel input.button:hover {
	background-color: #dddddd;
}

.action-panel a.button + hr,
.action-panel hr + h2 {
	margin-top: 0px;
}

/* Polls */

.wp-polls strong {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  margin: -12px 0 0.6em 0;
}

.wp-polls p {
  text-align: left!important;
}

.wp-polls ul {
  margin-left: 0;
}

.wp-polls input[type=button].Buttons {
  border-style: solid;
  border-width: 0px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  font-size: 1rem;
  border-color: #1c5d96;
  transition: background-color 300ms ease-out;
  background-color: #fff;
  color: #303030;
  margin: 0 0 0rem;
  outline: none;
  padding: 10px 18px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

.wp-polls input[type=button].Buttons:hover {
  background-color: #dddddd;
}

.wp-polls input[type=radio] {
  opacity: 1;
  margin: 0 20px 10px 0;
}

.wp-polls input[type=radio] + label {
  background: none;
  display: inline;
  padding: 0;
}

.wp-polls-ans li,
.wp-polls-ans strong {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.wp-polls-ans strong i {
	font-style: normal;
}

.wp-polls-ans small {
	display: none;
}

.action-panel .wp-polls .pollbar {
	background-image: none;
	background-color: #fff;
	border: none;
	margin-bottom: 10px;
}

.action-content {
	color: #fff;
}

/* Hide <hr/> when it shouldnt be showing */
.no-polls-available,
.no-polls-available + hr {
	display: none;
}

.action-panel script:first-child + hr,
.action-panel hr:first-child,
.action-panel hr:last-child {
	display: none;
}



/* 1150px - tablet */
@media only screen and (max-width: 1150px) {
	.action-panel .control {
		display: block;
	}

	.action-panel { 
		right: -275px;
	}

	.action-content .advert , .action-panel hr{
		display: none;
	}
}


@media only screen and (max-width: 640px) {
	.action-panel-wrapper {
		display: none;
	}
}