.article-large-tile {
	width: 100%;
	max-width: 888px;
	height: auto;
	border: 1px solid #ddd;
	margin: 0 auto 20px;
}

.article-large-tile .image {
	width: 100%;
	display: block;
	overflow: hidden;
	background: center center no-repeat;
}

.article-large-tile .copy {
	height: auto;
	width: 100%;
	display: block;
	padding: 10px;
}


/* Tile spacing and layout */

.article-tiles-grid {
	position: relative;
	margin: 0 -10px;
	overflow: hidden;
}

.article-tiles-grid .row {
	padding: 10px 0;
}

.article-tiles-grid .row:first-child {
	padding-top: 0px;
}

.article-tiles-grid .row:last-child {
	padding-bottom: 0px;
}

.article-tiles-grid .row .columns {
	padding: 0 10px;
}




/* Tiles */

.article-small-tile {
	border: 1px solid #cccccc;
}

.article-small-tile img {
	width: 100%;
}

.article-small-tile .copy {
	padding: 15px 15px 15px 15px;
}

.article-small-tile .copy p {
	font-size: 10.5px;
	font-weight: 300;
	color: #000000;
	line-height: 17px;
	margin-bottom: 0.4em;
}

.article-small-tile .copy span.date-stamp {
	font-size: 10.5px;
	margin-bottom: 13px;
}

.article-small-tile .copy > a {
	font-size: 10.5px;
	font-weight: 600;
	color: #2374bb;
	text-decoration: none;
}

