#banner {
	position: relative;
}

#banner .slick-slider {
	margin-bottom: 0;
}

#banner .banner-slide {
	position: relative;
	overflow: hidden;
	height: 300px;
}
.home.page #banner .banner-slide {height: 400px;}

#banner .banner-slide a {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
	width: 1920px;
	display: block;
}

#banner .banner-slide a:not([href]) {
 	cursor: default;
}

#banner .banner-slide a img {
	width: 100%;
}

#banner .arrow-container {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: none;
}

#banner .arrow-container .arrow-inner {
	position: relative;
	width: 100%;
	max-width: 1280px;
	height: 100%;
	margin: 0 auto;
}

#banner .arrow {
	position: absolute; 
	width: 40px;
	height: 40px;
	top: 50%;
	left: 0;
	margin-top: -20px;
	background-image: url('../img/slider-large-arrows.png');
	background-repeat: no-repeat;
	z-index: 2;
}

#banner .arrow.r {
	right: 0;
	left: auto;
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


@media only screen and (max-width: 1440px) {
	#banner .banner-slide {
		height: 250px;
	}
	.home.page #banner .banner-slide {height: 300px;}

	#banner .banner-slide a {
		width: 1440px;
		
	}
}

@media only screen and (max-width: 1300px) {
	#banner .arrow-container .arrow-inner {
		width: 90%;
	}
}

@media only screen and (max-width: 1024px) {
	#banner .banner-slide {
		height: 150px;
	}
	.home.page #banner .banner-slide {height: 200px;}

	#banner .banner-slide a {
		width: 1024px;
	}
}



@media only screen and (max-width: 640px) {
	#banner .banner-slide {
		height: 150px;
	}
	.home.page #banner .banner-slide {height: 200px;}

	#banner .banner-slide a {
		width: 640px;
	}

	#banner .arrow-container {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	.home.page #banner .banner-slide,
	#banner .banner-slide {
		height: auto;
	}

	#banner .banner-slide a {
		position: relative;
		margin-left: 0px;
		left: 0px;
		width: 100%;
	}


}