.computicketdetails-wrapper {
	margin: 0 0 10px 0;
	display: block;
}

.computicketdetails {
	margin: 0;
}

.copy .note {
	font-style: italic;
	margin: 35px 0 0;
}

.computicket .copy h3 {
	margin-top: 0;
}

.callus {
	font-style: italic;
	font-weight: bold;
}

.computicketdetails-wrapper .dates,
.computicketdetails-wrapper .venue {
	margin-bottom: 0;
}

.computicket-details p {
	min-height: 55px;
	border-bottom: solid #fff 2px;
	padding: 15px 20px 15px 55px;
	font-size: 14px;
	display: inline-block;
	position: relative;
	width: 100%;
}

.computicket-details p:before {
	position: absolute;
	top: 50%;
	left: 20px;
	-webkit-transform: translate(-50%, -33%);
	-ms-transform: translate(-50%, -33%);
	-o-transform: translate(-50%, -33%);
	transform: translate(-50%, -33%);
}

.computicket-details p.dates:before {
	content: url('../img/computicket-icon-date.png');
}
.computicket-details p.venue:before {
	content: url('../img/computicket-icon-location.png');
}
.computicket-details p.price:before {
	content: url('../img/computicket-icon-price.png');
}