.contact-icons {
	color: #2374bb;
	font-size: 30px;
	padding: 10px 0 20px;
	line-height: 20px;
}

.contact-icons a {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 13px;
	padding: 0 0 0 20px;
	vertical-align: top;
	text-decoration: none;
}

.contact-details {
	margin-bottom: 40px;
}