
.discount-block-container {
	width: 100%;
	max-width: 1050px;
	display: block;
	margin: 0 auto;
	overflow: auto;
}

.discount-block {
	height: auto;
	display: block;
	padding: 0 10px;
	cursor: default;
	float: left;
}

.discount-block:nth-child(1) {
	padding-left: 0;
}

.discount-block:nth-last-child(1) {
	padding-right: 0;
}


.discount-block-inner {
	padding: 32px;
}

.discount-block .icon {
	height: 66px;
	width: 66px;
	margin: 0 20px 0 0;
	display: block;
	float: left;
}

/* One Column */
.discount-block:nth-last-child(1) {
	width: 100%;
}

/* Two Columns */
.discount-block:first-child:nth-last-child(2) ~ .discount-block, .discount-block:first-child:nth-last-child(2) {
	width: 50%;
}

/* Three Columns */
.discount-block:first-child:nth-last-child(3) ~ .discount-block, .discount-block:first-child:nth-last-child(3) {
	width: 33%;
}

.discount-block:nth-child(1) .discount-block-inner {
	background-color: #67baaf; 
}

.discount-block:nth-child(2) .discount-block-inner {
	background-color: #618db4;
}

.discount-block:nth-child(3) .discount-block-inner {
	background-color: #9daeab;
}

.discount-block h3 {
	margin: 0;
	font-size: 18px;
	line-height: 1.4;
	color: #fff;
	display: block;
	vertical-align: top;
	text-align: center;
	color: #fff;
}

.discount-block h2 {
	margin: 0;
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	line-height: 1.2;
	display: block;
	text-align: center;
}

.discount-block h2 span {
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}

.discount-block p {
	text-align: center;
	margin: 0;
	color: #fff;
}

.discount-block-drawer-button {
	margin: 20px 0 0 0;
}

.discount-block-drawer {
	margin: 20px 0 0 0;
	width: 100%;
}

.discount-block-drawer table {
	width: 100%;
	background-color: transparent;
}


.discount-block-drawer thead {
	background-color: transparent;
}

.discount-block-drawer thead th {
	color: #fff;
	text-align: center;
	background-color: transparent;
}




@media screen and (max-width: 1050px) {
	.discount-block:nth-last-child(1),
	.discount-block:first-child:nth-last-child(2) ~ .discount-block, .discount-block:first-child:nth-last-child(2),
	.discount-block:first-child:nth-last-child(3) ~ .discount-block, .discount-block:first-child:nth-last-child(3),
	.discount-block {
		width: 100%;
		margin: 0 0 5px 0;
		padding: 0;
	}
}  
