.footer-container {
	width: 100%;
	background-color: #0076bc;
	min-height: 300px;
	height: auto;
	clear: both;
}

.footer-container .footer-links-wrapper {
	min-height: 200px;
	display: inline-block;
	margin-left: 2%;
}

.footer-container .footer-links-wrapper ul {
	font-weight: lighter;
	display: inline-block;
	list-style: none;
	vertical-align: top;
	margin: 0 25px 0 0;
}

.footer-container .footer-links-wrapper ul li {
	cursor: pointer;
	color: #fff;
	font-size: 12px;
}

.footer-container .footer-links-wrapper ul li a {
	cursor: pointer;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}

.footer-container .footer-links-wrapper ul.indentedlist {
	padding-left: 5px;
}

.footer-container .facebook-wrapper {
	width: auto;
	float: right;
	display: inline-block;
	clear: right;
}

.footer-links-wrapper-mobile {
	display: none;
}

.footer-links-wrapper-mobile a {
	text-decoration: none;
	color: #fff;
}

.footer-container .facebookicon {
	height: 48px;
	width: 48px;
	background-image: url(../img/facebook-icon-white.png);
	display: inline-block;
	margin-right: 15px;
	margin-top: 5px;
}

.footer-container .facebook {
	width: 250px;
	height: auto;
	background-color: #fff;
	float: right;
	clear: right;
	display: inline-block;
	padding: 5px;
	margin-right: 20px;
	vertical-align: top;
}

.footer-container .speach {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12.5px 15px 12.5px 0;
	border-color: transparent #ffffff transparent transparent;
	display: inline-block;
	margin-right: -4px;
	margin-bottom: 13px;
}

.footer-container .facebook p.fbstatus {
	padding: 2px;
	margin: 0;
	font-size: 10px;
	color: #000;
}

.footer-container p {
	color: #fff;
	font-size: 12px;
	font-weight: lighter;
	vertical-align: bottom;
	margin-left: 2%;
}

.footer-container p.copyright {
	margin: 25px 0 0 25px;
}

.footer-links-wrapper-mobile ul {
	display: inline-block;
	text-align: center;
	margin: 0;
	padding: 0 20px;
	line-height: 35px;
}

.footer-links-wrapper-mobile li.menu-item {
	display: inline;
	text-align: center;
}

.footer-links-wrapper-mobile li.menu-item span {
	color: #fff;
}

.footer-links-wrapper-mobile li.menu-item:last-child span {
	display: none;
}

.footer-container .footer-sanlam-link {
	color: #fff;
	font-size: 12px;
	padding-right: 15px;
	float: right;
	text-decoration: none;
	clear: both;
}


@media screen and (max-width: 730px) {
	.footer-container .facebook {
		display: none;
	}
	.footer-container .speach {
		display: none;
	}
}

@media screen and (max-width: 560px) {
	.footer-container .facebook-wrapper {
		float: none; 
		display: block;
	}

	.footer-container .footer-links-wrapper, .footer-container .footer-sanlam-link {
		display: none;
	}

	.footer-links-wrapper-mobile {
		display: block;
	}

	.footer-container .facebookicon {
		margin: 0 auto 20px auto;
		display: block;
	}

	.footer-container p { 
		text-align: center;
	}

	.footer-container p.copyright { 
		text-align: center;
		margin-top: 40px;
	}
}
