/* ------------------------
	Global Styles
------------------------ */

@font-face {
	font-family: 'reality';
	src:url('fonts/reality.eot?2z0dj1');
	src:url('fonts/reality.eot?#iefix2z0dj1') format('embedded-opentype'),
		url('fonts/reality.woff?2z0dj1') format('woff'),
		url('fonts/reality.ttf?2z0dj1') format('truetype'),
		url('fonts/reality.svg?2z0dj1#reality') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'reality';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icomoon:before {
	content: "\e000";
}
.icon-phone:before {
	content: "\e608";
}
.icon-user:before {
	content: "\e600";
}
.icon-user2:before {
	content: "\e601";
}
.icon-user3:before {
	content: "\e602";
}
.icon-cancel-circle:before {
	content: "\e603";
}
.icon-checkmark-circle:before {
	content: "\e604";
}
.icon-close:before {
	content: "\e605";
}
.icon-checkmark:before {
	content: "\e606";
}
.icon-share:before {
	content: "\e607";
}
.icon-googleplus:before {
	content: "\e60a";
}
.icon-facebook:before {
	content: "\e60b";
}
.icon-twitter:before {
	content: "\e60c";
}
.icon-pinterest:before {
	content: "\e60d";
}
.icon-mail:before {
	content: "\e609";
}

.social-icons {
	font-size: 30px;
	margin: 30px 10px 0 10px;
}

     
body, html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	line-height: normal;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
	color: #2374bb; 
}

h1 {
	font-size: 40px;
	font-weight: 400;
	color: #2374bb;
	margin: 0 0 0.6em 0;
}

h1 span {
	font-weight: 600;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: #2374bb;
	margin: 0 0 0.6em 0;
}

h3 {
	font-size: 20px;
	font-weight: 400;
	color: #2374bb;
	margin: 1.4em 0 0.6em 0;
}

h3.whitetext {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin: 0.6em 0;
}

h4 {
	font-size: 20px;
	font-weight: 600;
	color: #2374bb;
	margin: 0 0 0.6em 0;
}

h5 {
	font-size: 16px;
	font-weight: 400;
	color: #2374bb;
	margin: 0 0 0.6em 0;
}

h6 {
	font-size: 18px;
	color: #3f3d3d;
	margin: 0 0 0.6em 0;
}

.content,
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.2px;
	color: #363636;
	margin: 0 0 1.4em 0;
}

ul,
ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.2px;
	color: #363636;
}

ul {
	margin-bottom: 1.4em;
}



.content.article strong {
	padding: 0 0 1.4em 0;
}

.content.article p strong {
	padding: 0 0 0 0;
}

.content.article img + h3,
.content.article p + h3 {
	margin: 0 0 0.6em;
}

.content.article img {
	margin: 1.4em 0;
}

.content.article p img {
	margin: 0 0;
}

.content.article p + img {
	margin: 0 0 1.4em;
}

.content.article p + p img {
	margin: 0 0;
}

.content.article h3 strong {
	margin: 0;
}

a {
	color: #363636;
	text-decoration: underline;
}


ul, ol, dl {
	font-size: 14px;
}

.hide {
	display: none;
}

.block {
	display: block;
}

.clearboth {
	clear: both;
}

.input-counter {
	display: none;
}

div#ninja_forms_field_111_counter {
  display: block;
}

p span.large {
	font-size: 17px;
}

span.date-stamp {
	text-transform: uppercase;
	font-size: 13px;
	margin-top: -15px;
	display: block;
	margin-bottom: 30px;
}

.introduction + .memberships {
	margin-top: -40px;
}

.introduction .column-container .content,
.introduction .column-container p:last-child {
	margin-bottom: 0;
}

.facetwp-facet .facetwp-loading,
.preloader {
	background: url(../img/facetwp-preloader.gif) no-repeat;
	background-position: 0 0px;
	width: 70px;
	height: 14px;
}

/* ------------------------
	Padding edges
------------------------ */

.paddingright20 {
	padding-right: 20px;
}

.paddingright40 {
	padding-right: 40px;
}

.paddingright60 {
	padding-right: 60px;
}

.paddingright80 {
	padding-right: 80px;
}


/* ------------------------
	General Page Structure
------------------------ */

.white {
	background-color: #fff;
}

.light-grey {
  background-color: #f2f1f1;
}

.medium-grey {
	background-color: #a2a1a1;
}

.content-row.darkgrey:nth-of-type(odd),
.content-row.darkgrey:nth-of-type(even),
.darkgrey {
	background-color: #dcdcdc;
}

.blue {
	background-color: #2374bb;
}

.content-row {
   width: 100%;
}

.content-row:nth-of-type(odd) {
	background-color: #f2f1f1;
}

.content-row.white:nth-of-type(odd) {
	background-color: #fff;
}

.content-row.light-grey:nth-of-type(even) {
	background-color: #f2f1f1;
}

.column-container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 40px 0px;
}

.content {
	width: 77%;
	padding: 0 3.8%;
}

.content-mango {
	width: 94%;
	padding: 0 3%;
}

.header {
	width: 100%;
}

.inline {
	display: inline-block;
}

.breadcrumb {
	width: 100%;
	vertical-align: bottom;
	display: inline-block;
	font-size: 13px;
	color: #3f3d3d;
	margin: -20px 0 40px 0;
}

.breadcrumb a {
	display: inline-block;
}

.content.article .breadcrumb img,
.breadcrumb img {
	margin: 0 10px 0 0;
	display: inline-block;
	vertical-align: top;
}

.breadcrumb span {
	vertical-align: bottom;
	display: inline-block;
}

.article-image {
	margin: 0 0 1.4em 0;
	width: 100%;
}

.article-image img {
	width: 100%;
	max-width: 100%;
}

a.print,
.social a.show-dropdown {
	background-image: url('../img/print-social-sprite.png');
	background-repeat: no-repeat;
}

a.print {
	width: 14px;
	height: 16px;
	display: block;
	float: right;
	cursor: pointer;
	background-position: 0 0;
	margin-right: 20px;
}

a.print:hover {
	background-position: 0 -17px;
}

.has-dropdown {
	position: relative;
}

.dropdown {
	position: absolute;
	z-index: 20;
	display: none;
	padding: 14px 0 0 0;
	right: 0px;
	margin-top: 10px;
}

.dropdown-body {
	padding: 20px 30px 30px 30px;
	position: relative;
	background: #fff;
	border-radius: 2px;
}

.close-dropdown {
	width: 100%;
	height: 14px;
	margin-top: -2px;
}

.close-dropdown a {
	width: 13px;
	height: 14px;
	position: absolute;
	right: 15px;
	top: 12px;
	cursor: pointer;
	background: url('../img/close.png') no-repeat 0 0;
}

.dropdown:before {
	content: "";
	position: absolute;
	top: 0px;
	right: 10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 19px 14px 19px;
	border-color: transparent transparent #ffffff transparent;
}

.input-counter {
	padding: 0 0 20px 0;
}

.invalid {
	float: right;
	width: 550px;
}

.social {
	float: right;
	margin-right: 20px;
}

.social a.show-dropdown {
	width: 11px;
	height: 16px;
	display: block;
	float: right;
	cursor: pointer;
	background-position: -16px 0;
}

.social a.socialicon:hover {
	background-position: -16px -17px;
}

.social .dropdown {
	width: 280px;
	right: -26px;
	margin-top: 23px;
}

.social-media-links {
	display: block;
	text-align: justify;
	height: 32px;
}

.social-media-links:after {
	content: " ";
	display: inline-block;
	width: 100%;
}

.social-media-links a {
	width: 40px;
	height: 32px;
	background-image: url(../img/social-icons.png);
	background-repeat: no-repeat;
	display: inline-block;
	text-align: justify;
}

.social-media-links a.facebook {
	background-color: #3b5998;
	background-position: 0 0;
}

.social-media-links a.twitter {
	background-color: #41c8f7;
	background-position: -40px 0;
}

.social-media-links a.linkedin {
	background-color: #00acec;
	background-position: -80px 0;
}

.social-media-links a.google {
	background-color: #ad2e1f;
	background-position: -120px 0;
}

.social-media-links a.facebook:hover {
	background-color: #36528c;
}

.social-media-links a.twitter:hover {
	background-color: #3dbde9;
}

.social-media-links a.linkedin:hover {
	background-color: #009fdc;
}

.social-media-links a.google:hover {
	background-color: #9c291c;
}

.shadow-overlay {
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	position: absolute;
	display: none;
	z-index: 10;
	background-color: rgba(0,0,0,.2);
}






/* 1150px */
@media only screen and (max-width: 1150px) {
	.content {
		width: 100%;
	}
}

/* 1150px */
@media only screen and (min-width: 640px) {
	a[href^="tel"] {
		text-decoration: none;
		font-weight: 600;
	}
}

/* 640px */
@media only screen and (max-width: 640px) {
	.content {
		padding: 0 20px;
	}

	.invalid {
		width: 90%;
	}

	a.print {
		display: none;
	}
}
