.mango-captcha {
	width: 150px;
	padding: 20px 20px 20px 0;
	display: inline-block;
}

.mango-footer-blocks {
	width: 49%;
	height: auto;
	background-color: red;
	display: inline-block;
}

.mango-footer-blocks:first-child{
	margin-right: 1%;
}

.mango-footer-blocks img {
	width: 100%;
}

.mango-table {
	width: 100%;
	border: none;
	background: none;
}

.mango-table tbody tr {
	background: none;
	border-bottom: 1px solid #ccc;
}

.mango-table tbody th {
	background: none;
}

.mango-table tbody td {
	color: #2374bb;
	cursor: pointer;
	background: none;
	border-right: none;
}



@media only screen and (max-width: 768px) {
	.mango-footer-blocks {
		width: 100%;
		display: block;
		margin: 0 0 20px 0;
	}
}

/*---------------------------
	STACKTABLE CSS 
-----------------------------*/
.stacktable { width: 100%; }
.st-head-row { padding-top: 1em; }
.st-head-row.st-head-row-main { font-size: 1.5em; padding-top: 0; }
.st-key { width: 49%; /*text-align: right; */padding-right: 1%; }
.st-val { width: 49%; padding-left: 1%; }



/* RESPONSIVE EXAMPLE */

.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media (max-width: 800px) {
  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }
}