.grid-filter-wrapper {
	overflow: auto;
}

.grid-menu {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-menu-mobile {
	width: 100%;
	margin: 0;
	padding: 0;
	display: none;
}

.grid-menu-mobile select {
	vertical-align: top;
}

.grid-menu li {
	display: block;
	padding: 0 15px;
	float: left;
}

.grid-menu li:first-child {
	padding-left: 0;
}
.grid-menu li:last-child {
	padding-right: 0;
	border-right: none;
}

.grid-menu li a {
	font-size: 17px;
	color: #868687;
	padding: 10px 5px;
	margin: 0 5px 0;
	display: block;
	text-decoration: none;
}

.grid-menu li.active a {
	color: #363636;
	border-bottom: #815474 solid 2px;
}

.grid-menu span.seperator {
	width: 1px;
	height: 38px;
	background-color: #a09f9f;
	display: block;
	float: left;
	margin: 5px 0 0;
}

.grid {
	overflow: hidden;
	margin: 0 auto;
	padding: 1.08em 0 0 0;
	width: 100%;
	max-width: 1050px;
	list-style: none;
	text-align: center;
}

figure.benefit-block {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 5px;
	width: 285px;
	height: 285px;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.grid figure.benefit-block {
	width: 32%;
	height: auto;
}

figure.benefit-block .tileimg {
	position: relative;
	display: block;
	background-position: center center;
}

figure.benefit-block .tileimg img {
	width: 100%;
	max-width: 100%;
}

figure.benefit-block .tileimg .shadow-over {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background-color: #577cad;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

figure.benefit-block .icon {
	width: 55px;
	height: 55px;
	position: relative;
	margin: 15px auto;
}

figure.benefit-block figcaption {
	color: #fff;
	font-weight: 200;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.benefit-block figcaption::before,
figure.benefit-block figcaption::after {
	pointer-events: none;
}

figure.benefit-block figcaption,
figure.benefit-block a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.benefit-block a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure.benefit-block h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure.benefit-block h2 span {
	font-weight: 600;
}

figure.benefit-block h2,
figure.benefit-block p {
	margin: 0;
}

figure.benefit-block p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.benefit-block h2 {
	/*pointer-events: none;*/
	margin-top: 16%;
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,35px,0);
	transform: translate3d(0,35px,0);
}

figure.benefit-block p {
	/*pointer-events: none;*/
	margin: 0.6em 0 0;
	padding: 2em;
	padding-top: 0;
	opacity: 0;
	color: #fff;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1);
	transform: translate3d(0,20px,0) scale(1);
} 


figure.benefit-block .longbenefit-title {
	font-size: 20px;
}

figure.benefit-block button {
	/*pointer-events: none;*/
	margin: 10px 0 0 0;
	font-size: 12px;
	padding: 10px 15px;
	opacity: 0;
	position: relative;
	/*margin-left: -50px;*/
	color: #000;
	font-weight: 400;
	bottom: 25px;
	background-color: #fff;
	text-transform: uppercase;
	border: none;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.benefit-block:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.benefit-block:hover p {
	opacity: 1;
	padding-top: 0;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.benefit-block:hover button {
	position: relative;
	/*margin-left: -50px;*/
	color: #000;
	font-weight: 400;
	bottom: 25px;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.benefit-block:hover .tileimg .shadow-over {
	opacity: 0.7;
}




@media only screen and (max-width: 1024px) {		
	figure.benefit-block:hover h2 {
		-webkit-transform: translate3d(0,35px,0);
		transform: translate3d(0,35px,0);
	}

	figure.benefit-block h2 {
		margin-top: 26%;
	}

	figure.benefit-block:hover p {
		opacity: 0;
	}

	figure.benefit-block:hover button {
		opacity: 0;
	}

	figure.benefit-block:hover .tileimg .shadow-over {
		opacity: 0;
	}
}

@media only screen and (max-width: 960px) {
	.grid figure.benefit-block {
		width: 48%;
	}
	.grid-menu li a {
		font-size: 14px;
	}
}

@media only screen and (max-width: 640px) {
	.grid {
		width: 95%;
		margin: 0 auto;
	}
	.grid figure.benefit-block {
		width: 100%;
	}
	.grid-menu {
		display: none;
	}
	.grid-menu-mobile {
		display: block;
	}
}

@media only screen and (max-width: 480px) {

	figure.benefit-block .icon {
		display: none;
	}
}


@media only screen and (max-width: 360px) {
	.grid figure.benefit-block {
		width: 100%;
	}
	
}