.membership-block-wrapper {
	width: 100%;
	background-color: #f3f1f1;
	height: 100%;
}

.membership-block-container {
	width: 100%;
	max-width: 1050px;
	display: block;
	margin: 0 auto;
	overflow: auto;
}

.membership-block {
	min-height: 180px;
	height: auto;
	padding: 0 10px;
	float: left;
}

.membership-block:nth-child(1) {
	padding-left: 0;
}

.membership-block:nth-last-child(1) {
	padding-right: 0;
}

/* One Column */
.membership-block:nth-last-child(1) {
	width: 100%;
}

/* Two Columns */
.membership-block:first-child:nth-last-child(2) ~ .membership-block, .membership-block:first-child:nth-last-child(2) {
	width: 50%;
}

/* Three Columns */
.membership-block:first-child:nth-last-child(3) ~ .membership-block, .membership-block:first-child:nth-last-child(3) {
	width: 33%;
}


.membership-block-inner {
	padding: 32px;
}

.membership-block:nth-child(1) .membership-block-inner {
	background-color: #67baaf;	
}

.membership-block:nth-child(2) .membership-block-inner {
	background-color: #618db4;	
}

.membership-block:nth-child(3) .membership-block-inner {
	background-color: #9daeab;	
}

.membership-block:last-child {
	margin: 0;
}

.membership-block .icon {
	height: 66px;
	width: 66px;
	margin: 0 20px 0 0;
	display: block;
	float: left;
}

.membership-block .plus {
	background-image: url(../img/reality-plus_icon.png);
}

.membership-block .standard {
	background-image: url(../img/reality-standard_icon.png);
}

.membership-block .lifestyle {
	background-image: url(../img/reality-lifestyle_icon.png);
}

.membership-block h3 {
	margin: 0;
	font-size: 20px;
	line-height: 1.4;
	display: block;
	vertical-align: top;
	text-align: center;
	color: #fff;
}

.membership-block p {
	margin: 10px 0;
	font-size: 12px;
	text-align: center;
	color: #fff;
}

.membership-block h6 {
	margin: 20px 0;
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	line-height: 1.2;
	display: block;
	text-align: center;
}

.membership-block h6 span {
	font-size: 12px;
	font-weight: 400;
}

.membership-block .button {
	margin: 0 auto;
	display: block;
	width: 140px;
	background-color: #f4f4f4;
}

.comparebutton {
	margin: 30px 0 0px 45px;
}

.membershiptable {
	margin-top: 40px;
}

@media screen and (max-width: 1300px) and (min-width: 1150px){
	.membership-block {
		width: 100%;
		margin: 0 0 5px 0;
	}
}

@media screen and (max-width: 1024px) {
	.memberships .content {
		padding: 0;
	}
	
	/* One Column */
	.membership-block:nth-last-child(1),
	.membership-block:first-child:nth-last-child(2) ~ .membership-block, .membership-block:first-child:nth-last-child(2),
	.membership-block:first-child:nth-last-child(3) ~ .membership-block, .membership-block:first-child:nth-last-child(3),
	.membership-block-container .membership-block {
		width: 100%;
		height: 75px;
		min-height: 0;
		margin: 0;
		overflow: hidden;
		padding: 0;
	}

	.membership-block-inner {
		padding: 23px 0 0 0;
		overflow: auto;
	}

	.membership-block h3 {
		text-align: left;
		padding: 0 0 0 22%;
		font-size: 22px;
		margin-bottom: 16px;
		background-image: url('../img/membership-down-arrow.png');
		background-repeat: no-repeat;
		background-position: 78% 12px;
		background-size: 25px 15px;
	}

	.comparebutton {
		margin: 20px auto;
		display: block;
		width: 220px;
	}
	
	.membership-block.open {
		height: auto!important;
		min-height: 180px!important;
	}

	.membership-block h6,
	.membership-block p {
		padding: 0 22%;
		text-align: left;
	}
	
	.membership-block a.button {
		margin: 0 0 30px 22%;
	}
	
}

@media screen and (max-width: 640px) { 
	.membership-block h3 {
		padding: 0 0 0 8%;
		background-position: 90% 6px;
	}

	.membership-block h6, .membership-block p {
		padding: 0 0 0 8%;
	}

	.membership-block a.button {
		margin: 0 0 20px 8%;
	}
}