.modal-window {
	opacity: 0;
	position: fixed;
	z-index: 9000;
	max-width: 600px;
	width: 90%;
	height: auto;
	background-color: #fff;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}

.modal-window.show {
	opacity: 1;
}

.modal-window h3 {
	width: 100%;
	background-color: #e6e6e6;
	font-size: 40px;
	color: #0076bc;
	margin: 0 0 20px 0;
	padding: 20px;
	text-align: center;
}

.modal-window a {
	text-align: center;
	margin: 0 20px 20px;
	display: inline-block;
	float: none;
}

.modal-window p {
	padding: 0 20px;
}

.modal-window-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.2);
	z-index: 8000;
	cursor: pointer;
	display: none;
	-webkit-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}
