.nav {
	padding: 10px 30px;
	background-color: #fff;
	font-size: 14px;
}

.nav .fullnav {
}

.navcontainer {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}

.nav a {
	text-decoration: none;
}

/*---- MOBILE NAVIGATION STYLES ----*/

.nav .mobile-nav {
	display: none;
}

.nav .mobile-nav #slidesNav {
	width: 270px;
	height: auto;
	display: none;
	float: left;
	font-size: 14px;
	color: #b7b7b7;
	overflow: hidden;
}

.nav .mobile-nav a#navBtn {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	padding: 30px 0 30px 30px;
	background: url(../img/nav-icon.png) no-repeat 6px 26px;
	text-decoration: none;
}

.nav .mobile-nav .logo {
	width: auto;
	margin: 0 auto;
	float: none;
	text-align: center;
}

.nav .mobile-nav .logo a {
		display: inline-block;
}


.nav .mobile-nav .logo img {
	max-height: 71px;
}

.nav .mobile-nav #slideNavWrapper {
	width: 810px;
}

.nav .mobile-nav .slideNavMenu {
	width: 270px;
	float: left;
}

.nav .mobile-nav #slideNavPrimaryLinks {
	background: #0075c9;
	padding: 15px 0 5px 0;
}

.nav .mobile-nav #slideNav {
	width: 270px;
	height: auto;
	display: block;
	float: left;
	font-size: 14px;
	color: #b7b7b7;
	overflow: hidden;
	position: absolute;
}

.nav .mobile-nav .closed {
	left: -300px;
}

.nav .mobile-nav #slideNav a {
	color: #fff;
	text-decoration: none;
}

.nav .mobile-nav #slideNav h2 {
	margin: 0 15px 10px 15px;
	padding-bottom: 17px;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-family: 'open_sanssemibold';
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

.nav .mobile-nav #slideNav ul {
	padding: 0;
	margin: 0 0 15px 15px;
}

.nav .mobile-nav #slideNav ul li {
	background: none;
	padding: 0;
	list-style: none outside none;
}

.nav .mobile-nav #slideNav ul li a {
	padding: 10px 0;
	display: block;
	font-size: 16px;
}

.move-right .exit-off-canvas {
	box-shadow: none;
}

.left-off-canvas-menu {
	background: #0076bc;
	-ms-transform: translate(-100%, 0);
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0);
	-o-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.left-off-canvas-menu ul {
	list-style: none;
	padding: 20px;
	margin: 0;
}

.left-off-canvas-menu ul li {
	margin-bottom: 15px;
}

.left-off-canvas-menu ul li span,
.left-off-canvas-menu ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.left-off-canvas-menu .mobile-login-join a {
	margin: 0 20px 0 0;
}

.mobile-login-form {
	padding: 0px 20px 20px;
	display: none;
}

.mobile-login-form label {
	color: #fff;
}






/*---- END MOBILE NAVIGATION STYLES ----*/



.nav .logo {
	float: left;
	width: 148px;
	margin: 0 4% 0 0;
}

.nav .rightlogo {
	float: right;
	width: 108px;
	margin: 0 0 0px 20px;
}

.nav .worksite-logo {
	height: 84px;
	width: 100%;
	display: block;
}

.nav .worksite-logo img {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nav ul.primary-links {
	float: left;
	margin: 33px 2% 0 0;
	font-family: 'Open Sans', sans-serif;
	padding: 0;
}

.nav ul.primary-links > li {
	margin-right: 38px;
	display: inline-block;
	vertical-align: top;
	background: none;
	padding: 0;
	list-style: none outside none;
}

.nav ul.account-links {
	float: right;
	margin: 0;
	list-style: none;
	padding: 0;
}

.nav ul.utilityLinks {
	float: right;
	margin: 33px 0 0 0;
}

.nav .account-links li {
	float: right;
	padding: 0;
	margin-left: 25px;
	margin-top: 33px;
}

.nav .account-links li > a img {
	margin-left: 10px;
	vertical-align: middle;
}

.nav .logout {
	background: none;
	border: none;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: -1px;
	vertical-align: bottom;
	padding: 1px 6px;
}

.nav .logout:hover {
	color: #2374bb;
}


.login-icon {
	background-image: url('../img/login-icon.png');
	background-repeat: no-repeat;
	width: 19px;
	height: 16px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

.join-icon {
	background-image: url('../img/join-icon.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

.mobile-login-join .login-icon {
	margin: -5px 10px 0 0;
	background-image: url('../img/login-icon-white.png');
}
.mobile-login-join .join-icon {
	background-image: url('../img/join-icon-white.png');
}

.settings-icon {
	background-image: url('../img/settings-icon.png');
	background-repeat: no-repeat;
	width: 19px;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.settings-dropdown {
	right: 214px;
}

.nav li > span {
	vertical-align: middle;
}

.nav li > a > span {
	vertical-align: middle;
}

#login .show-dropdown {
	cursor: pointer;
/*	vertical-align: middle;
*/}


#login .dropdown-body {
	width: 280px;
}

.membership-dropdown {
	width: 380px;
}

.membership-dropdown p {
	font-size: 10px;
	line-height: 16px;
	max-width: 270px;
	margin: 0 auto 25px;
}

.nav .account-links .nav-search input {
	margin: 0;
}

.nav .nav-search {
	overflow: hidden;
}

.nav .nav-search a.show,
.mobile-search-submit {
	background-image: url('../img/search-sprite.png');
}

.nav .nav-search a.show {
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 20px;
	height: 21px;
	cursor: pointer;
	display: block;
	float: right;
	z-index: 10;
	position: relative;
	margin: 5px 0 0 0;
	-webkit-transition:background-position .2s ease-in;  
    -moz-transition:background-position .2s ease-in;  
    -o-transition:background-position .2s ease-in;  
    transition:background-position .2s ease-in; 
}

.nav .nav-search.open:not(.empty) a.show {
	background-position: 0 -22px;
}

.nav .nav-search form {
	float: right;
	width: 0px;
	overflow: hidden;
	z-index: 9;
	position: relative;
	margin-right: 10px;
	-webkit-transition: width 0.4s ease;
	-o-transition: width 0.4s ease;
	transition: width 0.4s ease;
}

.nav .nav-search.open form {
	width: 150px;
}

.nav .nav-search form input {
	float: left;
}

.mobile-search-form {
	position: relative;
	overflow: hidden;
}

.mobile-search-input {
	margin: 0!important;
}

.empty .mobile-search-submit {
	right: -20px;
}

.mobile-search-submit {
	width: 20px;
	height: 21px;
	background-repeat: no-repeat;
	background-position: 0 -22px;
	cursor: pointer;
	display: block;
	z-index: 10;
	position: absolute;
	top: 4px;
	right: 6px;
	-webkit-transition: right 0.3s ease;
	-o-transition: right 0.3s ease;
	transition: right 0.3s ease;
}
.mobile-logout {
	margin-top: -20px;
	padding-left: 20px;
}


@media screen and (max-width: 1150px) {
	.nav .fullnav {
		display: none;
	}
	.nav .mobile-nav {
		display: block;
	}
}

