.movietype-wrap {
	width: auto;
	height: auto;
	display: inline-block;
	padding: 20px 50px;
	background-color: #f2f1f1; 
	margin: 0 20px 0px 0;
}

.movietype-wrap p {
	text-align: center;
	margin: 10px 0 0 0;
}

.movietype-icons {
	width: 77px;
	height: 77px;
	display: block;
	margin-right: 30px;
}

.movietype-3d {
	background-image: url(../img/3d-icon.png);
	background-size: 77px 77px;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.movietype-2d {
	background-image: url(../img/2d-icon.png);
	background-size: 77px 77px;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.movie-type {
	display: inline-block;
	width: 210px;
	height: auto;
	margin-left: 20px;
}

.movie-search {
	clear: both;
	padding: 0;
}

.movie-cart-wrapper {
	width: 100%;
	height: auto;
	display: block;
	margin-top: 0px;
}

.movie-cart-wrapper .movie-cart-item {
	width: 100%;
	min-height: 130px;
	height: auto;
	float: left;
	border-bottom: 2px solid #989da1;
	padding: 20px 0 20px 20px;
	position: relative;
}

.stretch {
	width: 100%;
	display: inline-block;
	height: 0;
	line-height: 0;
}

.movie-cart-wrapper .movie-cart-item:focus {
	outline: none;
	-webkit-outline: none;
}

.movie-cart-wrapper .movie-cart-item.ui-accordion-header-active {
	border-bottom: none;
}

.movie-cart-list {
	overflow: auto;
}

.movie-details .preloader {
	float: left;
	margin: 32px 30px 0;
	display: none;
}

.movie-details .preloader.seats {
	width: 100%;
	background-position: center;
	margin: 0 0 20px;
}

.movie-cart-wrapper .movie-cart-item .poster {
	width: 100px;
	display: inline-block;
	margin: 0px 20px 0 0;
	vertical-align: top;
	float: left;
}

.movie-cart-wrapper .movie-cart-item .poster img {
	width: 100%;
}

.movie-cart-wrapper .movie-cart-item .movie-title {
	font-size: 18px;
	vertical-align: top;
	margin: 22px 0;
	display: inline-block;
	font-weight: bold;
	color: #000;
	margin: 5px 0;
}

.movie-cart-wrapper .movie-details-wrapper {
	height: auto;
	min-height: 150px;
	width: 100%;
	padding: 10px 0;
}

.movie-cart-wrapper .movie-details-wrapper .seat-selection {
	display: inline-block;
	height: auto;
}

.movie-cart-wrapper .movie-cart-item .complete-btn {
	float: right;
	display: inline-block;
	margin: 40px 0 0 0; 
}

.movie-cart-wrapper .movie-cart-item .remove-btn {
	display: block;
	background-image: url(../img/delete2.png);
	background-position: 0px 0px;
	background-size: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	right: 0;
}

.movie-cart-wrapper .movie-cart-item .remove-btn:hover {
	background-position:0px -30px;
}

.cart-cinema-select {
	padding-left: 0;
}


.movie-cart-wrapper .movie-cart-add {
	float: left;
	overflow: auto;
	clear: both;
	padding: 20px 0 0 20px;
}

.movie-cart-wrapper .movie-cart-add p {
	display: inline;
	float: left;
	margin-top: 50px;
}

.movie-cart-wrapper .movie-cart-add .add-movie-icon {
	width: 130px;
	height: 130px;
	float: left;
	background-image: url(../img/add-movie-thumb.jpg);
	display: inline-block;
	margin: 0 20px 0 0;
	cursor: pointer;
}

.movie-cart-wrapper .continue-btn {
	float: right;
	margin-top: 165px;
	display: none;
}

.selected-seats .cancel-seats {
	margin-left: 20px;
}

.total-price {
	clear: both;
	display: block;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 10px;
}

.movie-cart-text {
	display: block;
	width: calc(100% - 120px);
	float: left;
}

.movie-cart-text-details {
	display: block;
	text-align: justify;
	padding-right: 60px;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
}

.movie-cart-text-details .cine-details {
	display: inline-block;
	vertical-align: top;
	opacity: 0;
	pointer-events: none;
	cursor: default;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.movie-cart-text-details .cine-details.show {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
	display: inline-block;
}

.movie-cart-text-details .cine-details span {
	display: block;
}

.movie-cart-text-details .preloader {
	position: absolute;
	top: 0;
	left: 0;
	margin: 34px 0px 0;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.3s ease
	-o-transition: opacity 0.3s ease
	transition: opacity 0.3s ease
}

.movie-cart-text-details .preloader.show {
	opacity: 1;
}


.seating-modal {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 99999;
	overflow-y: scroll;
	overflow-x: hidden; 
	-webkit-transition: top 0.8s ease;
	-o-transition: top 0.8s ease;
	transition: top 0.8s ease;
}

html.show-seat-modal {
	overflow: hidden;
}

.seating-modal.active {
	top: 0;
}

.seating-modal h1 {
	text-align: center;
	padding: 20px 0;
	background-color: #EAEAEA;
}

.desktop .seat-selector-container {
	height: 100%;
	overflow: hidden;
}

.seat-selector-container {
	padding: 0 5%;
	max-width: 1150px;
	margin: 80px auto 0;
}

.seat-selection {    
	width: 100%;
	overflow: auto;
	padding: 20px 0 0;
}

.screen-title {
	margin: 0 0 10px;
	text-align: center;
}

.your-seats-title {
	font-size: 18px;
	color: #000;
	font-weight: bold;
}

.selected-seats {
	width: 220px;
	float: left;
}

.selected-seats-list {
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 10px 0;
}

.seats-selected span {
	background-color: #fff;
    padding: 6px 9px;
    display: block;
    margin-top: 5px;
}

.selected-seats-list li {
	padding: 0 0 0 35px;
	font-size: 16px;
	position: relative;
	width: 100%;
	text-transform: uppercase;
	margin: 8px 0;
}

.selected-seats-list li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: #c6cacd;
}

.selected-seats-list li.selected:before {
	background-color: #815374;
}

.seat-layout {
	width: calc(100% - 220px);
	float: left;
	padding: 0 50px 50px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.seat-layout svg g circle {
	cursor: pointer;
	fill: #c6cacd;
}

.seat-layout svg g circle:hover {
	fill: #baa1b3;
}

.seat-layout svg g circle.disabled {
	fill: #527798;
	cursor: default;
}

.seat-layout svg g circle.wheelchair {
	fill: #E07A99;
}
.seat-layout svg g circle.wheelchair:hover {
	fill: #B36980;
}

.seat-layout svg g circle.wheelchair.selected:hover,
.seat-layout svg g circle.wheelchair.selected,
.seat-layout svg g circle.selected {
	fill: #815374;
}

.seating-info {
	padding: 10px 0 0 0; 
	margin: 30px 0 0 0;
	list-style: none;
	width: 100%;
	border-top: 3px solid #BDC3C8;;
	text-align: center;
}

.desktop .seating-info {
	margin: 0;
	overflow: auto;
	position: absolute;
	bottom: 0;
	left: 0;
}

.seating-info li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: #527798;
}

.seating-info li {
	padding: 0 0 0 45px;
	font-size: 16px;
	position: relative;
	width: 25%;
	text-transform: uppercase;
	margin: 8px 0;
	float: left;
	text-align: left;
}

.seating-info li:nth-child(1):before {
	background-color: #c6cacd;
}
.seating-info li:nth-child(2):before {
	background-color: #527798;
}
.seating-info li:nth-child(3):before {
	background-color: #815374;
}
.seating-info li:nth-child(4):before {
	background-color: #E07A99;
}

/*
Mobile layout
*/

.seats-mobile-row {
	width: 100%;
	margin: 10px 0;
	overflow: hidden;
}

.seats-mobile-row-title {
	width: 100%;
	text-align: center;
	padding: 12px 0;
	background-color: #b6b6b6;
	cursor: pointer;
}

.seats-mobile-row-slider {
	display: none;
	padding: 10px 0 0 0;
	position: relative;
	height: 55px;
}

.slick-slide.mobile-seat-group,
.mobile-seat-group {
	position: relative;
	left: 0;
	top: 0;
	height: 40px;
	width: 40px;
	padding: 0 5px;
}

.mobile-seat-group .circle {
	height: 40px;
	width: 40px;
	background-color: #c6cacd;
	position: absolute;
	display: block;
	cursor: pointer;
	border-radius: 50%;
}

.mobile-seat-group .circle.disabled {
	background-color: #527798;
	cursor: default;
}

.mobile-seat-group .circle.wheelchair {
	background-color: #E07A99;
}

.mobile-seat-group .circle.wheelchair.selected,
.mobile-seat-group .circle.selected {
	background-color: #815374;
}

.mobile-seat-group .text {	
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 50%;
	font-size: 16px;
	color: #fff;
	text-align: center;
	pointer-events: none;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.mobile-seat-group .text.disabled {
	color: #fff;
}

.mobile-seat-group .text.selected {
	color: #fff;
}



/*
	Tickets 
*/

.numetro-ticket {
	width: 100%;
	margin-bottom: 20px;
	background-color: #67baaf;
	padding: 20px;
}
.numetro-ticket:nth-child(odd) {
	background-color: #618db4;
}

.numetro-ticket h6 {
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #fff;
	margin-bottom: 10px;
}

.numetro-ticket h6 span {
	float: right;
	display: block;
	font-weight: 400;
}

.numetro-ticket ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.numetro-ticket ul:last-child {
	margin-left: 35px;
}

.numetro-ticket ul li {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	color: #fff;
}

.numetro-ticket-footer {
	width: 100%;
	overflow: visible;
	margin-top: 40px;
	position: relative;
}

.numetro-ticket-footer p {
	margin: 0;
	color: #fff;
	font-style: italic;
	font-weight: 300;
	font-size: 13px;
}

.numetro-ticket-footer img {
	position: absolute;
	top: -10px;
	right: 0;
}



@media screen and (max-width: 1150px) {
	
	.movie-cart-wrapper .movie-cart-item {
		padding-left: 0;
	}

}


@media screen and (max-width: 960px) {
	.selected-seats {
		width: 100%;
	}

	.selected-seats li {
		width: 90px;
		float: left;
	}

	.seat-layout {
		width: 100%;
		position: relative;
		padding: 0;
	}

	.numetro-ticket ul {
		width: 50%;
	}

	.numetro-ticket ul:last-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 640px) {
	.movie-details-wrapper .columns {
		padding: 0;
	}

	.movie-details .preloader {
		margin: 0px auto 15px;
		width: 100%;
		background-position: center;
	}

	.numetro-ticket-footer img {
		position: relative;
		top: 0;
		left: 0;
		float: left;
	}

	.numetro-ticket-footer p {
		width: 100%;
		float: left;
	}
}



@media screen and (max-width: 568px) {
	
	.movie-cart-text-details .preloader {
		left: 0!important;
		width: 100%;
		margin: 0;
		background-position: center;
	}

	.movie-cart-text {
		width: 100%;
	}

	.movie-cart-text-details {
		padding-right: 0;
	}

	.movie-cart-wrapper .movie-cart-item .poster {
		height: 240px;
		width: 240px;
		display: none;
		margin: 0 auto;
	}

	.movie-cart-text-details .cine-details {
		width: 100%;
		margin-bottom: 5px;
		display: none;
	}
	
	.movie-cart-text-details .cine-details span {
		display: inline-block;
		margin-left: 10px;
	}

	.movie-cart-wrapper .movie-cart-item .complete-btn {
		margin-top: 10px;
		float: left;
	}

	.movie-cart-wrapper .movie-cart-item .complete-btn a {
		margin-bottom: 0;
	}

	.movie-cart-wrapper .movie-cart-item .remove-btn {
		margin: 0;
		position: absolute;
		top: 22px;
		right: 0;
	}

	.cine-details.seats-selected span {
		display: block;
		margin-left: 0;
	}

	.price.cine-details {
		text-align: right;
		margin-top: 20px;
	}

	.movie-cart-wrapper .continue-btn {
		margin-top: 20px;
		text-align: right;
	}

	.movie-cart-add {
		display: none;
	}

	.movie-cart-wrapper .movie-cart-item {
		position: relative;
	}

	.movie-cart-wrapper .movie-details-wrapper {
		min-height: 0;
	}

	.movie-cart-wrapper .movie-cart-item .movie-title {
		padding: 0 30px 0 0;
	}

	.movie-cart-wrapper .movie-details-wrapper {
		padding: 0;
	}

	
}


