@media print {

	.nav .primary-links,
	.nav .account-links{
		display: none;
	}

	#action-panel-wrapper {
		display: none;
	}

	.breadcrumb {
		display: none;
	}

	.footer-container {
		display: none;
	}

	.content {
		width: 100%;
	}

	.slick-track {
		width: 100%!important;
	}

	.banner-slide {
		width: 100%!important;
	}
	
	.banner-slide a {
		margin-left: 0!important;
		left: 0!important;
		position: relative!important;
		width: 100%!important;
	}
	
	.banner-slide,
	.slick-list {
		height: auto!important;
	}

	h1 {
		font-size: 25px;
	}

	.related-content {
		display: none;
	}
	
	.numetro-tickets .content-row.tickets h2,
	.numetro-tickets .content-row.tickets a,
	.numetro-tickets #action-panel-wrapper,
	.numetro-tickets .content-row:not(.tickets),
	.numetro-tickets footer,
	.numetro-tickets #banner {
		display: none;
	}

	.numetro-ticket {
		width: 100%;
		border: 1px solid #000;
	}

	.numetro-ticket h6 {
		border-bottom: 2px solid #000;
	}

	.numetro-ticket .columns {
		width: 50%;
	}

}