.secondary-slider {
	width: 100%;
}
.secondary-slider .slide-wrap {
	height: auto;
	display: block;
	width: 100%;
}

.secondary-slider .slide-wrap .slide-inner {
	width: 72%;
	max-width: 1240px;
	height: 100%;
}

.secondary-slider .slide-wrap .image {
	width: 60%;
	height: 100%;
	min-height: 300px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin-bottom: -5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.secondary-slider a {
	text-decoration: none;
}

.secondary-slider .slide-wrap .image img {
	right: 0;
	top: 0;
}

.secondary-slider .slide-wrap .desc {
	padding: 30px;
	width: 39%;
	display: inline-block;
	vertical-align: top;
}

.secondary-slider-wrapper .arrow-container {
	max-width: 1240px;
	margin: 0 auto;
}

.secondary-slider-wrapper .arrow-inner {
	width: 77%;
	position: relative;
}

.secondary-slider-wrapper .arrow {
	position: absolute; 
	width: 40px;
	height: 40px;
	top: 130px;
	left: 0;
	background-image: url('../img/slider-large-arrows.png');
	background-repeat: no-repeat;
	z-index: 2;
}

.secondary-slider-wrapper .arrow.r {
	left: auto;
	right: 0;
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* 1150px - tablet */
@media only screen and (max-width: 1150px) {
	.secondary-slider .slide-wrap .slide-inner {
		width: 100%;
	}
	.secondary-slider-wrapper .arrow-inner {
		width: 95%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 780px) { 
	.secondary-slider .slide-wrap .image , 
	.secondary-slider .slide-wrap .desc { 
		width: 100%;
		display: block;
		clear: both;
	}
	
	.secondary-slider-wrapper .arrow-inner {
		width: 90%;
		margin: 0 auto;
	}

	.secondary-slider .slide-wrap .image {
		min-height: 200px;
		height: 200px;
	}

	.secondary-slider-wrapper .arrow {
		top: 60px;
	}
}

@media only screen and (max-width: 480px) { 
	.secondary-slider .slide-wrap .image {
		min-height: 150px;
		height: 150px;
	}
}