/* Tiles */

.matrix-filter {
	padding: 40px 0 0;
}

.matrix-filter form {
	overflow: auto;
}

.dining-matrix .matrix-filter {
	padding: 0;
}

.matrix-slider {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    width: 100%;
}

.matrix-slider-container {
	overflow: hidden!important;
	padding-left: 38px;
	height: auto;
}

.matrix-slider-container .slick-list.draggable {
	overflow: hidden!important;
}

.matrix-slider-container .slick-track {
	overflow: hidden!important;
}

.matrix-slider-inner {
	width: 879px; 
	position: relative;
}

.matrix-slider-block.slick-slide {
	height: auto;
}

.nu-metro .matrix-slider-block.slick-slide {
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.matrix-slider-wrapper {
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	-o-transform: translate(0,0);
	transform: translate(0,0);
}

.matrix-slider-wrapper.animation {
	-webkit-transform: translate(0%, 0);
	-moz-transform: translate(0%, 0);
	-ms-transform: translate(0%, 0);
	-o-transform: translate(0%, 0);
	transform: translate(0%, 0);

	-webkit-transition: -webkit-transform 0.8s ease;
	-moz-transition: -moz-transform 0.8s ease;
	-o-transition: -o-transform 0.8s ease;
	transition: transform 0.8s ease;
}

.matrix-slider-item {
	border: 1px solid #cccccc;
	width: 273px;
	margin: 10px;
	float: left;
	-webkit-transition: margin 0.4s ease;
	-o-transition: margin 0.4s ease;
	transition: margin 0.4s ease;

	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.matrix-slider-item > a {
	display: block;
}

.nu-metro.matrix-slider .matrix-slider-item > a {
	max-height: 401px;
}

.matrix-slider-item img {
	width: 100%;
}

.matrix-slider-item .copy {
	padding: 18px 15px 15px 15px;
}

.dinning-matrix .matrix-slider-item .copy {
	padding: 12px 15px 0px 15px;
}

.matrix-slider-item .copy h3 {
	font-size: 17px;
	margin: 0 0 5px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nu-metro .matrix-slider-item .copy h3 {
	font-size: 17px;
	margin: 0;
	padding: 0 30px 0 0;
	white-space: normal;
	height: 49px;
	display: block;
	overflow: hidden;
	text-overflow: initial;
}


.matrix-slider-item .copy p {
	font-size: 10.5px;
	font-weight: 300;
	color: #363636;
	text-transform: uppercase;
	line-height: normal;
	letter-spacing: normal;
	margin-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.matrix-slider-item .copy span.date-stamp {
	font-size: 10.5px;
	margin-bottom: 13px;
}

.matrix-slider-item .copy .badge {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 15px;
	right: 12px;
	border-radius: 50%;
	border: 2px solid #0075c8;
	color: #0075c8;
	text-align: center;
	display: block;
	padding: 2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.matrix-slider-item .copy > a {
	font-size: 10.5px;
	font-weight: 600;
	text-decoration: none;
	color: #2374bb;
}

.booking-drawer {
	position: absolute;
	width: calc(100% + 2000px);
	margin-left: -1000px;
	z-index: 10;
	background-color: #f3f1f1;
}

.booking-drawer .inner {
	height: auto;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.booking-drawer .content {
	position: relative;
}

.booking-drawer-arrow {
	content: "";
	position: absolute;
	top: 0px;
	right: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 25.5px 26px 25.5px;
	border-color: transparent transparent #f3f1f1 transparent;
}

.booking-drawer .close {
	width: 14px;
	height: 14px;
	margin: 15px 15px 0 0;
	cursor: pointer;
	background: url(../img/close.png) no-repeat 0 0;
	position: absolute;
	right: 45px;
}

.booking-drawer .details {
	width: 100%;
	display: block;
	overflow: auto;
}

.booking-drawer .details .trailer,
.booking-drawer .details .image {
	width: 40%;
	height: auto;
	padding: 50px 20px 50px 0;
	display: block;
	float: left;
	z-index: 2;
	position: relative;
}

.booking-drawer .details .copy {
	width: 60%;
	height: auto;
	padding: 50px 25px 50px 20px;
	display: block;
	float: left;
	-webkit-touch-callout: initial;
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

.booking-drawer .details .copy h3 {
	margin-top: 0;
	font-size: 25px;
}

.booking-drawer .form {
	width: 100%;
	height: 200px;
	background-color: #fff;
	border: 1px solid #cccccc;
	padding: 25px;
	display: none;
	clear: both;
}

.booking-drawer .actionbtns {
	width: 100%;
	display: block;
}

.booking-drawer .bookbtn {
	display: inline-block;
	margin-right: 20px;
}

.matrix-slider-block {
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.matrix-slider-block .matrix-slider-item img, 
.matrix-slider-block .matrix-slider-item .copy {
	opacity: 1;

	-webkit-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;

	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.booking-drawer-form {
	display: none;
}

.nu-metro .matrix-slider-item {
	height: 474px;
}

.nu-metro .copy {
	padding: 18px 15px 0px 15px;
	height: 71px;
}



@media only screen and (min-width: 1150px) {
	.matrix-slider-block:not(.slick-active) .matrix-slider-item img, 
	.matrix-slider-block:not(.slick-active) .matrix-slider-item .copy {
		opacity: 0;
	}

	.matrix-slider-block.force-show:not(.slick-active) .matrix-slider-item img, 
	.matrix-slider-block.force-show:not(.slick-active) .matrix-slider-item .copy {
		opacity: 1;
	}
}

@media only screen and (max-width: 960px) {
	.matrix-slider-inner {
		max-width: 586px;
		margin: 0 auto;
		float: none;
	}
}


@media only screen and (max-width: 640px) {
	.matrix-slider-container {
		padding: 0 20px;
	}
	
	.matrix-slider .slider-fade {
		display: none;
	}

	.matrix-slider-item {
		width: 100%;
		padding: 0;
		margin: 0;
		border: none;
	}

	.matrix-slider-item:nth-child(odd) {
		background-color: #f2f1f1;
	}
	
	.matrix-slider-item .image {
		width: 140px;
		float: left;
		clear: left;
		border: none;
	}

	.dinning-matrix .matrix-slider-item .copy {
		padding: 15px 15px 0px 158px;
		height: 122px;
	}

	.computicket .copy h3 {
		padding: 0 20px;
		white-space: normal;
	}

	.matrix-slider .slider-fade-white {
		background: none;
	}
	
	.booking-drawer {
		position: relative;
		width: 100%!important;
		float: left;
		top: 0px!important;
		margin-bottom: 0px;
	}

	.booking-drawer .close {
		display: none;
	}

	.booking-drawer .details .image {
		display: none;
	}

	.booking-drawer .details .copy {
		width: 100%;
		padding: 20px 0 0;
	}

	.booking-drawer .details h3 {
		display: none;
	}


	.booking-drawer .details .trailer,
	.booking-drawer .details .image {
		padding: 20px 0px 0px 0;
		width: 100%;
	}
	
	.nu-metro .copy {
		height: auto;
		padding: 18px 18px 0px 155px;
	}

	.nu-metro .copy h3 {
		padding: 0;
		height: auto;
	}

	.matrix-slider-item .copy .badge {
		position: relative;
		right: 0;
		top: 10px;
	}

}
