table [class*="column"] + [class*="column"]:last-child {
    float: none;
}

table.borderless {
    border-collapse: collapse;
    margin: 3em 0;
    width: 100%;
    background: transparent;
    border: none;
    text-align: center;
    clear: both;
}

table.borderless thead {
	background-color: transparent;
}

table.borderless thead tr {
    height: 60px;
}

table.borderless thead tr th {
	text-align: center;
}

table.borderless thead tr th:first-child {
	border-right: 1px solid #ccc;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}

table.borderless thead tr th {
	color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.95em;
}

table.borderless thead tr th span {
    font-size: 9px;
}

table.borderless thead tr th.plus {
    background-color: #67baaf;
}

table.borderless thead tr th.standard {
    background-color: #618db4;
}

table.borderless thead tr th.lifestyle {
    background-color: #9daeab;
}

table.borderless thead th:nth-child(2) {
    background-color: #67baaf;
}

table.borderless thead th:nth-child(3) {
    background-color: #618db4;
}

table.borderless thead th:nth-child(4) {
    background-color: #9daeab;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background-color: transparent;
}

table.borderless td, th {
    padding: 0.75em 1.5em;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

table.borderless td span {
    color: #2878bc;
    font-size: 18px;
}

.mobilememberview {
    display: none;
}

.table-control {
    display: none;
}

td:first-child {
	border-right: 1px solid #ccc;
}

td:nth-child(3) {
	background-color: rgba(238,238,238,.5);
}

tr.benefit-type , td.col1 , td.col2 , td.col3 {
	width: 25%;
}

tr.tabledrawer , td.tabledrawer {
    width: 100%;
    height: auto;
    vertical-align: top;
    background-color: #f3f1f1 !important; 
    border-right: none !important;
}

.tabledrawer h3 , .tabledrawer p {
    text-align: left;
}

td.err {
	background-color: #e992b9;
	color: #fff;
	font-size: 0.75em;
	text-align: center;
	line-height: 1;
}
th {
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;	
}

tbody tr:nth-child(2n-1) {
    background-color: transparent;
    transition: all .125s ease-in-out;
}

table:not(.no-hover) tbody tr:hover {
    background-color: rgba(35,116,187,.2);
}

@media screen and (max-width: 600px) {
    .table-control {
        display: block;
    }
    .borderless th,
    .borderless td {
        display: none;
    }

    .borderless th:nth-child(1),
    .borderless td:nth-child(1) {
        display: table-cell;
    }

    .borderless .table-mobile-show {
        display: table-cell;
    }

    .mobilememberview {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .tableradio {
        font-size: 11px;
        padding-left: 25px !important;
        margin-right: 12px !important;
    }
}