.insurancetable h4 {
	text-align: center;
}

.insurancetable table.insurancetable {
	text-align: left;
	border-collapse: collapse;
	margin-bottom: 3em;
	width: 100%;
	background: transparent;
	border: none;
	clear: both;
}

.insurancetable table.insurancetable tbody tr .col-left {
	width: 65%;
}

.insurancetable table.insurancetable tbody tr .col-right {
	width: 35%;
}

.insurancetable table.insurancetable tbody tr .right {
	text-align: right;
	font-weight: bold;
}

.insurancetable table.insurancetable tbody tr .bold {
	font-weight: bold;
}