<div class="contact-header-content header-content">
    <h1>Get In Touch</h1>
    <p>Got something to talk about? Let us hear it.</p>
</div>
<div class="contact-header-background header-background"></div>

<section class="row collapse contact-details">
	<div class='small-12 medium-12 xlarge-10 xxlarge-8 small-centered columns'>
		<div class="row contact-details-container">
			<div class="small-12 medium-6 large-4 xlarge-4 columns">
				<div class="row">
					<div class="small-4 small-centered medium-uncentered columns">
						<span class="icon-addressbook contact-icon"></span>
					</div>
					<div class="small-12 medium-8 columns">
					<h6>EMAIL</h6>
					<p>
						<a>hi@howlagency.co.za</a>
					</p>
					<h6>TEL</h6>
					<p>Michael:<br/>+27 (0) 79 300 6322</p>
					<p>Dustin:<br/>+27 (0) 83 451 8611</p>
					</div>
				</div>
			</div>
			<div class="small-12 medium-6 large-4 xlarge-4 columns">
				<div class="row">
					<div class="small-4 small-centered medium-uncentered columns">
						<span class="icon-pin contact-icon"></span>
					</div>
					<div class="small-12 medium-8 columns">
					<h6>ADDRESS</h6>
					<p>Howl<br/>
					The Hills<br/>
					Buchanan Square<br/>
					160 Sir Lowry Road<br/>
					Woodstock<br/>
					Cape Town<br/>
					7925</p>
					</div>
				</div>
			</div>
			<div class="small-12 medium-12 large-4 xlarge-4 columns end contact-details-rq">
				<div class="row">
					<div class="small-4 medium-2 small-centered medium-uncentered columns">
						<span class="icon-tag2 contact-icon"></span>
					</div>
					<div class="small-12 medium-10 columns">
					<h6>LOOKING FOR A QUOTE?</h6>
					<p>
						<a class="link">*online quote coming soon</a>
					</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="contact-maps collapse" id="map-canvas">
</section>

<section class="section-title hide-on-success hide-on-fail">
	<h2><span class="icon-envelope"></span></h2>
	<h2>Hit us up</h2>
	<p>From quotes to careers, media enquiries and anything else you have in mind, feel free to get hold of us any time.</p>
</section>

<section class="contact-form row hide-on-success hide-on-fail">
	<form class="large-10 large-centered columns" id="contact-us-form" data-abide="ajax" action="">
		<div class="row collapse">
			<div class="small-12 medium-12 large-5 columns">
				<div class="input-wrapper">
					<label for="name">Name:
							<input type="text" name="name" required id="name" pattern="[a-zA-Z]+" />
						<small class="error">A valid name is required.</small>
					</label>
				</div>
				<div class="input-wrapper">
					<label for="email-address" >Email Address:
							<input id="email-address" type="email" name="email-address" required />
						<small class="error">A valid email address is required.</small>
					</label>
				</div>
				<div class="input-wrapper">
					<label for="contact-number" >Contact Number:
							<input id="contact-number" type="text" name="contact-number" required class="form-control bfh-phone" data-format="+27 (dd) ddd-dddd"/>
						<small class="error">A valid contact number is required.</small>
					</label>
				</div>
				<div class="input-wrapper">
					<label for="company" >Company:
							<input id="company" type="text" name="company" required />
						<small class="error">We'd really like to know what company you're from.</small>
					</label>
				</div>
				<div class="input-wrapper" style="display: none;">
					<label for="last-name">Fill this in if you are a robot:
							<input type="text" name="last-Name" id="last-name" />
					</label>
				</div>
			</div>
			<div class="small-12 medium-12 large-5 columns">
				<div class="input-wrapper">
					<label for="message" >Message:
						<textarea id="message" required name="message" class="contact-textarea"></textarea>
						<small class="error">A valid message is required.</small>
					</label>
				</div>
				<input type="submit" class="button" value="Submit"/>
			</div>
		</label>
	</form>
</section>

<section class="section-title show-on-success">
	<svg class="section-title-icon"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="62" height="62" viewBox="0 0 62 62">
		<path d="M52.313 7.75l-29.063 29.063-13.563-13.563-9.688 9.688 23.25 23.25 38.75-38.75z" fill="#000000"></path>
	</svg>
	<h2>Message sent!</h2>
</section>

<section class="section-title show-on-fail">
<!-- 	<img src="img/hit-us-up-icon.png" alt="" title="" class="section-title-icon" />
 -->	<svg class="section-title-icon"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="62" height="62" viewBox="0 0 62 62">
		<path d="M61.435 49.809c-0-0-0-0-0.001-0.001l-18.809-18.809 18.809-18.809c0-0 0-0 0.001-0.001 0.202-0.203 0.349-0.439 0.443-0.691 0.257-0.689 0.11-1.494-0.443-2.048l-8.885-8.885c-0.554-0.554-1.359-0.7-2.048-0.443-0.252 0.094-0.489 0.24-0.691 0.443 0 0-0 0-0 0.001l-18.809 18.809-18.809-18.809c-0-0-0-0-0.001-0.001-0.203-0.202-0.439-0.349-0.691-0.443-0.689-0.257-1.494-0.111-2.048 0.443l-8.885 8.885c-0.554 0.554-0.7 1.359-0.443 2.048 0.094 0.252 0.24 0.489 0.443 0.691 0 0 0 0 0.001 0.001l18.809 18.809-18.809 18.809c-0 0-0 0-0 0.001-0.202 0.203-0.349 0.439-0.443 0.691-0.257 0.689-0.111 1.494 0.443 2.048l8.885 8.885c0.554 0.554 1.359 0.7 2.048 0.443 0.252-0.094 0.489-0.24 0.691-0.443 0-0 0-0 0.001-0.001l18.809-18.809 18.809 18.809c0 0 0 0 0.001 0 0.203 0.202 0.439 0.349 0.691 0.443 0.689 0.257 1.495 0.111 2.048-0.443l8.885-8.885c0.554-0.554 0.701-1.36 0.443-2.048-0.094-0.252-0.24-0.488-0.443-0.691z" fill="#000000"></path>
	</svg>
	<h2>Oh no, something went wrong.</h2>
	<p>You can try again in a few seconds.</p>
</section>