<div class="footer dark-blue bg-pattern">
    <div class="row">
        <div class="logo">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 132 111.333" enable-background="new 0 0 132 111.333" xml:space="preserve"><g id="_x2F__x3E__1_"><g><path fill="#FFFFFF" d="M85.555,14.164l17.716,42.139l-3.543,3.332L82.012,17.496L85.555,14.164z"/><path fill="#FFFFFF" d="M116.672,27.89l10.166-22.674l-24.196,7.757l-2.991-3.18l30.122-9.068l1.968,2.091l-12.037,28.295 L116.672,27.89z"/></g></g><g id="_x2F__x3E_"><g><path fill="#FFFFFF" d="M50.081,16.996L32.432,59.113l-3.528-3.33l17.648-42.118L50.081,16.996z"/><path fill="#FFFFFF" d="M12.534,30.605L0.544,2.324l1.959-2.09l30.006,9.063l-2.979,3.178L5.428,4.723l10.125,22.662 L12.534,30.605z"/></g></g><g id="_x2D__1_"><g><path fill="#FFFFFF" d="M58.636,82.076v-4.453h14.385v4.453H58.636z"/></g></g><g id="_x2D_"><g><path fill="#FFFFFF" d="M58.636,111.076v-4.453h14.385v4.453H58.636z"/></g></g></svg>
        </div>
    </div>
    
    <div class="row">
        <div class="medium-12 large-10 large-centered columns">
            <div class="row footer-links">
                <div class="medium-4 large-2 columns"><a href="#!/what-we-do" title="What We Do">What We Do</a></div>
                <div class="medium-4 large-2 columns"><a href="#!/our-work" title="Our Work">Our Work</a></div>
                <div class="medium-4 large-2 columns"><a href="#!/services" title="Services">Services</a></div>
                <div class="medium-4 large-2 columns"><a href="#!/people" title="People">People</a></div>
                <div class="medium-4 large-2 columns"><a href="#!/contact" title="Contact">Contact</a></div>
                <div class="medium-4 large-2 columns end">
                    <a href="#">Social</a>
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/howlSA" target="_blank" title="Facebook">Facebook</a></li>
                        <li><a href="https://www.facebook.com/howlSA" target="_blank" title="Twitter">Twitter</a></li>
                        <li><a href="http://ourhowler.tumblr.com/" target="_blank" title="Howl Tumblr">Tumblr</a></li>
                        <li><a href="https://www.behance.net/howlagency/" target="_blank" title="Howl Behance">Behance</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>&#169;2015 HOWL AGENCY &#8226; ALL RIGHTS RESERVED</p>
    </div>
</div>
