<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="nav-logo">
            <a href="#">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewBox="0 0 132 111.333" enable-background="new 0 0 132 111.333" xml:space="preserve"><g id="_x2F__x3E__1_"><g><path fill="#FFFFFF" d="M85.555,14.164l17.716,42.139l-3.543,3.332L82.012,17.496L85.555,14.164z"/><path fill="#FFFFFF" d="M116.672,27.89l10.166-22.674l-24.196,7.757l-2.991-3.18l30.122-9.068l1.968,2.091l-12.037,28.295 L116.672,27.89z"/></g></g><g id="_x2F__x3E_"><g><path fill="#FFFFFF" d="M50.081,16.996L32.432,59.113l-3.528-3.33l17.648-42.118L50.081,16.996z"/><path fill="#FFFFFF" d="M12.534,30.605L0.544,2.324l1.959-2.09l30.006,9.063l-2.979,3.178L5.428,4.723l10.125,22.662 L12.534,30.605z"/></g></g><g id="_x2D__1_"><g><path fill="#FFFFFF" d="M58.636,82.076v-4.453h14.385v4.453H58.636z"/></g></g><g id="_x2D_"><g><path fill="#FFFFFF" d="M58.636,111.076v-4.453h14.385v4.453H58.636z"/></g></g></svg>
            </a>
        </li>
        <li class="toggle-topbar menu-icon"><a><span></span></a></li>
    </ul>

    <div class="mobile-navigation closed home-page-closed dark-blue">
        <ul>
            <a href="#!/what-we-do"><li>What we do</li></a>
            <a href="#!/our-work"><li>Our work</li></a>
            <a href="#!/services"><li>Services</li></a>
            <a href="#!/people"><li>People</li></a>
            <a href="#!/contact"><li>Contact</li></a>
        </ul>
    </div>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="#!/what-we-do">What we do</a></li>
            <li><a href="#!/our-work">Our work</a></li>
            <li><a href="#!/services">Services</a></li>
            <li><a href="#!/people">People</a></li>
            <li><a href="#!/contact">Contact</a></li>
        </ul>
    </section>
</nav>