<div class="home-header-content header-content">
    <img src="img/home-logo.png" alt="" title=""/>
</div>
<div class="home-header-background header-background"></div>

<section class="section-title">
	<h1 class="section-title-icon"><span class="icon-monitor"></span></h1>
	<h2>Digital Innovation</h2>
	<p>Progressive solutions making life, business and brands better.<br/>HOWL provides integrated marketing solutions from concept and strategy to design and development.</p>
</section>


<section class="quote-image-wrapper">
	<div class="diamond">
		<p><i>"Always deliver more<br/>than expected."</i><br/><span>- Larry Page, Google</span></p>
		<img src="img/diamond.png" />
	</div>
	<div class="quote-image"><img src="img/quote-img.jpg" alt="" title="" /></div>
</section>

<section id="what-we-do" class="section-title">
	<h2><span class="icon-pencil"></span></h2>
	<h2>What we do here</h2>
	<p>Thought-leaders in progressive digital services, HOWL believes in making exciting, simple &amp; new-world solutions for your brand, with the consumer in mind every step of the way.</p>
</section>

<section class="section-factors">
	<div class="row">
		<div class="small-11 small-centered columns">
			<div class="row">
				<div class="medium-3 columns factors-selector">
					<span class="icon icon-cogs"></span>
					<h3>Strategy</h3>
					<p>We lead businesses and brands through evolving technology, market trends and changes utilising user behaviour to enhance product and service performance. </p>
				</div>
				<div class="medium-3 columns factors-selector active">
					<span class="icon icon-layout"></span>
					<h3>UX</h3>
					<p>We create innovative user experiences, improving understanding and navigation of the user through the most natural &amp; intuitive interfaces.</p>
				</div>
				<div class="medium-3 columns factors-selector active">
					<span class="icon icon-ruler"></span>
					<h3>Design</h3>
					<p>The look and feel is the first point of contact with a brand and we like to create and keep the visual experience crafted, user-friendly and as visually appealing as possible.</p>
				</div>
				<div class="medium-3 columns factors-selector">
					<span class="icon icon-window"></span>
					<h3 class="hide-for-large-up">Dev</h3>
					<h3 class="hide-for-medium-down">Development</h3>
					<p>Technically experienced professionals ensure both quality when transforming ideas and designs into functional and efficient products.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="factors-slides-wrapper">
	<span class="factors-triangle"></span>
	<a class='next-arrow'></a>
	<a class='prev-arrow'></a>
	<div class="factors-slides" data-equalizer>
		<div>
			<div class="row collapse">
				<div class="large-6 large-push-6 columns factor-image" data-equalizer-watch style="background-image: url('img/slider-strategy.jpg')"></div>
				<div class="large-6 large-pull-6 columns copy dark-blue bg-pattern" data-equalizer-watch>
					<h4>Strategy</h4>
					<p>Strategy at HOWL combines account planning, digital and market mapping as well as relevant research into the full potential of a brand. This area is where ideas are moulded into a unique representation of business and brand, taking the first steps towards a strong relationship with users.</p>
				</div>
			</div>
		</div>
		<div>
			<div class="row collapse">
				<div class="large-6 large-push-6 columns factor-image" data-equalizer-watch style="background-image: url('img/slider-ux.jpg')"></div>
				<div class="large-6 large-pull-6 columns copy dark-blue bg-pattern" data-equalizer-watch>
					<h4>UX</h4>
					<p>As creators, we begin each project with a user-centric motivation behind all our designs. By guiding brands and users alike through innovation in tech, we strive above all to keep it relevant, simple &amp; natural.</p>
				</div>
			</div>
		</div>
		<div>
			<div class="row collapse">
				<div class="large-6 large-push-6 columns factor-image" data-equalizer-watch style="background-image: url('img/slider-design.jpg')"></div>
				<div class="large-6 large-pull-6 columns copy dark-blue bg-pattern" data-equalizer-watch>
					<h4>Design</h4>
					<p>Design at HOWL is bespoke and is a product based on a combination of art, aesthetic appeal and functionality. We like to create the cleanest and most modern designs for our brands that delight the user's eye, while holding their attention to key areas.</p>
				</div>
			</div>
		</div>
		<div>
			<div class="row collapse">
				<div class="large-6 large-push-6 columns factor-image" data-equalizer-watch style="background-image: url('img/slider-dev.jpg')"></div>
				<div class="large-6 large-pull-6 columns copy dark-blue bg-pattern" data-equalizer-watch>
					<h4>Development</h4>
					<p>Our multi-skilled team provides highly collaborative efforts that incorporate the project's learnings throughout production. Trained to create strategically from both front and backend solutions, the delivered product is a seamless &amp; effective testament to your brand.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-title" id="our-work">
	<h2><span class="icon-folder"></span></h2>
	<h2>Our Work</h2>
	<p>We can make you something you like, you want and that will grow.<br/>
	Have a look over some of our favourite projects of late:</p>
</section>

<section class="work-wrapper clearfix">
	<div class="grid small-12 small-centered columns">
		<figure class="effect-work" data-href="!/work/red-bull-x-fighters2014">
			<img src="img/thumb-xfighter2014.jpg" alt="xfighters2014">
			<figcaption>
				<p>Client <span>Red Bull</span></p>
				<p>Agency <span>Publicis Machine</span></p>
				<p class="work-links">
					<a href="#"><span class="icon-behance"></span></a>
					<a href="#"><span class="icon-link"></span></a>
				</p>
			</figcaption>
			<div class="description bg-pattern-small">
				<p>Red Bull X-Fighters<br/>2014</p>
			</div>		
		</figure>
		<figure class="effect-work" data-href="!/work/comfort-lavender">
			<img src="img/thumb-comfort.jpg" alt="Comfort">
			<figcaption>
				<p>Client <span>Comfort</span></p>
				<p>Agency <span>Niche Digital</span></p>
				<p class="work-links">
					<a href="#"><span class="icon-behance"></span></a>
					<a href="#"><span class="icon-link"></span></a>
				</p>
			</figcaption>
			<div class="description bg-pattern-small">
				<p>Comfort Fabric Softener</p>
			</div>	
		</figure>
		<figure class="effect-work" data-href="!/work/southern-comfort-ownyourawesome">
			<img src="img/thumb-soco.jpg" alt="soco">
			<figcaption>
				<p>Client <span>Southern Comfort</span></p>
				<p>Agency <span>Publicis Machine</span></p>
				<p class="work-links">
					<a href="#"><span class="icon-behance"></span></a>
					<a href="#"><span class="icon-link"></span></a>
				</p>
			</figcaption>
			<div class="description bg-pattern-small">
				<p>Southern Comfort SoCo<br/> #OwnYourAwesome</p>
			</div>	
		</figure>
		<figure class="effect-work" data-href="!/work/sanlam-reality">
			<img src="img/thumb-sanlam.jpg" alt="sanlamreality">
			<figcaption>
				<p>Client <span>Sanlam Reality</span></p>
				<p>Agency <span>Publicis Machine</span></p>
				<p class="work-links">
					<a href="#"><span class="icon-behance"></span></a>
					<a href="#"><span class="icon-link"></span></a>
				</p>
			</figcaption>
			<div class="description bg-pattern-small">
				<p>Sanlam Reality Refresh</p>
			</div>	
		</figure>
	</div>
</section>

<section class="iphone-slider collapse">

<div class="row">
  <div class="small-6 large-6 columns iphone-device">
	  <div class="device wp3 small-centered large-7 columns">
			<div class="device-content">
				<div class="showcase-slider">
					<ul class="slides" id="showcaseSlider">
						<li>
							<img src="img/phone-slide-1.jpg" alt="Device Content Image">
						</li>
						<li>
							<img src="img/phone-slide-2.jpg" alt="Wordpress Logo">
						</li>
						<li>
							<img src="img/phone-slide-3.jpg" alt="Nodejs Logo">
						</li>
						<li>
							<img src="img/phone-slide-4.jpg" alt="Nodejs Logo">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
  <div class="small-6 large-6 columns iphone-slider-copy">
  	<p class="small-centered large-7 columns">We host a bundle of digital services<br/>to help you solve &amp; accelerate your task.</p>
  	<a href="#!/services" title="Our Services" class="button">Our Full Services</a>
  </div>
</div>
</section>

<section class="section-title">
	<h2><span class="icon-chat2"></span></h2>
	<h2>Let's help?</h2>
	<p>From quotes to careers, media enquiries and anything else you have in mind, feel free to get hold of us any time. </p>
	<a href="#!/contact" class="button section-title-multi-button">Contact Us</a>
	<button type="button" class="button section-title-multi-button" disabled>Request a quote</button>
</section>
