<section class="section-title">
	<h1 class="section-title-icon"><span class="icon-users"></span></h1>
	<h1>Our Team</h1>
	<p>A combination of one the rarest and most sought after tools every agency strives for - an incredible team. Compatible and forward-thinking, HOWL is the brainchild of two individuals who together, make and create extraordinary products. </p>
</section>

<section>
	<div class="row">
		<div class="small-12 medium-12 large-11 xlarge-11 xxlarge-9 large-centered columns founders">
			<div class="small-12 medium-6 large-6 columns">
				<div class="founder-block dark-blue">
					<img src="img/founders-silk.jpg" title="" alt="" />
					<div class="founder-caption">
						<div class="founder-caption-inner bg-pattern">
							<h2>Dustin J Silk</h2>
							<span>Co-Founder</span>
						</div>
					</div>
				</div>
				<div class="copy">
					<h6 class="show-for-large-up">Dustin J Silk<span>- Co-Founder</span></h6>
					<p>A unique mind trained in technology and brand communication, Dustin is both a skilled developer and creative energy. While his background is in UX, Design and Development, he is constantly evolving and updating his skill set by accepting and mastering new challenges.</p>
				</div>
			</div>
			<div class="small-12 medium-6 large-6 columns">
				<div class="founder-block dark-blue">
					<img src="img/founders-mike.jpg" title="" alt="" />
					<div class="founder-caption">
						<div class="founder-caption-inner bg-pattern">
							<h2>Michael Celliers</h2>
							<span>Co-Founder</span>
						</div>
					</div>
				</div>
				<div class="copy">
					<h6 class="show-for-large-up">Michael Celliers<span>- Co-Founder</span></h6>
					<p>A forward thinking creative based in aesthetic design and innovation, Michael is a multidisciplinary developer, designer and director. His core interest is in the evolution of user experiences through interactive engagements. A hands-on approach and overall know-how of each project gives Michael the tools to deliver the best possible product.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section-title">
	<h2><img src="img/3sq-break.png" alt="" title="" class="section-title-icon" /></h2>
	<h2>Would you like to join us?</h2>
	<p>If you're relaxed, friendly, got a few skills &amp; love digital - then speak up!</p>
	<a href="#!/contact" class="button">Contact Us</a>
</section>