<div class="home-header-background header-background" style="background-image: url('portfolio/<%= project %>/header.jpg');"></div>

<section class="section-title">
	<h2><span class="icon-pencil"></span></h2>
	<h2><%= title %></h2>
	<h4><%= agency %></h4>
	<p><%= subtitle %></p>
</section>

<section class="section-title">
<div class="row">
  <div class="small-12 large-6 columns project-left-text">
  <h2><img src="img/3sq-break.png" alt="" title="" class="section-title-icon" /></h2>
  <p><%= copy %></p></div>
  <div class="small-12 large-6 columns project-seconday-img " style="background-image: url('portfolio/<%= project %>/secondary.jpg');"></div>
</div>
</section>

<% if (behancelink !== "" || livelink !== "") { %>
	<section class="section-title">
		<h2><span class="icon-chat2"></span></h2>
		<h2>Check it out</h2>
		<p>If you like this project, and wish to see more about it, go on and see for yourselves:</p>
		
		<% if (behancelink !== "") { %>
			<a href="<%= behancelink %>" class="button section-title-multi-button" target="_blank" title="Check it out on Behance">View on Behance</a>
		<% } %>
		
		<% if (livelink !== "") { %>
			<a href="<%= livelink %>" class="button section-title-multi-button" title="View live project" target="_blank">See it live</a>
		<% } %>
	</section>
<% } else { %>
	<div class="no-links-spacer"></div>
<% } %>
