<section class="section-title">
	<h1 class="section-title-icon"><span class="icon-edit"></span></h1>
	<h1>Our Services</h1>
	<p>With our deep experience in digital, HOWL has developed proven approaches to delivering impressionable solutions across all areas of a client relationship.</p>
</section>

<section class="section-services">
	<div class="row">
		<div class="small-11 small-centered columns" data-equalizer>
			<div class="small-11 medium-6 large-4 columns services-item" data-equalizer-watch>
			  	<div class="row">
			  		<div class="small-4 small-centered medium-uncentered columns">
			  			<span class="icon icon-sitemap"></span>
			  		</div>
			  		<div class="small-11 small-centered medium-uncentered columns">
			  			<h6>Strategy &amp; insight</h6>
			  			<p>In our opinion, consumer insights are only as good as the business problem they’re applied to. Our strategists spend as much time diagnosing and understanding business problems as they do applying the right data, tools, research and insights to find the right solution. From research design to digital strategy development, personae creation to content strategy, HOWL’s strategists deliver the right ideas for solving business problems large and small.</p>
			  			<ul class="services-key-points">
			  				<li>CONSUMER INSIGHTS</li>
			  				<li>MOBILE &amp; EMERGING MEDIA</li>
			  				<li>BRAND PLANNING</li>
			  			</ul>
			  		</div>
		  		</div>
		    </div>
			<div class="small-11 medium-6 large-4 columns services-item" data-equalizer-watch>
			  	<div class="row">
			  		<div class="small-4 small-centered medium-uncentered columns">
			  			<span class="icon icon-direction"></span>
			  		</div>
			  		<div class="small-11 small-centered medium-uncentered columns">
			  			<h6>Creative Direction</h6>
			  			<p>Our team knows more importantly than any medium or application, powerful creative comes from great ideas. Therefore our user-centric team never loses sight of creating usable, sharable &amp; effective ideas in order to generate the most positive results possible. From sites of any scale to design of any wish, we are well-focused on producing work to resonate across multiple digital touchpoints.</p>
			  			<ul class="services-key-points">
			  				<li>CONCEPT</li>
			  				<li>EXECUTION</li>
			  				<li>BRANDED CONTENT</li>
			  			</ul>
			  		</div>
			  	</div>
			</div>
			<div class="small-11 medium-6 large-4 columns services-item" data-equalizer-watch>
				<div class="row">
			  		<div class="small-4 small-centered medium-uncentered columns">
			  			<span class="icon icon-layout"></span>
			  		</div>
			  		<div class="small-11 small-centered medium-uncentered columns">
			  			<h6>User Experience</h6>
			  			<p>Perhaps our most passionate aspect, and in our personal opinion, the most vital step in any successful digital product. Our leading thought in innovation is user experience &amp; the infinite growth at can serve as a catalyst of. We can help you with the interaction design &amp; functionality of your brand new product, or with improving the interaction on an existing product.</p>
			  			<ul class="services-key-points">
			  				<li>USER SATISFACTION</li>
			  				<li>FUNCTIONALITY</li>
			  				<li>INTERACTION</li>
			  			</ul>
			  		</div>
		  		</div>
		  	</div>
			<div class="small-11 medium-6 large-4 columns services-item" data-equalizer-watch>
				<div class="row">
			  		<div class="small-4 small-centered medium-uncentered columns">
			  			<span class="icon icon-mouse"></span>
			  		</div>
			  		<div class="small-11 small-centered medium-uncentered columns">
			  			<h6>Digital Design</h6>
			  			<p>Successful design relies on multiple factors, and supports, enhances or improves our clients' &amp; their users' experience to gain a competitive edge. Our team loves simplicity, beauty &amp; quality products. Craft, above all, needs to be perfect. From the smallest or facets, we believe it all must, and will make an impression.</p>
			  			<ul class="services-key-points">
			  				<li>ATTRACTION</li>
			  				<li>EFFECTIVENESS</li>
			  				<li>IMPRESSIONABLE</li>
			  			</ul>
			  		</div>
			  	</div>
			</div>
			<div class="small-11 medium-6 large-4 columns services-item" data-equalizer-watch>
				<div class="row">
			  		<div class="small-4 small-centered medium-uncentered columns">
			  			<span class="icon icon-tablet"></span>
			  		</div>
			  		<div class="small-11 small-centered medium-uncentered columns">
			  			<h6>Responsive Solutions</h6>
			  			<p>Single device optimisation will hugely detrement your brands reach. We believe in maximizing the usability to the most extremes possible. We only practice in developing &amp; serving products at the highest calibre, with the most modern approaches &amp; tools to tackle our tasks; and to effectively work on desktop browsers and the myriad of mobile devices on the market.</p>
			  			<ul class="services-key-points">
			  				<li>INTUITIVE</li>
			  				<li>FLUID</li>
			  				<li>ADAPTIVE</li>
			  			</ul>
			  		</div>
			  	</div>
			</div>
			<div class="small-11 medium-6 large-4 columns services-item" data-equalizer-watch>
				<div class="row">
			  		<div class="small-4 small-centered medium-uncentered columns">
			  			<span class="icon icon-chat"></span>
			  		</div>
			  		<div class="small-11 small-centered medium-uncentered columns">
			  			<h6>Social Presence</h6>
			  			<p>The digital social boom has very much arrived where it is now imperitive to be active and prompt on social channels. Conversation is key to success for any brand, and our aim is to help brands build better communities and conversations, whether it's someone on the go on their mobile phone, or someone having trouble at home - we ensure you hear your customers, and they hear you.</p>
			  			<ul class="services-key-points">
			  				<li>CROSS CHANNEL</li>
			  				<li>BRAND CONSISTENCY</li>
			  				<li>BRAND CONSCIOUS</li>
			  			</ul>
			  		</div>
			  	</div>
			</div>
			<div class="small-11 medium-6 large-4 columns services-item" data-equalizer-watch>
				<div class="row">
			  		<div class="small-4 small-centered medium-uncentered columns">
			  			<span class="icon icon-embed2"></span>
			  		</div>
			  		<div class="small-11 small-centered medium-uncentered columns">
			  			<h6>Front End Development</h6>
			  			<p>As with design, craft is key to success. Our developers don't cut corners and strive for the most streamlined, fast-performing, efficient and pleasurable experience as possible. We adopt all the latest of technologies and stay on top of all trends with a whiff of front-end ability. As is a fine fitting suit, let your digital product be tailor made.</p>
			  			<ul class="services-key-points">
			  				<li>CROSS DEVICE</li>
			  				<li>CROSS BROWSER</li>
			  				<li>PERFORMANCE</li>
			  			</ul>
			  		</div>
			  	</div>
			</div>
			<div class="small-11 medium-6 large-4 columns services-item" data-equalizer-watch>
				<div class="row">
			  		<div class="small-4 small-centered medium-uncentered columns">
			  			<span class="icon icon-stack"></span>
			  		</div>
			  		<div class="small-11 small-centered medium-uncentered columns">
			  			<h6>Server Side Scripting</h6>
			  			<p>You use it every day, for banking, researching, shopping, and social media, but do you really know how the web works? Of course you don't! Let us at HOWL take care of your front to back end assignment of interaction, as well as data capturing, storing &amp; database security.</p>
			  			<ul class="services-key-points">
			  				<li>SCALEABLE</li>
			  				<li>POWERFUL</li>
			  				<li>SECURE</li>
			  			</ul>
			  		</div>
			  	</div>
  			</div>
		  	<div class="small-11 medium-12 large-4 columns services-item last-service" data-equalizer-watch>
		  		<div class="row">
			  		<div class="small-4 small-centered medium-uncentered columns">
			  			<span class="icon icon-wordpress2"></span>
			  		</div>
			  		<div class="small-11 medium-10 small-centered medium-uncentered columns">
			  			<h6>Content Management Systems</h6>
			  			<p>The charm of a CMS based product, is that it's multiutility aspects for serving non-technical people with a user functional administration area to easily manage @amp; customise your content, as well as offering oredered and systematic scheduling, allowing archiving and multiple admins to tackle large content solutions.</p>
			  			<ul class="services-key-points">
			  				<li>CUSTOMIZED</li>
			  				<li>ORDERED</li>
			  				<li>ADMINISTERED</li>
			  			</ul>
			  		</div>
			  	</div>
		  	</div>
		</div>
	</div>
</section>

<section class="section-title">
	<h2><span class="icon-chat2"></span></h2>
	<h2>Let's Help?</h2>
	<p>From quotes to careers, media enquiries and anything else you have in mind, feel free to get hold of us any time.</p>
	<a href="#!/contact" class="button section-title-multi-button">Contact Us</a>
	<button type="button" class="button section-title-multi-button" disabled>Request a quote</button>
</section>
