/* 	===============================================
	Fonts and Icons
   	============================================ */

@font-face {
	font-family: 'howl';
	src:url('fonts/howl.eot?-5il439');
	src:url('fonts/howl.eot?#iefix-5il439') format('embedded-opentype'),
		url('fonts/howl.woff?-5il439') format('woff'),
		url('fonts/howl.ttf?-5il439') format('truetype'),
		url('fonts/howl.svg?-5il439#howl') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'howl';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-behance:before {
	content: "\e600";
}

.icon-tag:before {
	content: "\e601";
}

.icon-tag2:before {
	content: "\e602";
}

.icon-link:before {
	content: "\e603";
}

.icon-phone:before {
	content: "\e604";
}

.icon-tablet:before {
	content: "\e605";
}

.icon-window:before {
	content: "\e606";
}

.icon-monitor:before {
	content: "\e607";
}

.icon-cog:before {
	content: "\e608";
}

.icon-cogs:before {
	content: "\e609";
}

.icon-sitemap:before {
	content: "\e60a";
}

.icon-chart:before {
	content: "\e60b";
}

.icon-location:before {
	content: "\e60c";
}

.icon-folder:before {
	content: "\e60d";
}

.icon-phone2:before {
	content: "\e60e";
}

.icon-direction:before {
	content: "\e60f";
}

.icon-mouse:before {
	content: "\e610";
}

.icon-stack:before {
	content: "\e611";
}

.icon-layout:before {
	content: "\e612";
}

.icon-chat:before {
	content: "\e613";
}

.icon-comments:before {
	content: "\e614";
}

.icon-chat2:before {
	content: "\e615";
}

.icon-chat3:before {
	content: "\e616";
}

.icon-pencil:before {
	content: "\e617";
}

.icon-pin:before {
	content: "\e618";
}

.icon-edit:before {
	content: "\e619";
}

.icon-addressbook:before {
	content: "\e61a";
}

.icon-envelope:before {
	content: "\e61b";
}

.icon-book:before {
	content: "\e61c";
}

.icon-globe:before {
	content: "\e61d";
}

.icon-ruler:before {
	content: "\e61e";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-wordpress2:before {
    content: "\eab7";
}

.icon-embed2:before {
    content: "\ea80";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-users:before {
    content: "\e972";
}

.icon-linkedin:before {
	content: "\eac8";
}

.icon-html52:before {
	content: "\eae0";
}

.icon-css3:before {
	content: "\eae1";
}


/* 	===============================================
	Global
   	============================================ */

   	html, body {
   		height: 100%;
   		font-size: 100%;
   		font-family: 'Open Sans', sans-serif;
   		-webkit-font-smoothing: antialiased;
   	}

   	.container {
   		height: 100%;
   	}

   	section {
		padding: 0 5%;
		z-index: 1;
		background-color: #fff;
		position: relative;
	}

	section.collapse {
		padding: 0;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Libre Baskerville', serif;
		color: #212227;
		-webkit-font-smoothing: antialiased;
	}

	h6 {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		letter-spacing: 0.05rem;
	}

	a, p {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #afa376;
		letter-spacing: 0.05rem;
		line-height: 1.8;
		-webkit-font-smoothing: antialiased;
	}
	
	a {
		text-decoration: none;
		display: inline-block;
		position: relative;
	}

	a:hover {
		color: #61593A;
	}

	a.link:after {
		content: "";
		width: 100%;
		height: 2px;
		background-color: #afa376;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	a.link:hover:after {
		background-color: #61593A;
	}

	.section-title {
		width: 100%;
		text-align: center;
		padding: 50px 0;
		background-color: #fff;
		position: relative;
	}

	.section-title h2,
	.section-title h1 {
		font-size: 70px;
		padding: 0 5%;
	}
	
	.section-title p {
		max-width: 1024px;
		margin: 20px auto 0px;
		padding: 0 5%;
	}

	.section-title .section-title-icon {
		font-size: 90px;
		line-height: 90px;
		margin: 0;
	}

	.section-title .button {
		margin-top: 60px;
		font-size: 1rem;
		padding: 1rem 4rem;
	}

	.section-title-multi-button {
		margin: 0 20px;
	}

	.heading-icon {
		color: #212227;
		font-size: 60px;
	}

	.dark-blue {
		background-color: #212227;
	}
	.blue {
		background-color: #333;
	}

	.bg-pattern {
		background-image: url(../img/pattern.png);
		background-repeat: repeat;
	}

	.bg-pattern-small {
		background-image: url(../img/pattern-small.png);
		background-repeat: repeat;
	}


	/* Extra column sizes */
	@media only screen and (min-width: 1280px) {
		.columns.xlarge-12 {width: 100%;}
		.columns.xlarge-11 {width: 91.66667%;}
		.columns.xlarge-10 {width: 83.33333%;}
		.columns.xlarge-9 {width: 75%;}
		.columns.xlarge-8 {width: 66.66667%;}
		.columns.xlarge-7 {width: 58.33333%;}
		.columns.xlarge-6 {width: 50%;}
		.columns.xlarge-5 {width: 41.66667%;}
		.columns.xlarge-4 {width: 33.33333%;}
		.columns.xlarge-3 {width: 25%;}
		.columns.xlarge-2 {width: 16.66667%;}
		.columns.xlarge-1 {width: 8.33333%;}
	}

	/* Extra column sizes */
	@media only screen and (min-width: 1440px) {
		.columns.xxlarge-12 {width: 100%;}
		.columns.xxlarge-11 {width: 91.66667%;}
		.columns.xxlarge-10 {width: 83.33333%;}
		.columns.xxlarge-9 {width: 75%;}
		.columns.xxlarge-8 {width: 66.66667%;}
		.columns.xxlarge-7 {width: 58.33333%;}
		.columns.xxlarge-6 {width: 50%;}
		.columns.xxlarge-5 {width: 41.66667%;}
		.columns.xxlarge-4 {width: 33.33333%;}
		.columns.xxlarge-3 {width: 25%;}
		.columns.xxlarge-2 {width: 16.66667%;}
		.columns.xxlarge-1 {width: 8.33333%;}
	}
	
	@media screen and ( max-width: 1024px ){
		.section-title h2, 
		.section-title h1 {
			font-size: 60px;
		}
	}
	
	@media screen and ( max-width: 740px ){
		.section-title .section-title-multi-button {
			width: 90%;
			padding: 1rem 20px;
			margin: 0 auto 20px;
			margin-top: 20px;
		}
		
		.section-title .section-title-multi-button:last-child {
			margin-bottom: 0px;
			margin-top: 0;
		}

	}

	@media screen and ( max-width: 640px ){

		a, p {
			font-size: 16px;
		}

		.section-title {
			padding: 50px 0;
		}

		.section-title h2, 
		.section-title h1 {
			font-size: 50px;
		}
	}
	

/* 	===============================================
	Form elements
   	============================================ */
	
	label {
		font-size: 20px;
		color: #afa376;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 25px;
	}
	
	label.error,
	.error label, 
	.error label.error {
		color: #afa376;
	}

	[data-abide] .error small.error, 
	[data-abide] .error span.error, 
	[data-abide] span.error, 
	[data-abide] small.error {
		background-color: #BA494B;
	
		padding: 5px 10px;
}
	
	textarea,
	input[type="text"],
	input[type="email"], 
	input[type="number"] {
		height: 70px;
		background-color: #ececec;
		border: none;
		box-shadow: none;
		margin-top: 10px;
	}

	textarea:focus,
	input[type="text"]:focus,
	input[type="email"]:focus, 
	input[type="number"]:focus {
		background-color: #27282d;
	}

	input[type="submit"] {
		outline: none;
		-webkit-outline: none;
		font-size: 1rem;
	}

	.input-wrapper {
		width: 100%;
		margin-top: 10px;
		position: relative;
		overflow: hidden;
	}
	
	.input-wrapper textarea,
	.input-wrapper input {
		background-color: #ececec;
		margin-top: 5px;
		color: #fff;
		-webkit-transition: background-color 0.3s ease;
		-moz-transition: background-color 0.3s ease;
		-ms-transition: background-color 0.3s ease;
		-o-transition: background-color 0.3s ease;
		transition: background-color 0.3s ease;
		font-size: 1.5rem;
		padding: 0 23px;
		color: #27282d;
	}

	.input-wrapper textarea:focus,
	.input-wrapper input:focus {
		left: 0;
		background-color: #27282d;
		color: #fff;
	}

	@media screen and ( max-width: 640px ){
		label {
			font-size: 22px;
		}

		input[type="text"], 
		input[type="email"], 
		input[type="number"] {
			height: 60px;
			font-size: 1.3rem;
		}

		textarea {
			font-size: 1.3rem;
		}

		input[type="submit"] {
			font-size: 22px;
			letter-spacing: 1px;
		}
	}



/* 	===============================================
	Navigation / Header
   	============================================ */
	
	header {
   		height: 5.5rem;
   		width: 100%;
   		-webkit-transition: height 1s ease;
   		-o-transition: height 1s ease;
   		transition: height 1s ease;
   	}

   	header.has-image {
		height: 100%;
	}

   	.header-wrapper {
   		height: 100%;
   		position: relative;
   		overflow: hidden;
	}
	
	.header-background {
   		position: absolute;
   		width: 100%;
   		top: 0;
   		background-position: center center;
		background-size: cover;
	}

	.header-content {
		position: relative;
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	.header-content:not(.home-header-content) {
		width: 100%;
	}

	.header-content h1 {
		color: #fff;
		text-align: center;
		font-size: 7rem;
		margin: 0;
		line-height: 6.5rem;
	}

	.header-content p {
		color: #fff;
		text-align: center;
		font-size: 1.9rem;
		padding: 0 10%;
	}

   	.top-bar {
   		height: 5.5rem;
   		background: #212227;
   		position: fixed;
   		width: 100%;
   		z-index: 10;
   	}
	
	.top-bar.expanded .title-area {
		background: #212227;
	}

   	.top-bar-section {
   		padding: 0;
   		padding-right: 5px;
	}
	
	.nav-logo {
		height: 100%;
		padding: 15px 15px 10px;
	}

   	.nav-logo a {
   		width: 65px;
   	}

   	.nav-logo svg path {
		fill: #fff;
   	}

   	.mobile-navigation {
   		width: 100%;
		height: auto;
		margin: -1px 0 0 0;
		position: fixed;
		display: none;
   	}
	
	.mobile-navigation ul {
		margin: 0;
	}
	
	.mobile-navigation ul a {
		color: #fff;
		display: block;
	}

	.mobile-navigation ul li {
   		text-align: center;
   		line-height: 40px;
   		border-bottom: 1px solid #fff;
   	}

	.top-bar-section li:not(.has-form) a:not(.button):hover,
	.top-bar-section li:not(.has-form) a:not(.button),
   	.top-bar-section ul li {
   		background: none;
   	}

   	.top-bar-section li:not(.has-form) a:not(.button) {
   		font-size: 14px;
   		color: #fff;
   		text-transform: uppercase;
   		font-weight: 600;
   		font-family: 'Open Sans', sans-serif;
   		height: 5.5rem;
   		line-height: 5.5rem;
   	}


	@media only screen and (max-width: 1440px) {
		.header-content h1 {
			font-size: 6rem;
		}
		.header-content p {
			font-size: 1.6rem;
		}
	}

	@media only screen and (max-width: 900px) {
		.header-content h1 {
			font-size: 5.2rem;
		}
		.header-content p {
			font-size: 1.4rem;
			line-height: normal;
		}

	}
	
	@media only screen and (max-width: 640px) {
		.top-bar {
			overflow: visible;
		}

		.top-bar-section {
			display: none;
		}
	}


/* 	===============================================
	Home Page
   	============================================ */

	.home-header-background {
		height: 100%;
		background-image: url(../img/home-bg-img.jpg);
	}

	.home .top-bar {
   		height: 5.5rem;
   		background: none;
   		position: relative;
   		top: 0;
	}

	.home .top-bar .toggle-topbar.menu-icon a span::after {
		box-shadow: 0 0 0 1px #626262,0 7px 0 1px #626262,0 14px 0 1px #626262;
	}

   	.home .nav-logo svg path {
		fill: #626262;
   	}

   	.home .top-bar-section li:not(.has-form) a:not(.button) {
		color: #626262;
   	}

   	.home .home-page-show {
   		background-color: #212227;
        color: #fff;
   	}

   	.home .home-page-show .top-bar-section li:not(.has-form) a:not(.button) {
   		color: #fff;
   	}

   	.home .home-page-show.top-bar .toggle-topbar.menu-icon a span::after {
		box-shadow: 0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
	}

   	.home .home-page-show .nav-logo svg path {
		fill: #fff;
   	}

   	@media screen and ( max-height: 740px ){
		.home-header-content {
			max-width: 330px;
		}
	}

	@media screen and ( max-width: 640px ){
		.home .top-bar {
			-webkit-transition: background-color 0.3s ease;
			-o-transition: background-color 0.3s ease;
			transition: background-color 0.3s ease;
		}

		.home .top-bar.open-menu {
			background-color: #212227;
		}
	}

	@media screen and ( max-height: 600px ){
		.home-header-content {
			max-width: 250px;
		}
	}

	@media screen and ( max-height: 480px ){
		.home-header-content {
			max-width: 200px;
		}
	}

	@media screen and ( max-height: 400px ){
		.home-header-content {
			max-width: 160px;
		}
	}



/* 	===============================================
	Home - Quote
   	============================================ */

	.quote-image-wrapper {
		height: 545px;
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.quote-image {
		position: absolute;
		top: 0;
		z-index: 1;
		left: 50%;
		width: 1920px;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}

	.diamond {
		width: 404px;
		height: 404px;
		position: relative;
	}

	.diamond img {
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%;
	}

	.quote-image-wrapper .diamond {
		margin: 0px auto;
		position: relative;
		top: 50%;
		z-index: 2;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.quote-image-wrapper .diamond p {
		text-align: center;
		position: relative;
		top: 50%;
		z-index: 2;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.quote-image-wrapper .diamond p span {
		text-align: right;
	}

	@media screen and ( max-width: 1440px ){
		.quote-image-wrapper {
			height: 500px;
		}
	}

	@media screen and ( max-width: 1280px ){
		.quote-image-wrapper {
			height: 400px;
		}

		.quote-image { 
			margin-top: -20px;
		}

		.quote-image-wrapper .diamond {
			-webkit-transform: translateY(-50%) scale(0.8);
			-ms-transform: translateY(-50%) scale(0.8);
			-o-transform: translateY(-50%) scale(0.8);
			transform: translateY(-50%) scale(0.8);
		}

		.quote-image-wrapper .diamond p {
			font-size: 21px;
		}
	}

	@media screen and ( max-width: 900px ){
		.quote-image-wrapper {
			height: 300px;
		}

		.quote-image { 
			width: 1280px;
		}

		.quote-image-wrapper .diamond {
			-webkit-transform: translateY(-50%) scale(0.7);
			-ms-transform: translateY(-50%) scale(0.7);
			-o-transform: translateY(-50%) scale(0.7);
			transform: translateY(-50%) scale(0.7);
		}

		.quote-image-wrapper .diamond p {
			font-size: 21px;
		}
	}
	
	@media screen and ( max-width: 404px ){
		.diamond {
			width: 100%;
		}

		.quote-image-wrapper .diamond p {
			-webkit-transform: translateY(-64%);
			-ms-transform: translateY(-64%);
			-o-transform: translateY(-64%);
			transform: translateY(-64%);
		}
	}
/* 	===============================================
	Home - Factors
   	============================================ */


	.section-factors {
		text-align: center;
	}

	.section-factors .icon {
		font-size: 40px;
		color: #27282d;
	}

	.section-factors h3 {
		font-size: 30px;
	}

	.factors-selector {
		cursor: pointer;

		-webkit-transition: opacity 0.3s ease;
		-o-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;
	}
	
	.factors-selector:not(.active) {
		opacity: 0.5;
	}

	/* Factors Slick SLider */
	.factors-slides-wrapper {
		position: relative;
		height: auto;
		padding: 80px 0 0 0;
	}

	.factors-triangle {
		top: 34px;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
		transform: translate(-50%, 0);

		-webkit-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
	
		position: absolute;
		display: block;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 45.5px 46px 45.5px;
		border-color: transparent transparent #212227 transparent;
	}

	.factors-slides .copy {
		text-align: left;
		padding: 60px 120px!important;
	}

	.factors-slides .copy h4 {
		color: #afa376;
		font-size: 53px;
	}

	.factors-slides .copy p {
		color: #fff;
		font-size: 18px;
		line-height: 1.8;
	}

	.factors-slides .slick-next , .factors-slides .slick-prev {
			display: none !important;
	}

	.factor-image {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.prev-arrow,
	.next-arrow {
		opacity: 0.65;
		width: 0;
		height: 0;
		border-style: solid;	
		position: absolute;	
		top: 100px;
		display: none!important;
		-webkit-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		transition: all 0.6s ease;
	}

	.prev-arrow:hover ,
	.next-arrow:hover {
		opacity: 1;
	} 

	.next-arrow {
		right: 10px;
		border-width: 27px 0 27px 27px;
		border-color: transparent transparent transparent #ffffff;
	}

	.prev-arrow {
		left: 10px;
		border-width: 27px 27px 27px 0;
		border-color: transparent #ffffff transparent transparent;
	}

	@media only screen and (max-width: 1024px) {
		.factor-image {
			height: 250px!important;
		}
		.factors-slides .copy {
			padding: 5%!important;
		}

		.project-seconday-img {
			clear: both;
			width: 100% !important;
			height: 300px !important;
			position: relative !important;
			top: none !important;
			right: none !important;
		}
	}

	@media only screen and (max-width: 640px) {

		.mobile-navigation {
			display: none;
		}

		.section-title h2,
		.section-title h1 {
			font-size: 38px;
		}

		.factors-slides .copy h4 {
			font-size: 28px;
			text-align: center;
		} 

		.factors-slides .copy p {
			text-align: center;
		}

		.section-factors , .factors-triangle{
			display: none;
		}

		.factors-slides-wrapper {
			padding: 0;
		}

		.factors-slides .slick-next , .factors-slides .slick-prev {
			display: inline-block !important;
			z-index: 2;
			margin-top: -450px;
			position: absolute;
			background-color: #fff;
		}
		
		.factors-slides .slick-prev {
			left: 0;
		}

		.factors-slides .slick-next {
			right: 0;
		}

		.factors-slides .copy {
			padding: 30px !important;
		}

		.prev-arrow,
		.next-arrow {
			display: block!important;
		}

	}
		


/* 	===============================================
	Home - Work
   	============================================ */

   	.work-wrapper {
   		height: auto;
   	}

	.grid {
		position: relative;
		margin: 0 auto;
		padding: 1em 0 4em;
		list-style: none;
		text-align: center;
		height: auto;
	}

	.grid figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 10px 1%;
		min-width: 320px;
		/*max-width: 455px;*/
		max-height: 640px;
		width: 23%;
		text-align: center;
		cursor: pointer;
	}

	.grid figure img {
		position: relative;
		display: block;
		min-height: 100%;
		max-width: 100%;
		width: 100%;
	}

	.grid figure figcaption {
		padding: 2em;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.25em;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.grid figure figcaption::before,
	.grid figure figcaption::after {
		pointer-events: none;
	}

	.grid figure figcaption,
	.grid figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	/* Anchor will cover the whole item by default */
	/* For some effects it will show as a button */
	.grid figure figcaption > a {
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}

	.grid figure p {
		word-spacing: -0.15em;
		font-weight: 500;
	}

	.grid figure p span {
		font-weight: 800;
	}

	.grid figure p {
		margin: 0;
	}

	.grid figure p {
		letter-spacing: 1px;
		font-size: 68.5%;
	}


	figure.effect-work figcaption {
		top: auto;
		bottom: 0;
		padding: 1em;
		height: 3.75em;
		background: #fff;
		color: #3c4a50;
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
	}

	figure.effect-work figcaption p:first-child {
		display: block;
		text-align: left;
		line-height: 22px;
	}

	figure.effect-work figcaption p {
		display: inline-block;
		margin: 0;
		line-height: 22px;
		vertical-align: top;
		text-align: left;
		float: left;
		clear: left;
	}

	figure.effect-work figcaption p:last-child {
		float: right;
		clear: none;
	}

	figure.effect-work p.work-links a {
		float: right;
		color: #3c4a50;
		font-size: 1.4em;
	}

	figure.effect-work:hover p.work-links a:hover,
	figure.effect-work:hover p.work-links a:focus {
		color: #252d31;
	}

	figure.effect-work .description {
		position: absolute;
		width: 200px;
		height: 200px;
		bottom: 8em;
		left: 50%;
		top: 130px;
		-webkit-transform: translate(-50%, 0) rotate(45deg) scale(0.5);
		-ms-transform: translate(-50%, 0) rotate(45deg) scale(0.5);
		-o-transform: translate(-50%, 0) rotate(45deg) scale(0.5);
		transform: translate(-50%, 0) rotate(45deg) scale(0.5);
		
		color: #fff;
		text-transform: none;
		background-color: #212227;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.4s ease;
		-o-transition: opacity 0.35s, -o-transform 0.4s ease;
		transition: opacity 0.35s, transform 0.4s ease;
		-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
	}

	figure.effect-work .description p {
		color: #fff;
		font-size: 90%;
		left: 50%;
		-webkit-transform: rotate(-45deg) translate(-18%, 0);
		-ms-transform: rotate(-45deg) translate(-18%, 0);
		-o-transform: rotate(-45deg) translate(-18%, 0);
		transform: rotate(-45deg) translate(-18%, 0);
		text-align: center;
		position: relative;
		top: 30%;
		left: 10%;
	}

	figure.effect-work p.work-links a {
		-webkit-transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		-webkit-transform: translate3d(0,200%,0);
		transform: translate3d(0,200%,0);
	}

	figure.effect-work p.work-links a span::before {
		display: inline-block;
		padding: 8px 10px;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-eye::before {
		content: '\e000';
	}

	.icon-paper-clip::before {
		content: '\e001';
	}

	.icon-heart::before {
		content: '\e024';
	}

	figure.effect-work p {
		display: inline-block;
	}

	figure.effect-work:hover .description {
		opacity: 1;
		-webkit-transform: translate(-50%, 0) rotate(45deg) scale(1);
		-ms-transform: translate(-50%, 0) rotate(45deg) scale(1);
		-o-transform: translate(-50%, 0) rotate(45deg) scale(1);
		transform: translate(-50%, 0) rotate(45deg) scale(1);
	}

	figure.effect-work:hover figcaption,
	figure.effect-work:hover figcaption p,
	figure.effect-work:hover figcaption p.work-links a {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	figure.effect-work:hover figcaption p {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
	}

	figure.effect-work:hover figcaption p.work-links a:nth-child(3) {
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}

	figure.effect-work:hover figcaption p.work-links a:nth-child(2) {
		-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s;
	}

	figure.effect-work:hover figcaption p.work-links a:first-child {
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;
	}

	figure.effect-work img {
		opacity: 0.75;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
	}

	figure.effect-work:hover img {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	@media only screen and (max-width: 1550px) {
		.grid figure {
			width: 48%;
		}
	}

	@media only screen and (max-width: 1024px) {
		
		figure.effect-work figcaption,
		figure.effect-work figcaption p,
		figure.effect-work figcaption p.work-links a {
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		figure.effect-work img {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		figure.effect-work .description {
			display: none;
		}

		figure.effect-work figcaption {
			bottom: 0px;
		}
	}

	@media only screen and (max-width: 800px) {
		.grid figure {
			width: 100%;
		}
	}
	
	@media only screen and (max-width: 480px) {
		.grid figure {
			min-width: 260px;
		}
	}



/* 	===============================================
	Home - Phone Quote
   	============================================ */

	.iphone-slider {
		width: 100%;
		height: auto;
		background-image: url(../img/faded-desk.jpg);
		background-color: #27282d;
		background-position: center center;
		margin: 80px 0 0;
	}
	
	.iphone-slider-copy {
		bottom: 60px;
		position: absolute;
		right: 0;
		text-align: center;
	}

	.iphone-slider-copy p {
		text-align: center;
		color: #27282d;
		font-family: 'Libre Baskerville', serif;
	}
	
	.home-iphone-services a.button {
		display: block;
		width: 200px;
		margin: 0 auto;
	}

	.device {
		min-height: 676px;
		width: 330px;
		background: url(../img/phone.png) no-repeat center center;
	}

	.showcase-slider {
		padding: 72px 38px 100px 9px;
		height: 676px;
		width: 330px;
		overflow: hidden;
	}

	.showcase-slider .slides {
		margin: 0;
	}
	
	.showcase-slider .slick-dots {
		margin: 0;
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 10px;
	}

	.showcase-slider .slick-dots li {
		display: inline-block;
		background-color: #3d4e67;
		border: 3px solid #fff;
		border-radius: 50%;
		width: 26px;
		height: 26px;
		margin: 0 5px;
	}

	.showcase-slider .slick-dots li button {
		font-size: 0;
		line-height: 0;
		display: block;
		width: 14px;
		height: 14px;
		cursor: pointer;
		color: transparent;
		border: 0;
		outline: none;
		background-color: #3d4e67;
		border-radius: 50%;
		padding: 0;
		margin: 3px 0 0 3px;
	}

	.showcase-slider .slick-dots li.slick-active button {
		background-color: #fff;
	}

	.bounceInDown {
		-webkit-animation-name: bounceInDown;
		animation-name: bounceInDown;
	}

	.animated {
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}
	

	@media only screen and (max-width: 640px) {
		.iphone-slider {
			height: 300px;
		}
	
		.iphone-device {
			display: none;
		}

		.iphone-slider-copy {
			width: 100%;
		}
	}

/* 	===============================================
	People
   	============================================ */
	
	.founders {
		overflow: hidden;
	}
	
	.founders .copy {
		margin: 20px 0;
	}

	.founders .copy h6 {
		text-transform: uppercase;
		font-weight: 400;
	}

	.founders h6 span {
		font-weight: 300;
	}

	.founders p {
		text-align: center;
		line-height: 1.8;
	}

	.founder-block {
		position: relative;
		overflow: hidden;
	}

	.founder-block img {
		z-index: 1;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);

		-webkit-transition: transform 0.9s ease;
		-o-transition: transform 0.9s ease;
		transition: transform 0.9s ease;
	}

	.founder-caption {
		z-index: 2;
		width: 60%;
		height: 60%;
		position: absolute;
		left: 50%;
		top: 50%;
		overflow: hidden;
		background-color: #212227;
		opacity: 0;
		transform: translate(-50%, -10%) rotate(45deg);
		-webkit-transition: opacity 0.3s ease, -webkit-transform 0.4s ease;
		-o-transition: opacity 0.3s ease, -o-transform 0.4s ease;
		transition: opacity 0.3s ease, transform 0.4s ease;
	}

	.founder-caption-inner {
		width: 140%;
		height: 140%;
		padding: 60% 0;
		-webkit-transform: translate(-15%, -15%) rotate(-45deg);
		-ms-transform: translate(-15%, -15%) rotate(-45deg);
		-o-transform: translate(-15%, -15%) rotate(-45deg);
		transform: translate(-15%, -15%) rotate(-45deg);
	}
	
	.founder-caption-inner h2 {
		text-align: center;
		font-size: 2.2rem;
		color: #afa376;
		margin: 0 0 15px;
		letter-spacing: 2px;
	}
	.founder-caption-inner span {
		text-align: center;
		width: 100%;
		display: inline-block;
		color: #fff;
		font-size: 1.5rem;
		font-family: 'Libre Baskerville', serif;
	}
	
	
	/* Founders hover */
	.founder-block:hover img {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	.founder-block:hover .founder-caption {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) rotate(45deg);
		-ms-transform: translate(-50%, -50%) rotate(45deg);
		-o-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
	}


	@media only screen and (max-width: 1280px) {
		.founder-caption-inner h2 {
			font-size: 1.8rem;
			margin-bottom: 5px;
		}

		.founder-caption-inner span {
			font-size: 1.3rem;
		}
	}

	@media only screen and (max-width: 1024px) {
		.founder-block img {
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
		.founder-block:hover .founder-caption,
		.founder-caption {
			position: relative;
			opacity: 1;
			left: 0;
			bottom: 0;
			width: 100%;
			top: initial;
			height: auto;
			-webkit-transform: translate(0,0);
			-ms-transform: translate(0,0);
			-o-transform: translate(0,0);
			transform: translate(0,0);
		}
		
		.founder-caption-inner  {
			width: 100%;
			height: auto;
			padding: 20px 10px;
			-webkit-transform: translate(0,0);
			-ms-transform: translate(0,0);
			-o-transform: translate(0,0);
			transform: translate(0,0);
		}
	}

	@media only screen and (max-width: 800px) {
		.founder-caption-inner h2 {
			font-size: 1.4rem;
			margin-bottom: 5px;
		}

		.founder-caption-inner span {
			font-size: 1.1rem;
		}
	}

	@media only screen and (max-width: 640px) {
		.founders > div:first-child {
			margin-bottom: 40px;
		}

	}


/* 	===============================================
	Our Work - Projects Page
   	============================================ */
	
	.project-seconday-img {
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
	}

	.project-left-text p {
		text-align: left;
	}

	.no-links-spacer {
		height: 60px;
		width: 100%;
	}

/* 	===============================================
	Contact Us
   	============================================ */

	.contact-header-background {
		height: 100%;
		background-image: url(../img/contact-bg-img.jpg);
	}

	.contact-header-content {
		width: 100%;
	}

	section.contact-details {
		padding: 90px 0;
	}

	.contact-icon {
		color: #212227;
		font-size: 60px;
		float: right;
	}
	
	.contact-maps {
		width: 100%;
		height: 470px;
		background-color: #000;
	}

	.contact-form {
		margin: 0 0 80px 0;
	}

	.contact-success {
		display: none;
	}

	.contact-textarea {
		height: 374px;
		padding: 20px;
	}

	.show-on-fail,
	.show-on-success {
		display: none;
	}

	@media only screen and (max-width: 1024px) {
		.contact-details-rq {
			margin: 40px 0 0 0;
		}

		.contact-maps {
			height: 320px;
		}
	}

	@media only screen and (max-width: 640px) {

		.contact-details-container > div {
			margin-top: 50px;
			text-align: center;
		}
		.heading-icon {
			float: none;
			margin-bottom: 20px;
			display: inline-block;
		}

		.contact-maps {
			height: 250px;
		}

		section.contact-details {
			padding: 30px 0 50px;
		}

		.contact-textarea {
			height: 200px;
		}

		.header-content h1 {
			font-size: 3.2rem;
		}

	}


/* 	===============================================
	Services
   	============================================ */
	.services-item {
		padding-bottom: 60px;
	}

	.services-item h6 {
		text-transform: uppercase;
	}

	.services-item .icon {
		font-size: 50px;
		color: #27282d;
		margin: -5px 0 20px 0;
		display: block;
	}

	.services-key-points {
		list-style: none;
		margin: 0;
		padding: 0;
	} 

	.services-key-points li {
		width: 100%;
		padding: 0;
		margin: 0;
		color: #27282d;
		text-transform: uppercase;
	}

	@media only screen and (max-width: 640px) {
		.services-item {
			text-align: center;
		}
	}

/* 	===============================================
	Footer
   	============================================ */

   	footer {
   		position: relative;
   		width: 100%;
   		bottom: 0;
   	}

   	.footer {
   		padding: 40px 0 30px;
   	}

   	.footer .logo {
   		width: 90px;
   		margin: 0 auto 30px;
   		text-align: center;
   	}

	.footer-links {
		text-align: center;
	}
	
	.footer-links a {
		text-transform: uppercase;
		font-family: 'Libre Baskerville', serif;
		font-size: 14px;
		margin-bottom: 20px;
		color: #afa376;
		-webkit-outline: none;
		outline: none;
	}

	.footer-links a:hover {
		color: #afa376;
	}

	.footer .social-links {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.footer .social-links li {
		padding: 0;
		margin: 0;
	}
	
	.footer .social-links a {
		color: #fff;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		text-transform: none;
		letter-spacing: 0.12rem;
		margin: 0;
	}

	.copyright p {
		color: #fff;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.12rem;
		text-align: center;
		width: 100%;
		margin: 30px 0 0 0;
	}

	@media only screen and (max-width: 1280px) {
		.footer .logo {
			width: 80px;
		}
		.footer-links a {
			font-size: 18px;
		}
	}

	@media only screen and (max-width: 640px) {
		.footer .logo {
			width: 80px;
		}
		.footer-links a {
			font-size: 16px;
		}
	}
	
















