@font-face {
	font-family: 'FuturaStd-Medium';
	src: url('fonts/FuturaStd-Medium.eot');
	src: local('☺'), url('fonts/FuturaStd-Medium.woff') format('woff'), url('fonts/FuturaStd-Medium.ttf') format('truetype'), url('fonts/FuturaStd-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaStd-Heavy';
	src: url('fonts/FuturaStd-Heavy.eot');
	src: local('☺'), url('fonts/FuturaStd-Heavy.woff') format('woff'), url('fonts/FuturaStd-Heavy.ttf') format('truetype'), url('fonts/FuturaStd-Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaStd-Bold';
	src: url('fonts/FuturaStd-Bold.eot');
	src: local('☺'), url('fonts/FuturaStd-Bold.woff') format('woff'), url('fonts/FuturaStd-Bold.ttf') format('truetype'), url('fonts/FuturaStd-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	float: left;
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 3px;
	background-image: url('../img/pattern-blue.jpg');
	background-position: center center;
	overflow-y: scroll;
}

a {
	word-wrap: break-word;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #b6b6b6;
}

nav ul {
	list-style: none;
	margin: 0;
}

nav li {
	float: left;
	margin: 0 20px 0 0;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

button:focus {outline:0;}

button {
	margin-bottom: 2px;
}

button:active {
	margin-bottom: 0px;
	margin-top: 2px;
}

@font-face {
	font-family: 'xfighters';
	src:url('../fonts/xfighters/xfighters.eot?-v8pmgn');
	src:url('../fonts/xfighters/xfighters.eot?#iefix-v8pmgn') format('embedded-opentype'),
		url('../fonts/xfighters/xfighters.woff?-v8pmgn') format('woff'),
		url('../fonts/xfighters/xfighters.ttf?-v8pmgn') format('truetype'),
		url('../fonts/xfighters/xfighters.svg?-v8pmgn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'xfighters';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-number:before {
	content: "\e600";
}
.icon-number2:before {
	content: "\e601";
}
.icon-number3:before {
	content: "\e602";
}
.icon-number4:before {
	content: "\e603";
}
.icon-number5:before {
	content: "\e604";
}
.icon-number6:before {
	content: "\e605";
}
.icon-number7:before {
	content: "\e606";
}
.icon-number8:before {
	content: "\e607";
}
.icon-number9:before {
	content: "\e608";
}
.icon-number10:before {
	content: "\e609";
}
.icon-cog:before {
	content: "\e60a";
}
.icon-cogs:before {
	content: "\e60b";
}
.icon-cog2:before {
	content: "\e60c";
}
.icon-medal:before {
	content: "\e60d";
}
.icon-medal2:before {
	content: "\e60e";
}
.icon-settings:before {
	content: "\e60f";
}
.icon-news:before {
	content: "\e61c";
}
.icon-world:before {
	content: "\e61d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-home:before {
	content: "\e61e";
}
.icon-ticket:before {
	content: "\e61f";
}
.icon-users:before {
	content: "\e620";
}
.icon-trophy:before {
	content: "\e610";
}
.icon-list:before {
	content: "\e621";
}
.icon-globe:before {
	content: "\e622";
}
.icon-share:before {
	content: "\e611";
}
.icon-steam:before {
	content: "\e612";
}
.icon-settings2:before {
	content: "\e613";
}
.icon-share2:before {
	content: "\e614";
}
.icon-house:before {
	content: "\e615";
}
.icon-rss:before {
	content: "\e623";
}
.icon-twitter:before {
	content: "\e616";
}
.icon-twitter2:before {
	content: "\e617";
}
.icon-facebook:before {
	content: "\e618";
}
.icon-facebook2:before {
	content: "\e619";
}
.icon-facebook3:before {
	content: "\e61a";
}
.icon-instagram:before {
	content: "\e61b";
}

/* --- GENERAL STYLING ---*/

.content-wrapper {
	height: auto!important;
	min-height: 100%;
	height: auto;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: inline-block;
	min-height: 100%;
	height: 100%;
}

.wrapper {
	background-color: #192032;
	border-top: 5px solid #fff;
	width: 100%;
    height: auto;
	/*min-height: calc(100% - 400px);*/
	background-image: url('../img/pattern-blue.jpg');
	background-position: center center;
}

.content-title{
	width: 100%;
	height:  330px;
}

#pattern {
	background-image: url('../img/pattern_01.jpg');
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 500px;
	z-index: -1;
}

#top_nav {
}

.top-nav {
	height: 50px;
	width: 100%;
	top: 0;
	background-color: #1b2233;
	position: fixed;
	z-index: 9999;
	-webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

#game {
	width: 100%;
	height: 100%;
	padding-top: 50px;
}

#game > div { 
	text-align: center;
	height: auto;
}

.home-logo {
	height: 100%;
	width: 170px;
	background-color: #ff0033;
	background-image: url('../img/home_logo.png');
	background-size: 160px 45px;
	background-position: center center;
	background-repeat:no-repeat;
	float: left;
	cursor: pointer;
}

.home-description {
	position: absolute;
	top: 100px;
	left: 55px;
	text-align: left;
	width: 40%;
}

.home-description img {
	max-width: 100%;
}

.hamburger {
	display: none;
}

.nav-desktop {
	display: block;
}
.nav-mobile {
	display: none;
}

.nav-container {
	height: 100%;
	width: 100%;
	background-color: #1b2233;
}

.nav-btn {
	height: 100%;
	width: auto;
	background-color: #1b2233;
	float: left;
	cursor: pointer;
}

.nav-btn:hover {
	background-color: #202f43;
}

.nav-btn.active {
	background-color: #202f43;
}

.nav-btn h3 {
	text-transform: uppercase;
	font-family: inherit;
	font-size: 16px;
	padding: 0 30px;
	color: #fff;
	text-align: center;
	display: inline-block;
}

.float-right {
	float: right !important;
}

/* --- LOG IN PAGE DESKTOP ---*/

#home {
	width: 100%;
	min-height: 700px;
	background-image: url('../img/home_bg.jpg');
	background-size: cover;
	background-position: center center;
}

#home .content-wrapper {
	max-width: 100%;
	width: 100%;
}

.login-wrapper {
	margin:0 auto;
}

#nav-home-btn span {
	display: none;
}

.login-wrapper .logo {
	height: 100%;
	max-height: 280px;
	width: 100%;
	max-width: 520px;
	float: left;
	padding: 80px 0 0 90px;
}

.login-wrapper .logo img {
	width: 100%;
}

.login-wrapper .button-holder {
	width: 440px;
	position: absolute;
	bottom: 90px;
	left: 50%;
	margin-left: -220px;
}

.login-wrapper .button-holder .button {
	width: 200px;
	height: 60px;
	color: #fff;
	background-color: #222B42;
	display: inline-block;
	float: left;
	margin: 2px 10px 0 10px;
	cursor: pointer;
}

.login-wrapper .button-holder .button:hover {
	background-color: #171E31;
}

.login-wrapper .button-holder .button:active {
	background-color: #171E31;
	margin: 4px 10px -4px 10px;
}



.login-wrapper .button-holder .button h3 {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}

#home .login-wrapper #login-buttons p {
	color: white;
	width: 100%;
	max-width: 350px;
	margin: 0 auto 10px;
	line-height: 21px;
	letter-spacing: 1px;
	font-size: 22px;
	text-shadow: 0 0 10px #000;
}

/* ------------
	How to Play
--------------- */

#howto {
	width: 100%;
	height:  100%;
	background-image: url('../img/pattern_01.jpg');
	background-position: center center;
}

.howto-title {
	height: 160px;
	background-color: #1b2233;
	padding-top: 57px;
	background-image: url("../img/howto-title.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 75%;
}

#howto .content-wrapper {
	height: 100%;
	margin-top: -280px;
	margin-bottom: 80px;
}

#howto h3 {
	text-align: center;
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	line-height: 22px;
	font-size: 12px;
}

#howto h2 {
	margin: 55px 0 12px;
}

#howto h3 span {
	font-style: italic; 
}

#howto .topbox {
	height: auto;
	min-height: 230px;
	width: 100%;
	background-color: #192133;
	float: left;
}

#howto .the-rules-titlebox {
	width: 230px;
	min-height: 230px;
	height: 100%;
	background-color: #192133;
	background-image: url('../img/simple.png');
	background-position: center center;
	background-size: 80%;
	background-repeat: no-repeat;
	float: left;
	display: inline-block;
}

#howto .the-rules-textbox {
	width: 100%;
	min-height: 230px;
	height: auto;
	padding-left: 230px;
	background-color: #192133;
}

#howto .the-rules-textbox ol {
	color: #fff;
	list-style-type: disc;
	text-align: left;
	background-color: #ea2333;
	margin: 0;
	min-height: 230px;
	padding: 10px 0 10px 30px;
}

#howto .midbox {
	height: auto;
	width: 100%;
	background-color: #192133;
	float: left;
}

#howto .points-titlebox {
	width: 230px;
	min-height: 230px;
	height: 100%;
	background-color: #192133;
	background-image: url('../img/fmxpoints.png');
	background-position: center center;
	background-size: 80%;
	background-repeat: no-repeat;
	float: right;
}

#howto .the-rules-textbox li {
	color: #fff;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
	line-height: 24px;
}

#howto .points-textbox {
	width: 100%;
	min-height: 230px;
	height: auto;
	background-color: #192132;
	padding-right: 230px;
}

#howto .points-textbox ol {
	color: #000;
	list-style-type: circle;
	text-align: left;
	padding-right: 5px;
	margin: 0;
	background-color: #fff;
	min-height: 230px;
	height: auto;
	padding: 10px 0;
	padding: 10px 5px 10px 30px;
}

#howto .points-textbox ol ul {
	text-align: left;
}

#howto .points-textbox li {
	color: #183663;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
	line-height: 24px;
}

#howto .bottombox {
	height: auto;
	width: 100%;
	background-color: #192133;
	float: left;
}

#howto .dial-titlebox {
	width: 230px;
	height: 270px;
	background-color: #192133;
	background-image: url('../img/fmxdial.png');
	background-position: center center;
	background-size: 80%;
	background-repeat: no-repeat;
	float: left;
}



#howto .dial-textbox {
	width: 100%;
	min-height: 270px;
	height: auto;
	padding-left: 230px;
	background-color: #fff;
}

#howto .dial-textbox .top {
	min-height: 120px;
	height: auto;
	width: 100%;
	background-color: #ea2333;
	float: left; 
}

#howto .dial-textbox .top ol {
	color: #fff;
	list-style-type: disc;
	text-align: left;
	float: left;
	color: #fff;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
	line-height: 24px;
}

#howto .dial-textbox .bottom-left {
	height: 175px;
	width: 50%;
	background-color: #fff;
	background-image: url('../img/howto-dial.jpg');
	background-position: center center;
	background-size: 70%;
	background-repeat: no-repeat;
	float: left; 
	color: #fff;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
	line-height: 24px;
}

#howto .dial-textbox .bottom-right {
	min-height: 175px;
	height: auto;
	width: 50%;
	background-color: #f9a737;
	float: right; 
}

#howto .dial-textbox .bottom-right h3 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 5px 5px 5px;
}

#howto .dial-textbox .bottom-right h3 span {
	font-size: 16px;
	font-weight: 800;
	line-height: 45px;
}


/* ------------
	Terms & How to
--------------- */

#terms {
	width: 100%;
	height:  100%;
}

#terms .content-wrapper {
	height: 100%;
	margin-top: -280px;
	margin-bottom: 80px;
}

.terms-title {
	height: 160px;
	background-color: #1b2233;
	padding-top: 57px;
	background-image: url("../img/terms-title.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 75%;
}

.terms-text , .howto-text {
	padding: 0 40px 40px;
}

#terms h2 {
	margin: 55px 0 45px;
}

#terms p {
	color: #183663;
	font-size: 14px;
	text-align: left;
	letter-spacing: 1px;
	line-height: 24px;
}

#terms ol { 
	counter-reset: item 
}

#terms li { 
	display: block; 
	position: relative; 
	color: #183663;
	font-size: 14px;
}

#terms li:before {
	color: #183663;
	font-size: 14px;
}

#terms ol > li:before { 
	content: counters(item, ".") " "; 
	counter-increment: item;
	position: absolute;
	left: -36px;
	letter-spacing: 0px;
}

#terms ol > li > ol { 
	padding-left: 45px;
}

#terms ol > li > ol > li:before { 
	left: -43px;
}

#terms ol > li > ol > li > ol { 
	padding-left: 58px;
}

#terms ol > li > ol > li > ol > li:before { 
	left: -55px;
}

/* ------------
	Play
--------------- */

#play {
	width: 100%;
	height:  100%;
}

#play .content-wrapper {
	padding: 0 54px 50px;
	position: relative;
	margin: -305px auto 0 auto;
	width: 100%;
	max-width: 800px;
}


.start-gate {
	width: 142px;
	height: 142px;
	margin: -100px 0 0 -71px;
	position: fixed;
	z-index: 100;
	border-radius: 50%;
	top: 410px;
	left: 50%;
	display: block;
	background-color: #fff;
	display: block;
	opacity: 0;
	-webkit-transition: opacity 0.8s ease;
	-o-transition: opacity 0.8s ease;
	transition: opacity 0.8s ease;
}

.start-gate span {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	text-align: center;
	margin-top: 41px;
	font-size: 44px;
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #1b2233;
}

.start-gate svg{
	position: absolute;
	left: 0;
	top: 0;
	stroke-dasharray: 263;
	-webkit-transition: stroke-offset 3s linear;
	-o-transition: stroke-offset 3s linear;
	transition: stroke-dashoffset 3s linear;
}


.start-gate.animate svg{
	stroke-dashoffset: 789;
}

.round-details {
	margin: 35px 0 0 0;
	position: relative;
}

#timer {
	width: 78px;
	height: 76px;
	position: relative;
	z-index: 3;
	float: left;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);

	-webkit-font-smoothing: antialiased;
}

#timer span {
	width: 78px;
	height: 76px;
	background-repeat: no-repeat;
	background-position: center center;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #c0c0c0;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#timer-circle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 78px;
	height: 76px;.
	background-color: #000;
}


.timer-dots {
	height: 39px;
	vertical-align: middle;
	display: table-row;
	width: 100%;

}

.timer-dots ul {
	list-style: none;
	margin: 0 0 0 6px;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
}

.timer-dots li {
	padding: 0;
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin: 0 5px;
	background-color: white;
}

.timer-dots li.correct {
	background-color: #38a948;
}
.timer-dots li.incorrect {
	background-color: #ff0033;
}


.question-block {
	width: 100%;
	background-color: #fff;
	text-align: center;
	padding: 0 20px;
}

.question-block h2 {
	font-size: 22px;
	color: #192032;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.question-block.picture .question-title {
	display: table;
	height: 38px;
	width: 100%;
}

.question-block.picture .question-title div {
	display: table-row;
}

.question-block.picture h2 {
	display: table-cell;
	vertical-align: middle;
}

.question-block.no-picture {
	display: block;
	overflow: visible;
	position: relative;
	padding: 0px 0 0 0;
	margin: 0 0 12px;
}

.question-block.no-picture .question-title {
	display: block;
	top: 13px;
	width: 100%;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
}

.question-block.no-picture .question-title div {
	display: table;
	height: 100%;
	width: 100%;
}

.question-block.no-picture img {
	width: 100%;
	height: auto;
	position: relative;
	bottom: 0;
	left: 0;
	margin: 13px 0 0;
}

.question-block.no-picture h2 {
	display: table-cell;
	vertical-align: middle;
}

.question-block.picture {
	display: block;
	overflow: visible;
	position: relative;
	padding: 20px 0 0 0;
}
.question-block.picture img {
	width: 100%;
	height: auto;
	position: relative;
	bottom: 0;
	left: 0;
}


.question-answer{
	text-align: center;
	display: table;
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.8s ease;
	-o-transition: opacity 0.8s ease;
	transition: opacity 0.8s ease;
}

.question-answer.active {
	opacity: 1;
}

.question-table {
	height: 420px;
	width: 100%;
	display: table;
	max-width: 530px;
	margin: 0 auto;
}

.question-cell {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	font-size: 30px;
	color: #000033;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.bar-timer {
	width: 100%;
	height: 6px;
	background-color: #fff;
	float: left;
	position: absolute;
	top: 0;
}

.bar-timer div {
	width: 0;
	height: 6px;
	background-color: #38a948;
	float: left;
	position: relative;
	overflow: visible!important;
}

.bar-timer span {
	font-size: 12px;
	color: #000;
	background-color: #fff;
	position: absolute;
	left: 50%;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 3px 0 0 3px;
	display: block;
	margin: -9px 0 0 -12px;
}

.quiz-answers {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: table-row;
	overflow: hidden;
}
.quiz-answers ul, ul li {
	margin:0;
	padding: 0;
	list-style-type: none;
}

.quiz-answers ul li {
	width: 50%;
	float: left;
	display: inline-block;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}

.quiz-answers ul li div{
	background: #fff;
	color: #192032;
	height: 60px;
	cursor: pointer;
	width: 100%;
	display: table;
	text-align: center;
}

.quiz-answers ul li span {
	display: table-cell;
	vertical-align: middle;
	font-size: 17px;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: 2px;
}

.quiz-answers:not(.answered) ul li div:hover{
	background-color: #dbdbdb;
}

.quiz-answers:not(.answered) ul li div:active{
}

.quiz-answers ul li.animate div{
	-webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.quiz-answers ul li.green div{
	background-color: #38a948;
}

.quiz-answers ul li.red div{
	background-color: #d33c38;
}

#question {
	-moz-transition: opacity 400ms linear;
	-o-transition: opacity 400ms linear;
	-webkit-transition: opacity 400ms linear;
	transition: opacity 400ms linear;
	opacity: 0;
}

.quiz-answers ul li.active,
#question.active {
	opacity: 1;
}





/* --- LEADERBOARD ---*/ 

#leaderboard2 {
	width: 100%;
	min-height: 100%;
	height: auto;
	background-image: url('../img/pattern_01.jpg');
	background-position: center center;
}

#leaderboard2 .content-wrapper {
	max-width: 1440px;
	padding-bottom: 50px;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#nav-leaderboard-btn span {
	display: none;
}

.leaderboard-btns {
	margin: 0 auto;
	height: 75px;
	padding: 60px 0 0 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.leaderboard-btns button {
	display: inline-block;
	height: 75px;
	margin: 0 10px;
	width: 270px;
	background-color: #1b2233;
	border: none;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center;
}

.leaderboard-btns button:hover , .leaderboard-btns button.active {
	background-color: #202f43;
}

.leaderboard-btns .leaders-friends {
	background-image: url("../img/buttons/leaders-friends.png");
}

.leaderboard-btns .leaders-friends:hover , .leaderboard-btns .leaders-friends.active {
	background-image: url("../img/buttons/leaders-friends-active.png");
}

.leaderboard-btns .leaders-national {
	background-image: url("../img/buttons/leaders-national.png");
}

.leaderboard-btns .leaders-national:hover , .leaderboard-btns .leaders-national.active {
	background-image: url("../img/buttons/leaders-national-active.png");
}

.podium-wrapper {
	max-width: 900px;
	width: 100%;
	height: 370px;
	margin: -170px auto 15px auto;
	/*opacity: 0;*/
}

.podium {
	width: 30%;
	display: inline-block;
	height: 100%;
	background-color: green;
	position: relative;
	overflow: hidden;
	background-image: url('../img/invite-friends.jpg');
	background-position: center center;
	opacity: 0;
	-webkit-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
	border-radius: 3px;
	overflow: hidden;
	cursor: default;
}

.podium .picture {
	height: 100%;
	width: 100%;
	min-width: 210px;
	background-image: url('../img/profilepic-mike.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.podium .picture .hover {
	background: rgb(25, 32, 50);
	opacity: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	font-size:100%;
}

.podium .picture .hover h3 {
	font-size: 170px;
	line-height: 335px;
	margin: auto 0;
	color: #fff;
} 

.podium .tag {
	height: 60px;
	width: 100%;
	background-color: #fff;
	position: absolute;
	bottom: 0;
}

.podium .tag .podium-number {
	width: 40px;
	height: 100%;
	float: left;
}

.podium:first-child .tag .podium-number {
	background-color: #d5af19;
}

.podium:nth-child(2) .tag .podium-number {
	background-color: #c1bcb1;
}

.podium:nth-child(3) .tag .podium-number {
	background-color: #aa7b28;
}

.podium .tag .podium-number h3 {
	color: #fff;
	font-size: 30px;
	margin: 0;
	line-height: 60px;
}

.podium .tag .podium-tag-wrapper {
	padding: 5px 5px 5px 45px;
	width: 100%;
	height: 100%;
}

.podium .tag .podium-tag-wrapper h3 {
	color: #2c2c2c;
	font-size: 13px;
	margin: 5px -50px 0 0;
	text-align: left;
	font-weight: 900;
	display: inline-block;
	float: left;
	width: 100%;
}

.podium .tag .podium-tag-wrapper h3 .hide {
	display: none;
}

.podium .tag .podium-tag-wrapper h2 {
	color: #2c2c2c;
	font-size: 13px;
	width: 100%;
	margin: 5px -50px 0 0;
	text-align: left;
	font-weight: 400;
	display: inline-block;
	float: left;
	/*clear: left;*/
}

.podium .tag .podium-tag-wrapper h2 span {
	font-weight: 900;
	display: inline-block;
}

.podium .tag .badge {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #DADADA;
	float: right;
	display: inline-block;
	background-size: cover;
}

.top10 {
	width: 20%;
	height: 250px;
	margin: 10px;
	/*float: left;*/
	position: relative;
	display: inline-block;
	background-image: url('../img/invite-friends.jpg');
	background-position: center center;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
	border-radius: 3px;
	overflow: hidden;
	cursor: default;
}

.top10 .picture {
	width: 100%;
	height: 100%;
	min-width: 210px;
	margin-bottom: -40px;
	background-image: url('../img/invite-friends.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top10 .picture .hover {
	background: rgb(25, 32, 50);
	opacity: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	font-size: 100%;
} 

.top10 .picture .hover h3 {
	font-size: 170px;
	margin: 0;
	color: #fff;
}

.top10 .tag {
	height: 40px;
	width: 100%;
	background-color: #fff;
	/*position: absolute;
	bottom: 0;*/
	padding: 5px;
}

.top10 .tag h3 {
	color: #2c2c2c;
	font-size: 12px;
	margin: 0px 30px 0px 0px;
	text-align: left;
	font-weight: 900;
	/*display: inline-block;
	float: left;*/
	width: auto;
	/*overflow: hidden;*/
    /*white-space: nowrap;*/
}

.top10 .tag h3 .hide {
	display: inline-block;
}

.top10 .tag h3 .dots {
	display: none;
}

.top10 .tag h2 {
	color: #2c2c2c;
	font-size: 11px;
	margin: 0;
	text-align: left;
	font-weight: 400;
	display: inline-block;
	float: left;
	/*clear: left;*/
}

.top10 .tag h2 span {
	font-weight: 900;
}

.top10 .tag .badge {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	border-radius: 50%;
	background-color: #DADADA;
	float: right;
	display: inline-block;
	background-size: cover;
}

.top10-invite {
	width: 20%;
	height: 250px;
	margin: 10px;
	/*float: left;*/
	position: relative;
	display: inline-block;
	opacity: 0;
	background-image: url('../img/invite-friends.jpg');
	background-position: center center;
}

.top10-invite .picture {
	width: 100%;
	height: 100%;
	min-width: 210px;
	background-image: url('../img/invite-friends.jpg');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top10-invite .tag {
	background-color: #fff;
}

/*.top10-invite .tag h3 {
	text-align: center; 
	float: initial;
	font-size: 13px;
	line-height: 20px;
	width: 100%;
}*/

.top10 .tag h4 { 
		font-size: 12px;
		margin: 0;
	}

#invitemates {
	cursor: pointer;
}

.mobile-podium {
	display: none !important;
}

.podium:nth-child(2) {
	margin: 0 3%;
}

.friends-gloabl-nav {
	margin: 0 auto;
	width: 100%;
	height: 80px;
}

.friends-globalbtn {
	width: calc(50% - 2px);
	height: 100%;
	background-color: #132b4f;
	box-shadow: 0px 5px #000033;
	display: inline-block;
	float: left;
	cursor: pointer;
}

.friends-globalbtn:first-child {
	border-right: solid 4px #2a5e9b;
}

.friends-globalbtn h3 {
	color: #fff;
	font-size: 24px;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.leaderboard {
	margin: 0 1% 0 0;
	width: 59%;
	height: auto;
	padding-top: 40px;
	overflow: hidden;
	float: left;
}
.leaderboard ul, ul li {
	margin:0;
	padding: 0;
	list-style-type: none;
}
.leaderboard ul {
	margin-top: 10px;
	color: #fff;
}
.leaderboard ul li {
	margin: 0 0 5px 0;
	height: auto;
	overflow: auto;
	padding: 5px 10px;
	font-size: 18px;
	-webkit-transition: background-color 0.5s ease-out;
  	-moz-transition: background-color 0.5s ease-out;
  	-o-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

/*.leaderboard ul li:first-child {
	padding: 15px 10px;
	margin-bottom: 10px;
}*/

.leaderboard ul li:nth-child(odd) {
	background-color: #1b467d;
}

.leaderboard ul li:nth-child(even) {
	background-color: #2a5e9b;
}

.leaderboard ul li:hover { 
	background-color: #132b4f;
}

.leaderboard ul li .ranking {
	min-width: 50px;
	width: auto;
	display: inline-block;
	margin: 8px 0 0 0;
	float: left;
}

.leaderboard ul li .ranking p {
	font-size: 24px;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	text-align: left;
	margin: 0;
	display: inline;
}

.leaderboard ul li .leader-ranking-name {
	display: inline;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	text-align: left;
	margin: 0;
	padding-right: 10px;
	display: inline-block;
	float: left;
	width: 220px;
	text-transform: uppercase;
}

.leaderboard ul li .leader-ranking-name h2 {
	margin: 10px 0 0 0;
	font-size: 22px;
}

.leaderboard ul li .leader-ranking-score {
	display: inline;
	font-size: 22px;
	line-height: 24px;
	color: #0f1131;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	text-align: left;
	margin: 13px 0 0 0;
	display: inline-block;
	float: left;
	text-transform: uppercase;
}

.leaderboard ul li .leader-ranking-score h3 {
	margin: 0;
	font-size: 18px;
}

.leaderboard ul li.user-ranking .leader-ranking-pic {
	background-color: red;
	float: right;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 2;
	position: relative;
	display: inline-block;
}

.leaderboard ul li.user-ranking .leader-ranking-pic img {
	overflow: hidden;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.leaderboard ul li.user-ranking .leader-ranking-badge {
	background-color: green;
	float: right;
	width: 45px;
	margin: 3px -8px 0 0;
	height: 45px;
	border-radius: 50%;
	z-index: 1;
	position: relative;
	display: inline-block;
}

.leaderboard ul li .leader-ranking-pic {
	background-color: red;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 2;
	position: relative;
	display: inline-block;
}

.leaderboard ul li .leader-ranking-pic img {
	overflow: hidden;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.leaderboard ul li .leader-ranking-badge {
	background-color: green;
	float: right;
	width: 35px;
	margin: 3px -5px 0 0;
	height: 35px;
	border-radius: 50%;
	z-index: 1;
	position: relative;
	display: inline-block;
}

.white-top-wrap {
	max-width: 800px;
	width: 100%;
	height: 400px;
	margin: -350px auto 0 auto;
	background-color: #fff;
	padding: 0 30px;
}

.white-top-wrap-leaders {
	max-width: 800px;
	width: 100%;
	height: 400px;
	margin: -200px auto 0 auto;
	background-color: #fff;
}

.white-top-wrap-leaders h1 {
	background-color: #1b2233;
	margin: 0;
	padding: 40px;
}

.white-top-wrap-leaders h1 img {
	width: 100%;
	max-width: 361px;
}

.social-nav {
	margin: 0 auto;
	width: 100%;
	height: 80px;
	background-color: #132b4f;
	box-shadow: 0px 5px #000033;
}

.social-nav .heading {
	width: 55%;
	height: 100%;
	float: left;
	display: inline-block;
}

.social-nav .heading h3 {
	line-height: 80px;
	margin: 0;
	color: #fff;
	font-size: 24px;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.social-nav .feeds {
	width: 45%;
	height: 100%;
	float: right;
	display: inline-block;
}

.social-nav .feeds .btn {
	display: inline-block;
	color: #ededed;
	width: 35px;
	height: 35px;
	margin-top: 45px;
	cursor: pointer;
	-webkit-transition: color 0.2s ease-out;
  	-moz-transition: color 0.2s ease-out;
  	-o-transition: color 0.2s ease-out;
  	transition: color 0.2s ease-out;
}

.social-nav .feeds .btn:hover {
	margin-top: 40px;
	color: #fff;	
}


.social-nav .feeds .btn h3 {
	line-height: 40px;
	font-size: 22px;
	text-align: left;
	margin: 0;
}

#social .white-top-wrap > img {
	margin: 45px 0 40px 0;
	max-width: 100%;
}

.button-container {
	width: 520px;
	text-align: left;
	display: inline-block;
}

.social-heading h2 {
	color: #425481;
	font-size: 24px;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	margin: 44px 0 -5px 0;
}

.social-heading p {
	color: #425481;
	font-size: 15px;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.social-btn {
	width: 100%;
	max-width: 250px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	position: relative;
}

.facebookbtn {
	background-color: #5571b0!important;
	background-image: url('../img/login_with_facebook_large.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.facebookbtn-share {
	background-color: #5571b0!important;
	background-image: url('../img/share_with_facebook_large.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.twitterbtn {
	background-color: #00acee!important;
	background-image: url('../img/login_with_twitter_large.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.twitterbtn-share {
	background-color: #00acee!important;
	background-image: url('../img/share_with_twitter_large.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.socialfeed {
	width: 40%;
	height: auto;
	margin: 40px 0 40px 0;
	float: right;
}

.social-filter-icons-wrap {
	width: 100%;
	max-width: 800px; /*width of white box above*/
	height: 100%;
	margin: 15px auto 0 auto;
}

.social-filter-icons {
	width: 100%;
	max-width: 350px;
	height: 50px;
}

.social-filter-icons h3 {
	color: #fff;
	text-align: left;
	font-size: 14px;
	line-height: 50px;
	margin: 0;
	font-weight: 200;
	float: left;
	display: inline-block;
}

.social-filter-icons .icons {
	display: inline-block;
	float: left;
	padding: 0 0 0 15px;
	margin: 0;
}

.social-filter-icons .icons span {
	font-size: 24px;
	line-height: 50px;
	color: #fff;
	padding: 0 5px;
	cursor: pointer;
	-webkit-transition: color 400ms ease;
    -moz-transition: color 400ms ease;
    -o-transition: color 400ms ease;
    transition: color 400ms ease;
}

.social-filter-icons .icons span.active,
#allfeedbtn:hover , #twitterfeedbtn:hover ,
#fbfeedbtn:hover , #instafeedbtn:hover , #sitefeedbtn:hover {
	color: #ff0033;
}

.social-hyper-link {
	color: #1D3AAC;
}

.news-wrapper {
	margin-top: 10px;
}

.news-wrapper div ul {
	margin: 0;
	padding: 0;
}

.news-wrapper div ul li {
	padding: 15px;
	border: 1px solid #132b4f;
	overflow: auto;
	text-align: left;
}

#sitefeed li .img-wrap {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 15px;
	float: left;
	display: inline-block;
	/*background-image: ;*/
	background-color: red;
}

#sitefeed li .img-wrap span {
	color: #fff;
	font-size: 30px;
	line-height: 50px;
	margin-left: 9px;
}

#sitefeed li .text {
	display: block;
	float: left;
	width: calc(100% - 65px);
}

#sitefeed li .text p {
	display: block;
	margin: 0;
	line-height: 20px;
	font-size: 13px;
	text-align: left;
}

#sitefeed a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
}

#fbfeed img {
	width: 100%;
}

#twitterfeed li .img-wrap img {
	border-radius: 50%;
	display: inline-block;
}

#twitterfeed li .img-wrap {
	width: 50px;
	height: 50px;
	padding-right: 15px;
	float: left;
	margin-right: 10px;
	display: inline-block;
}

#twitterfeed li .text {
	display: block;
	float: left;
	width: calc(100% - 65px);
}

#twitterfeed li .text p {
	display: block;
	margin: 0;
	text-align: left;
	line-height: 20px;
}

#twitterfeed li .text .timeago {
    font-size: 10px;
    padding-left: 5px;
    font-weight: 100;
}

#twitterfeed li .text div {
	float: right;
	display: inline-block;
} 

#twitterfeed li .text a {
	float: left;
	display: inline-block;
	text-decoration: none;
}

#twitterfeed li .text p span {
	font-size: 15px;
	font-weight: bold;
	color: #132b4f;
}

#instafeed a {
	width: 50%;
	padding:5px 5px 1px 5px;
	border:1px solid #e1e1e1;
	display:inline-block;
	border-radius: 4px;
	position:relative;
}

#instafeed a img { 
	border: 0;
	width: 100%;
}

#instafeed .likes {
  background:rgba(24,54,99,0.8);
  font-family:sans-serif;
  font-size:1em;
  position:absolute;
  color:#ffffff;
  right:5px;
  top:5px;
  left:5px;
  opacity:0;
  height: calc(100% - 10px);
  text-shadow:0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed .likes p {
	top: 50%;
	width: 100%;
	margin-top: -5px;
	position: absolute;
	text-align: center;
	color: #fff;
}

#instafeed a:hover .likes {
  opacity:1;
}


/* ------------
	social
--------------- */

#social {
	width: 100%;
	height:  100%;
}

#social .content-title{
	width: 100%;
	height:  400px;
	
}

#social .wrapper {
	background-color: #192032;
	border-top: 5px solid #fff;
	width: 100%;
	min-height: 800px;
}

#social .content-wrapper {
	max-width: 1440px;
}

#nav-social span {
	display: none;
}

#social p {
	font-size: 14px;
}

.social-item {
	width: 25%;
	padding: 15px;
}

.social-item > div {
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
}

.social-item img {
	max-width: 100%;
	width: 100%;
}

.social-item.rss {
	width: 25%;
}

.social-item.rss p {
	text-decoration: underline;
}

.social-item a {
	color: #2c2c2c;
	text-decoration: none;
}

.social-item h3{
	color: #1b2233;
	font-size: 22px;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 10px 15px;
	margin: 0;
	text-align: left;
	position: relative;
}

.social-item h3 span {
	font-size: 14px;
	margin-left: 7px;
	color: #B6B6B6;
}

.social-item  p{
	color: #202f43;
	font-size: 17px;
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 0 15px 15px;
	text-align: left;
	margin: 0;
	text-align: left;
	line-height: 22px;
	letter-spacing: 1px;
}

.social-item.fbrss {
	width: 50%;
}

.social-item.fbrss p {
	text-decoration: none;
}


.social-item.twrss p{
	text-decoration: none;
}

.social-icon {
	position: absolute;
	top: 6px;
	right: 10px;
	font-size: 28px;
	
}

.twrss .social-icon {
	color: #20b9ff;
}
.instarss .social-icon {
	color: #3d6d95;
}
.fbrss .social-icon {
	color: #3d6d95;
}




/* --- PROFILE // SCORE SPEEDO --- */

.profilepic {
	display: inline-block;
	height: 37px;
	width: 37px;
	float: right;
	overflow: hidden;
	border-radius: 50%;
	margin: 5px 0 0 10px;
	border: 2px solid #fff;
}

.profilepic img {
	height: 100%;
}

.nav-name {
	float: right;
}

#results,
#profile {
	width: 100%;
	height:  100%;
}

#results .content-wrapper,
#profile .content-wrapper {
	height: 100%;
	width: 100%;
	max-width: 760px;
	margin: -300px auto 0 auto;
}

.profile-content {
	background-color: #fff;
	border-radius: 0 0 3px 3px;
}

.cover-image {
	height: 271px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-color: #f6f6f6;
	-webkit-transition: height 1s ease;
	-o-transition: height 1s ease;
	transition: height 1s ease;
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.profile-frame {
	text-align: left;
}

.profile-picture {
	width: 180px;
	height: 180px;
	margin: -90px 0 0 25px;
	border-radius: 50%;
	border: 5px solid #fff;
	overflow: hidden;
	float: left;
	opacity: 0;
	-webkit-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.profile-picture img {
	width: 100%;
	height: 100%;
}

.profile-frame h3{
	float: left;
	float: left;
	margin: -45px 0 0 20px;
	font-size: 30px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.profile-share-buttons {
	margin: 35px 0 35px 0;
}

.userprofile-login {
	width: 320px;
	margin: 0 auto;
	height: auto;
	padding-top: 25px;
}

.userprofile-login h3 {
	font-size: 25px;
	height: 80px;
	line-height: 80px;
	padding: 0 10px;
	width: 150px;
	margin: 0;
	text-transform: uppercase;
	float: left;
}

.userprofile-login .profile-pic {
	border-radius: 50%;
	overflow: hidden;
	height: 80px;
	width: 80px;
	background-image: url('../img/profile-default.jpg');
	background-size: 80px 80px;
	position: relative;
	border: 3px solid #ccc;
	float: left;
}

.userprofile-login .button-wrapper {
	width: 320px;
	height: auto;
	clear: both;
	float: left;
}

.userprofile-login .button-wrapper button {
	width: 320px;
	height: 40px;
	margin-bottom: 5px;
	color: #fff;
}

.userprofile-login .button-wrapper .facebook  {
	background-color: #46629E;
}

.userprofile-login .button-wrapper .twitter  {
	background-color: #53A8E9;
}

.profile-details {
	width: 100%;
	height: auto;
	position: relative;
	margin: 0 0 50px 0;
	clear: both;
}

.profile-details-box {
	width: 100%;
	max-width: 370px;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.username {
	width: auto;
	margin-top: 50px;
	text-transform: uppercase;
	float: left;
}

.username-weight {
	width: 130px;
	margin-top: 50px;
	float: left;
}

.username h3 {
	font-size: 20px;
	margin: 0;
	padding-left: 10px;
}

.username span {
	font-size: 16px;
	padding-left: 10px;
}

.profile-frame-pic-wrapper {
	margin: 0 auto;
	height: auto;
	width: auto;
	padding-top: 20px;
	position: relative;
	display: inline;
	float: left;
}

.profile-frame-pic {
	border-radius: 50%;
	overflow: hidden;
	height: 124px;
	width: 124px;
	position: relative;
	border: 3px solid #ccc;
	float: left;
	z-index: 5;
}

.profile-frame-entries {
	border-radius: 50%;
	overflow: hidden;
	height: 75px;
	width: 75px;
	position: relative;
	border: 3px solid #ccc;
	float: left;
	margin: 30px -15px 0 60px;
	z-index: 3;
}

.profile-frame-entries h3 {
	line-height: 35px;
	font-size: 35px;
	margin: 0;
	padding-top: 10px;
	text-align: center;
}

.profile-frame-entries h4 {
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}

.profile-frame-badge {
	border-radius: 50%;
	overflow: hidden;
	height: 75px;
	width: 75px;
	position: relative;
	border: 3px solid #ccc;
	float: left;
	margin: 70px 0 0 -25px;
	z-index: 3;
}

.profile-frame-badge img {
	width: 75px;
}

.play-share-wrapper {
	width: 530px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.play-share-wrapper button {
	width: 248px;
	height: 65px;
	display: inline-block;
	border: 0;
	color: #fff;
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: relative;
	float: left;
	letter-spacing: 2px;
}

.twitterbtn:hover {
	background-color: #58A2BD;
}

.facebookbtn:hover {
	background-color: #384669;
}

.share-icon {
	position: absolute;
	top: 13px;
	left: 18px;
	font-size: 37px;
}

.play-share-wrapper > div {
	float: left;
	width: 100%;
	padding: 10px 0 0 0;
}

.profile-share-buttons p {
	color: white;
	text-transform: uppercase;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	line-height: 21px;
	letter-spacing: 1px;
}

.profile-share-buttons #login-buttons p {
	margin: 0 auto 10px;
	max-width: 360px;
}

.icon-facebook.share-icon {
	color: #fff;
}

.icon-twitter.share-icon {
	color: #fff;
	left: 23px;
}

.profile-details p {
	margin: 0 auto;
	width: 200px;
	text-align: center;
	font-size: 10px;
	color: #183663;
	text-transform: uppercase;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.play-again {
	margin: 15px 15px 5px 0;
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid #1b2233;
	background-color: #fff;
	-webkit-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.play-again:hover {
	background-color: #f2f2f2;
}

.play-again:active {
	margin: 13px 15px 7px 0;
}

.speedo {
	position: relative;
	clear: both;
	max-width: 463px;
	height: auto;
	margin: 0 auto;
	background-size: contain;
	background-repeat:no-repeat;
	list-style: none;
	overflow: hidden;
	opacity: 1;
	-webkit-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.speedo-top-wrap {
	height: 100%;
	padding-top: 40%;
}

.speedo-top {
	width: 27%;
	position: relative;
	margin: 0 auto;
	z-index: 4;
	border-radius: 50%;
	overflow: hidden;
}

.speedo-top img{
	width: 100%;
	height: auto;
}

.speedo-score {
	width: auto;
	top: 330px;
	z-index: 4;
}

.speedo-score h3 {
	font-size: 12px;
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	text-transform: uppercase;
}

.speedo-score h3 span {
	font-size: 28px;
	color: #183663;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	margin: 10px 0 0 0;
	line-height: 22px;
}
        
.needle {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	transform-origin: 50%;
	-webkit-transform-origin: 50% 66%;
	-moz-transform-origin: 50% 66%;
	-ms-transform-origin: 50% 66%;
	-o-transform-origin: 50% 66%;
	transform-origin: 50% 66%;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}

.current-next-levels-container {
	width: 100%;
	margin: 0 auto;
	margin-top: -70px;
	padding: 0 10px;
	position: relative;
	z-index: 1;
}

.current-next-levels {
	display: inline-block;
	/*width: 150px;*/
	text-transform: uppercase;
	float: left;
	color: #0f2245;
	
}

.current-next-levels h3 {
	font-size: 16px;
	font-weight: normal;
	font-style:italic
}

.current-next-levels strong {
	font-size: 22px;
	display: block;
	font-family: 'FuturaStd-Bold' Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
}

.content-wrapper:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1
}

.entries-container {
	overflow: auto;
	margin-top: 12px;
}

.entries-container h4 {
	text-transform: uppercase;
	color: #202f43;
	font-size: 12px;
	line-height: 30px;
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	display: inline-block;
}

.entries-container div {
	display: inline-block;
	width: 43px;
	position: relative;
}	
.entries-container div#entries {
	background-color: #202f43;
	color: #ffffff;
	display: block;
	border-radius: 50%;
	width: 43px;
	height: 43px;
	padding: 12px 0 0 2px;
	font-size: 16px;
	position: absolute;
	top: -27px;
	font-weight: normal;
	text-align: center;
}

.entries-container p {
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11px;
	padding: 6px 0 10px 0;
	letter-spacing: 1px;
}

#twitterpin {
	border: none;
	background-color: #1b2233;
	color: #fff;
	padding: 5px 20px;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	margin: 20px 20px;
}

#pop-up-container {
	position: relative;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.pop-up-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0;
	-webkit-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.pop-up-bg.active {
	opacity: 0.4;
}

.pop-up div:not(.title) img {
	max-width: 100%;
	padding: 0 20px;
}

#pop-up-container .pop-up {
	z-index: 10;
	position: relative;
	margin: 100% auto 0 auto;
	width: 100%;
	max-width: 800px;
	padding: 0 0 1px 0;
	background-color: #fff;
	-webkit-transition: margin 0.8s ease;
	-o-transition: margin 0.8s ease;
	transition: margin 0.8s ease;
}

.pop-up button,
#level-up-close {
	margin: 20px auto 20px auto;
	border: none;
	background-color: #1b2233;
	color: #fff;
	padding: 5px 20px;
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	margin: 20px 20px;
}

.pop-up h3 {
	margin: 20px 40px;
	font-size: 18px;
	color: #202f43;
	line-height: 1;
	text-align: center;
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
}

#old-browser img{
	max-width: 370px;
}
.pop-up > img {
	margin: 40px 0;
	display: inline-block;
}

#pop-up-container.active .pop-up {
	margin: 10% auto 40px auto;
}

.pop-up .title {
	width: 100%;
	background: #1b2233;
	padding: 40px 30px;
	margin-bottom: 20px;
	text-align: center;
}

.pop-up .title img {
	max-width: 100%;
}

.pop-up div .badge {
	display: inline-block;
}

.pop-up div.selectlist {
	width: 100%;
	padding: 10px 30px;
	max-width: 650px;
	display: block;
	position: relative;
	margin: 0 auto;
}

.pop-up div.selectlist p {
	display: inline-block;
	width: auto;
	float: left;
	margin: 0 auto;
	width: 60%;
	text-align: left;
}

.pop-up div.selectlist select {
	float: right;
	width: 150px;
}

.pop-up button#enter-origin {
	clear: both;
	margin: 50px auto 20px auto;
	position: relative;
	width: 100px;
	text-align: center;
	display: block;
	border: none;
	color: white;
	text-transform: uppercase;
	background-color: #1b2233;
	padding: 5px;
}

/* --- HOW TO PLAY --- */

.howtoplay {
	padding-top: 0px;
	background-color: #fff;
}

.howtoplay h1 {
	font-size: 36px;
	color: rgb( 24, 54, 99 );
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.howtoplay h2 {
	font-size: 18px;
	color: #202f43;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	font-family: 'FuturaStd-Heavy' Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.howtoplay h3 {
	font-size: 16px;
	color: rgb( 24, 54, 99 );
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
}

.howtoplay-content {

}

.howtoplay-content h1 {
	font-size: 14px;
	color: rgb( 24, 54, 99 );
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.167;
	text-align: justifyLeft;
}

.howtoplay-content ul li {
	font-size: 12px;
	color: rgb( 24, 54, 99 );
	line-height: 1.167;
	text-align: justify;
}

#howtoplay-play-btn {
	border: none;
	width: 200px;
	height: 60px;
	color: #fff;
	background-color: #222B42;
	display: inline-block;
	margin: 32px 10px 0 10px;
	cursor: pointer;
	border: 2px solid white;
	text-transform: uppercase;
}

#howtoplay-play-btn:hover {
	background-color: #171E31;
}
/* --- 	FOOTER --- */

.footer-bar {
	height: 30px;
	width: 100%;
	background-color: rgba(0,0,0,0.85);
	position: fixed;
	z-index: 99;
	bottom: 0;
}

.footer-bar p {
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 8px;
	line-height: 20px;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	right: 20px;
	top: -2px;
}

.footerlinkswrapper {
	width: 100%;
	text-align: center;
	width: 100%;
	margin: 6px 0 0 0;
}

.footerlinkswrapper a {
	display: inline-block;
	width: auto;
	padding: 0 10px;
	border-right: 1px solid #fff;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	line-height: 0;
	margin: 0 auto;
	letter-spacing: 2px;
}

.audio {
	font-family: 'FuturaStd-Medium' Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #fff;
	float: left;
	cursor: pointer;
}

.audio div {
	width: 22px;
	height: 29px;
	margin: 0 3px 0 10px;
	float: left;
	background-image: url("../img/audio-sprite.png");
	background-position: 0 center;
	background-repeat: no-repeat;
}

.audio.stopped div {
	background-position: -30px center;
}

.audio span {
	padding: 5px 0 0 0;
	display: block;
	float: left;
}



.error-box {
	background-color: #fff;
	width: 100%;
	max-width: 800px;
	margin: -350px auto 0 auto;
}

.error-box h1 {
	background-color: #1b2233;
	margin: 0;
	padding: 40px;
}

.error-box h1 img {
	max-width: 100%;
}

.error-box h2 {
	margin: 51px 40px 40px 40px;
	line-height: 40px;
}



.preloader-test {
	width: 300px;
	height: 20px;
	background-image: url('../img/white-loader.gif');
	background-repeat: no-repeat;
	left: 50%;
	top: 200px;
	margin-left: -150px;
	position: absolute;
	z-index: 1;
}

/* --- MEDIA QUERIES --- */


@media only screen and (max-width: 1440px) {
	
	.login-wrapper .logo {
		max-width: 460px;
		padding: 60px 0 0 62px;
	}

}

@media only screen and (max-width: 1280px) {
	
	.login-wrapper .logo {
		max-width: 400px;
		padding: 50px 0 0 52px;
	}

	.home-description {
		position: absolute;
		top: 100px;
		left: 55px;
		text-align: left;
		width: 50%;
	}

}

@media only screen and (max-width: 1024px) {
	.social-item {
		width: 50%;
		padding: 15px;
	}

	.social-item.fbrss {
		width: 100%;
	}

	.social-item.rss {
		width: 50%;
	}
}

@media only screen and (max-width: 960px) {

	.login-wrapper .logo {
		max-width: 340px;
		padding: 50px 0 0 52px;
	}

	.question-picture {
		height: auto;
		margin-bottom: 20px;
	}

	.top10 .tag h3 .hide {
		display: none;
	}

	.top10 .tag h3 .dots {
		display: inline-block;
	}

	#nav-leaderboard-btn h3 {
		display: none;
	}

	#nav-home-btn h3 {
		display: none;
	}

	#nav-social h3 {
		display: none;
	}

	#nav-leaderboard-btn span {
		display: inline-block;
		color: #fff;
		font-size: 26px;
		text-align: center;
		line-height: 50px;
		width: 80px;
	}

	#nav-home-btn span {
		display: inline-block;
		color: #fff;
		font-size: 26px;
		text-align: center;
		line-height: 50px;
		width: 80px;
	}

	#nav-social span {
		display: inline-block;
		color: #fff;
		font-size: 26px;
		text-align: center;
		line-height: 50px;
		width: 80px;
	}
	
	.quiz-answers:not(.answered) ul li div:hover {
		background-color: #fff;
	}
}

@media only screen and (max-width: 860px) {

	#play .content-wrapper,
	.content-wrapper {
		padding: 0 20px 50px 20px!important;
	}
}

@media only screen and (max-width: 800px) {

	.hamburger {
		display: block;
		float: right;
		cursor: pointer;
		width: 55px;
		height: 47px;
	}

	.nav-desktop {
		display: none;
	}
	.nav-mobile {
		display: none;
	}
	
	.nav-container {
		display: none;
		width: 100%;
	}

	.nav-container.show {
		display: block;
	}

	.nav-container .nav-btn {
		width: 100%;
		float: left;
		border-bottom: 1px solid #373f49;
	}

	.nav-name {
		float: left;
	}
	.profilepic {
		float: left;
	}

	.nav-mobile .nav-profile .nav-btn {
		height: 60px;
	}
	
	.nav-mobile .nav-profile .nav-btn h3{
		margin: 20px 0;
		padding: 0 15px;
	}

	.nav-mobile .nav-profile .nav-btn .profilepic{
		margin: 12px 0 0 28px;
	}

	.leaderboard {
		width: 100%;
	}

	.socialfeed {
		width: 100%;
		display: none;
	}

	.socialfeed-page {
		width: 100%;
		height: auto;
	}	

	.home-description {
		position: absolute;
		top: 76px;
		left: 25px;
		text-align: left;
		width: 60%;
	}
	

	.podium {
		width: 100%;
	}
	
	.podium:nth-child(1) {
		margin: 2px auto 15px auto;
	}
	
	.podium:nth-child(2) , .podium:nth-child(3) {
		/*display: none;*/
		width: calc(50% - 10px);
		height: 80px;
		margin: 5px;
		display: inline-block;
		float: left;
	}

	.podium:nth-child(2) .picture , 
	.podium:nth-child(3) .picture {
		width: 80px;
		height: 80px;
		min-width: 80px;
		display: inline-block;
		background-size: 80px 80px;
		float: left;
	}

	.podium:nth-child(2) .tag ,
	.podium:nth-child(3) .tag {
		height: 80px;
		width: calc(100% - 80px);
		float: left;
		display: inline-block;
		position: relative; 
	}

	.podium:nth-child(2) .tag .podium-tag-wrapper h3,
	.podium:nth-child(3) .tag .podium-tag-wrapper h3 {
		font-size: 12px;
	}

	.podium .tag .podium-tag-wrapper h3 .hide {
		display: inline-block;
	}

	.podium .tag .podium-tag-wrapper h3 .dots {
		display: none;
	}

	.podium:nth-child(2) .podium-number ,
	.podium:nth-child(3) .podium-number {
		display: none; 
	}

	.podium:nth-child(2) .podium-tag-wrapper ,
	.podium:nth-child(3) .podium-tag-wrapper {
		width: 100%; 
		padding-left: 5px;
	}

	.podium:nth-child(2) .badge ,
	.podium:nth-child(3) .badge {
		margin: 11px 0;
	}

	.mobile-podium {
		display: inline-block !important;
		background-color: green;
	}

	.podium .picture .hover {
		display: none;
	}

	.top10 .picture .hover { 
		display: none;
	}

	.top10 {
		width: calc(50% - 10px);
		height: 80px;
		margin: 5px;
		display: inline-block;
		float: left;
	}

	.top10 .picture {
		width: 80px;
		height: 80px;
		min-width: 80px;
		display: inline-block;
		background-size: 80px 80px;
		float: left;
	}

	.top10 .tag h3 {
		margin: 0px 50px 0px 80px;
	}

	.top10 .tag h2 {
		margin-left: 5px;
	}

	.top10 .tag {
		height: 80px;
		/*width: calc(100% - 80px);
		float: left;
		display: inline-block;
		position: relative; */
	}

	.top10 .tag .badge {
		width: 50px;
		height: 50px;
	}

	.top10-invite {
		width: calc(50% - 10px);
		height: 80px;
		margin: 5px;
		display: inline-block;
	}

	#social .content-title{
		height: 340px;
	}

	.white-top-wrap {
		margin: -310px auto 0 auto;
	}

	/*.top10 .tag h3 .hide {
		display: inline-block;
	}

	.top10 .tag h3 .dots {
		display: none;
	}*/

	#nav-leaderboard-btn h3 {
		display: inline-block;
	}

	#nav-home-btn h3 {
		display: inline-block;
	}

	#nav-social h3 {
		display: inline-block;
	}

	#leaderboard2 .content-wrapper {
		margin: 125px auto 0 auto;
	}

}



@media only screen and (max-width: 786px) {
	
	.content-title {
		height: 230px;
	}

	#play .content-wrapper{
		margin: -205px auto 0 auto;
	}

	#results .content-wrapper, #profile .content-wrapper ,
	#howto .content-wrapper , #terms .content-wrapper {
		margin: -210px auto 0 auto;
	}

}

@media only screen and (max-width: 680px) {

	.button-container {
		width: 100%;
	}

	.social-btn {
		width: calc(50% - 15px);
		padding: 0 0px 0 30px;
	}

	.question-block h2 {
		font-size: 22px;
	}

}

@media only screen and (max-width: 640px) {

	.footerlinkswrapper {
		display: none;
	}

	.footer-bar {
		height: 20px;
	}

	.footer-bar p {
		top: -7px;
	}
	.audio span {
		display: none;
	}

	.audio div {
		height: 21px;
	}

	#terms .content-wrapper {
		padding: 0 60px;
	}

	.cover-image {
		height: 221px;
	}

	.profile-picture {
		width: 160px;
		height: 160px;
		margin: -80px 0 0 25px;
	}

	.profile-frame h3 {
		margin: -45px 0 0 15px;
		font-size: 22px;
	}

	.social-item {
		width: 100%;
	}

	.social-item.rss {
		width: 100%;
	}

	.current-next-levels-container {
		margin-top: -40px;
	}

	.speedo-score h3 {
		font-size: 16px;
		line-height: 23px;
	}

	.speedo-score h3 span {
		font-size: 10px;
	}

}

@media only screen and (max-width: 600px) {
	
	.login-wrapper .logo {
		width: 100%;
		max-width: 100%;
		padding: 30px 30px 0 30px;
	}

	.play-share-wrapper {
		width: 100%;
	}

	.play-share-wrapper button {
		width: calc(50% - 10px);
	}

	.play-share-wrapper button:first-child {
		margin: 0 20px 0 0;
	}

	.profile-share-buttons {
		margin: 20px 0 35px 0;
	}

	.leaderboard-btns button {
		display: inline-block;
		height: 75px;
		margin: 0 10px;
		width: 90%;
		background-color: #1b2233;
		border: none;
	}

	.leaderboard-btns {
		padding: 30px 0 0 0;
	}

		.home-description {
			position: absolute;
			top: 76px;
			left: 25px;
			text-align: left;
			width: 90%;
		}
		

}

@media only screen and (max-width: 560px) {

	.profile-picture {
		width: 140px;
		height: 140px;
		margin: -70px 0 0 20px;
	}


	.speedo { 
		margin: 0 40px;
	}

	.social-btn {
		width: 100%;
		max-width: 100%;
		margin: 10px 0 2px 0;
	}

	.social-btn:active {
		margin: 12px 0 0 0;
	}

	.white-top-wrap {
		height: auto;
		padding: 0 30px 20px;
	}

	.white-top-wrap-leaders {
		height: auto;
		padding: 0 0 20px 0;
	}

	.social-heading h2 {
		font-size: 18px;
	}

	.social-heading p {

	}

	#howto .the-rules-titlebox , #howto .the-rules-textbox , 
	#howto .points-titlebox , #howto .points-textbox , 
	#howto .dial-titlebox , #howto .dial-textbox, 
	#howto .dial-textbox .bottom-left,
	#howto .dial-textbox .bottom-right{
		width: 100%;
	}

	#howto .the-rules-textbox , #howto .dial-textbox {
		padding-left: 0;
	}

	#howto .points-textbox {
		padding-right: 0;
	}

	#howto .the-rules-textbox ol , #howto .dial-textbox, 
	#howto .points-textbox {
		clear: both;
	}

	#howto .dial-textbox .bottom-left {
		height: 255px;
	}

	.error-box {
		height: auto;
		margin-top: -380px;
		overflow: auto;
	}

	.profile-share-buttons button {
		width: 100%;
	}

	.podium:nth-child(2) .tag .podium-tag-wrapper h3 .hide ,
	.podium:nth-child(3) .tag .podium-tag-wrapper h3 .hide {
		display: none;
	}

	.podium:nth-child(2) .tag .podium-tag-wrapper h3 .dots ,
	.podium:nth-child(3) .tag .podium-tag-wrapper h3 .dots {
		display: inline-block;
	}

	.podium .tag .podium-tag-wrapper h2 span {
		display: block;
		font-size: 8px;
	}

	.top10 .tag h3 .hide{
		display: none;
	}

	.top10 .tag h3 .dots{
		display: inline-block;
	}

	.social-item {
		padding: 0 0 15px 0;
	}
	.start-gate {
		margin: -300px 0 0 -71px;
	}

	.current-next-levels h3 {
		font-size: 12px;
	}

	.current-next-levels strong {
		font-size: 16px;
	}

	.question-block h2 {
		font-size: 18px;
	}

	.question-block.picture .question-title {
		height: 64px;
	}


	
	#social .content-title
	{
		height:  300px;
	}

	#results .content-wrapper, #profile .content-wrapper {
		margin: -217px auto 0 auto;
	}

	.white-top-wrap {
		margin: -217px auto 0 auto;
	}

	.podium-wrapper {
		margin: -100px auto 15px auto;
	}
	
	#terms .content-wrapper,
	#howto .content-wrapper {
		margin-top: -220px;
	}


	#play .content-wrapper {
		
	}

}


@media only screen and (max-width: 480px) {

  	.login-wrapper .button-holder {
		width: 90%;
		position: absolute;
		margin: 0 auto;
		clear: both;
		left: 5%;
		bottom: 50px;
	}

	.login-wrapper .button-holder .button {
		width: 100%;
		margin: 10px 0 2px 0;
	}

	.login-wrapper .button-holder .button:active {
		margin: 12px 0 0 0;
	}

	.quiz-answers ul li {
		width: 100%;
		display: block;
		padding: 0px;
	}

	.quiz-answers ul li div{
		margin: 2px;
		height: 50px;
	}

	.question-table {
		height: 200px;
	}

	.question-cell {
		font-size: 24px;
	}

	.quiz-answers:not(.answered) ul li div:active {
		height: 50px;
	}

	.round-details {
		margin: 20px 0 0 0;
	}

	#terms .content-wrapper {
		padding: 0 40px;
	}

	#terms .content-wrapper,
	#howto .content-wrapper {
		margin-top: -110px;
	}

	.question-picture {
		height: auto;
		margin-bottom: 20px;
	}

	.question-picture span {
		font-size: 24px;
	}

	.cover-image {
		height: 180px;
	}

	.profile-picture {
		width: 100px;
		height: 100px;
		margin: -60px 0 0 15px;
		border: 4px solid #fff;
	}

	.profile-frame h3 {
		font-size: 18px;
		width: 55%;
	}

	.profile-share-buttons {
		margin: 25px 0;
	}

	.play-share-wrapper button {
		width: 100%;
	}

	.play-share-wrapper button:first-child {
		margin: 0 0px 7px 0;
	}

	.top10 {
		width: 100%;
		height: 80px;
		margin: 2px auto;
		float: left;
		position: relative;
		display: inline-block;
		background-color: red;
		overflow: hidden;
	}

	.top10 .picture {
		float: left;
		width: 80px;
		min-width: 80px;
		display: inline-block;
		background-size: 80px 80px;
	}

	.top10 .tag {
		height: 80px;
		/*width: calc(100% - 80px);
		float: left;
		display: inline-block;
		position: relative;*/ 
	}

	.top10-invite {
		width: 100%;
		height: 80px;
		margin: 2px auto;
		float: left;
		position: relative;
		display: inline-block;
		background-color: orange;
		overflow: hidden;
	}


	.podium {
		width: 100%;
	}

	.podium:nth-child(2) .tag .podium-tag-wrapper h3 .hide ,
	.podium:nth-child(3) .tag .podium-tag-wrapper h3 .hide {
		display: inline-block;
	}

	.podium:nth-child(2) .tag .podium-tag-wrapper h3 .dots ,
	.podium:nth-child(3) .tag .podium-tag-wrapper h3 .dots {
		display: none;
	}

	.top10 .tag h3 .hide{
		display: inline-block;
	}

	.top10 .tag h3 .dots{
		display: none;
	}

	.podium:nth-child(2) , .podium:nth-child(3) {
		width: 100%;
		margin: 2px auto;
		float: left;
	}

	.mobile-podium {
		display: inline-block;
		background-color: green;
	}

	.pop-up div.selectlist p {
		width: 100%;
		text-align: center;
	}

	.pop-up div.selectlist select {
		clear: both;
		margin: 20px auto 0 auto;
		float: none;
	}

	.podium .tag .podium-tag-wrapper h2 span {
		display: inline-block;
	}

	.home-description {
		position: absolute;
		top: 66px;
		left: 15px;
		text-align: left;
		width: 90%;
	}
		

}

@media (max-width: 380px) {

	.social-filter-icons-wrap {
		height: 90px;
	}

	.profile-frame h3 {
		margin: -95px 0 0 125px;
		font-size: 13px;
	}

	.content-title {
		height: 120px;
	}

	#play .content-wrapper {
		margin: -105px auto 0 auto;
	}

	#results .content-wrapper, #profile .content-wrapper {
		margin: -107px auto 0 auto;
	}
	
	.cover-image {
		height: 130px;
	}

	.profile-frame h3 {
		margin: -66px 0 0 125px;
	}

	.white-top-wrap {
		margin: -107px auto 0 auto;
	}

	#social .content-title {
		height: 120px;
	}

	#leaderboard2 .content-wrapper {
		margin: 175px auto 0 auto;
	}
}


@media (max-width: 320px) {

	.content-wrapper {
		width: 100%;
	}

	.entries-container div {
		display: block;
		margin: 0 auto;

	}

	.entries-container div#entries {
		top: -21px;
	}

	.timer-dots li {
		margin: 0 3px;
	}

	.podium .tag .podium-tag-wrapper h2 span {
		display: block;
		font-size: 8px;
	}

}


/* -----------------------
	Preloader
--------------------------*/
#fountainG{
	position:relative;
	width:183px;
	height:22px;
	margin: 0 auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:#ff0033;
	width:23px;
	height:23px;
	-moz-animation-name:bounce_fountainG;
	-moz-animation-duration:1.3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(.3);
	-moz-border-radius:15px;
	-webkit-animation-name:bounce_fountainG;
	-webkit-animation-duration:1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(.3);
	-webkit-border-radius:15px;
	-ms-animation-name:bounce_fountainG;
	-ms-animation-duration:1.3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(.3);
	-ms-border-radius:15px;
	-o-animation-name:bounce_fountainG;
	-o-animation-duration:1.3s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(.3);
	-o-border-radius:15px;
	animation-name:bounce_fountainG;
	animation-duration:1.3s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	transform:scale(.3);
	border-radius:15px;
}

#fountainG_1{
	left:0;
	-moz-animation-delay:0.52s;
	-webkit-animation-delay:0.52s;
	-ms-animation-delay:0.52s;
	-o-animation-delay:0.52s;
	animation-delay:0.52s;
}

#fountainG_2{
	left:23px;
	-moz-animation-delay:0.65s;
	-webkit-animation-delay:0.65s;
	-ms-animation-delay:0.65s;
	-o-animation-delay:0.65s;
	animation-delay:0.65s;
}

#fountainG_3{
	left:46px;
	-moz-animation-delay:0.78s;
	-webkit-animation-delay:0.78s;
	-ms-animation-delay:0.78s;
	-o-animation-delay:0.78s;
	animation-delay:0.78s;
}

#fountainG_4{
	left:69px;
	-moz-animation-delay:0.91s;
	-webkit-animation-delay:0.91s;
	-ms-animation-delay:0.91s;
	-o-animation-delay:0.91s;
	animation-delay:0.91s;
}

#fountainG_5{
	left:92px;
	-moz-animation-delay:1.04s;
	-webkit-animation-delay:1.04s;
	-ms-animation-delay:1.04s;
	-o-animation-delay:1.04s;
	animation-delay:1.04s;
}

#fountainG_6{
	left:114px;
	-moz-animation-delay:1.17s;
	-webkit-animation-delay:1.17s;
	-ms-animation-delay:1.17s;
	-o-animation-delay:1.17s;
	animation-delay:1.17s;
}

#fountainG_7{
	left:137px;
	-moz-animation-delay:1.3s;
	-webkit-animation-delay:1.3s;
	-ms-animation-delay:1.3s;
	-o-animation-delay:1.3s;
	animation-delay:1.3s;
}

#fountainG_8{
	left:160px;
	-moz-animation-delay:1.43s;
	-webkit-animation-delay:1.43s;
	-ms-animation-delay:1.43s;
	-o-animation-delay:1.43s;
	animation-delay:1.43s;
}

@-moz-keyframes bounce_fountainG{
	0%{
		-moz-transform:scale(1);
		background-color:#ff0033;
	}

	100%{
		-moz-transform:scale(.3);
		background-color:#ffffff;
	}

}

@-webkit-keyframes bounce_fountainG{
	0%{
		-webkit-transform:scale(1);
		background-color:#ff0033;
	}

	100%{
		-webkit-transform:scale(.3);
		background-color:#ffffff;
	}

}

@-ms-keyframes bounce_fountainG{
	0%{
		-ms-transform:scale(1);
		background-color:#ff0033;
	}

	100%{
		-ms-transform:scale(.3);
		background-color:#ffffff;
	}

}

@-o-keyframes bounce_fountainG{
	0%{
		-o-transform:scale(1);
		background-color:#ff0033;
	}

	100%{
		-o-transform:scale(.3);
		background-color:#ffffff;
	}

}

@keyframes bounce_fountainG{
	0%{
		-webkit-transform: scale(1);
		transform:scale(1);
		background-color:#ff0033;
	}

	100%{
		-webkit-transform: scale(.3);
		transform:scale(.3);
		background-color:#ffffff;
	}

}




#fountainG.small {
	position:relative;
	width:100px;
	height:13px;
	margin: 0 auto;
}

#fountainG.small .fountainG{
	position:absolute;
	top:0;
	background-color:#ff0033;
	width:13px;
	height:13px;
	-moz-animation-name:bounce_fountainG;
	-moz-animation-duration:1.3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-transform:scale(.3);
	-moz-border-radius:8px;
	-webkit-animation-name:bounce_fountainG;
	-webkit-animation-duration:1.3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-transform:scale(.3);
	-webkit-border-radius:8px;
	-ms-animation-name:bounce_fountainG;
	-ms-animation-duration:1.3s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-transform:scale(.3);
	-ms-border-radius:8px;
	-o-animation-name:bounce_fountainG;
	-o-animation-duration:1.3s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-transform:scale(.3);
	-o-border-radius:8px;
	animation-name:bounce_fountainG;
	animation-duration:1.3s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	transform:scale(.3);
	border-radius:8px;
}

#fountainG.small #fountainG_1{
	left:0;
}

#fountainG.small #fountainG_2{
	left:13px;
}

#fountainG.small #fountainG_3{
	left:25px;
}

#fountainG.small #fountainG_4{
	left:38px;
}

#fountainG.small #fountainG_5{
	left:50px;
}

#fountainG.small #fountainG_6{
	left:63px;
}

#fountainG.small #fountainG_7{
	left:75px;
}

#fountainG.small #fountainG_8{
	left:88px;
}


.twitterbtn img,
#share-Twitter img {
	max-width: 100px;
}
