<div class="content-title">

</div>

<div class="wrapper">
	<div class="content-wrapper pic">
	
		<div class="error-box">
			<h1><img src="img/error-title.jpg" alt="error" title="error"/></h1>
			<h2><%= data.message %></h2>
		</div>

	</div>
</div>