<div class="content-title">

</div>

<div class="wrapper">
	<div class="content-wrapper pic">

		<div id="quiz">
			
			<div class="start-gate">
				<span>3</span>
				<svg version="1.1" id="svg-timer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 90 90" enable-background="new 0 0 90 90" xml:space="preserve">
					<path fill="none" stroke="#192032" stroke-width="4" stroke-miterlimit="10" d="M45,3.2c23.1,0,41.8,18.7,41.8,41.8
					S68.1,86.8,45,86.8S3.2,68.1,3.2,45S21.9,3.2,45,3.2"/>
				</svg>
			</div>

			<div class="question-answer">

				<% if (data.hasPicture) { 
					var pic = "images/" + data.question.get('picture');
				%>

				<div class="question-block picture">
					<div class="bar-timer">
						<div></div>
						<span>10</span>
					</div>
					<div class="question-title">
						<div>
							<h2><%= data.question.get('question') %></h2>
						</div>
					</div>
					<img src="<%= pic %>" />
				</div>

				<% } else { %>

				<div class="question-block no-picture">
					<div class="bar-timer">
						<div></div>
						<span>10</span>
					</div>
					<div class="question-title">
						<div>
							<h2><%= data.question.get('question') %></h2>
						</div>
					</div>
					<img src="img/blank.png" />
				</div>

				<% } %>

				<div class="timer-dots">
					<ul>
						<% for (var i=0; i<5; i++) { %>
						<li class="<%= data.question.get('results')[i] %>"></li>
						<% } %>
					</ul>
				</div>

				<div class="quiz-answers" id="answers">
					<ul>
						<li id="answer-1" class="answer-option">
							<div><span><%= data.question.get('array')[0] %></span></div>
						</li>
						<li id="answer-2" class="answer-option">
							<div><span><%= data.question.get('array')[1] %></span></div>
						</li>
						<li id="answer-3" class="answer-option">
							<div><span><%= data.question.get('array')[2] %></span></div>
						</li>
						<li id="answer-4" class="answer-option">
							<div><span><%= data.question.get('array')[3] %></span></div>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
</div>

