<div class="content-title">

</div>

<div class="wrapper">
	<div class="content-wrapper">

		<div class="howtoplay">
			<div class="howto-title"></div>
			<div class="howto-text">
				<h2>Welcome to the X-Fighters Tune Up Trivia Game.</h2>
				<h3>Get ready to boost your knowledge of FMX into the stratosphere all for the chance to experience <span>Red Bull X-Fighters</span> live in South Africa for the first time.</h3>
			</div>
				
				<div class="topbox">
					<div class="the-rules-titlebox">
					</div>
					<div class="the-rules-textbox">
						<ol>
							<li>You will get a round consisting of 5 questions.</li>
							<li>You have 10 seconds to answer each question.</li>
							<li>Each question has 4 possible answers but only 1 correct one.</li>
							<li>At the end of each round you will be rewarded with experience points (FMXP) to level you up.</li>
							<li>Each time you level up you will gain X1 entry into the draw for an exclusive Friends of Red Bull experience at the X-Fighters World Tour stop in Pretoria on 23 August 2014.</li>
						</ol>
					</div>
				</div>
				
				<div class="midbox">
					<div class="points-titlebox">
					</div>
					<div class="points-textbox">
						<ol>
							<li>You can earn a maximum of 100 FMXP per question, and 500 FMXP per round (of 5 questions).</li>
							<li>In each questions, every second that passes before you answer 10 FMXP will be deducted. </li>
							<li>If you answer incorrectly you receive 0 FMXP for the question.</li>
						</ol>
					</div>
				</div>

				<div class="bottombox">
					<div class="dial-titlebox">
					</div>
					<div class="dial-textbox">
						<div class="top">
							<ol>
								<li>The FMXP dial shows how many points you scored in that round and how far you are from your next level up. </li>
							</ol>
						</div>
						<div class="bottom-left">
						</div>
						<div class="bottom-right">
							<h3>YOU CAN RECEIVE A BONUS 20 FMXP WHEN YOU SHARE YOUR SCORES &amp; LEVEL ON SOCIAL MEDIA! <br/><span>LET’S START IT UP!</span></h3>
						</div>
					</div>
				</div>
		</div>
		<button id="howtoplay-play-btn">Got it!</button>
	</div>
</div>