<div class="content-wrapper">
	
	<div class="home-description">
		<img src="img/home-description.png" alt="Play to win" />
	</div>

	<div class="login-wrapper">
		<div class="button-holder">
			<div id="login-buttons" style="display: none;">
				<p> Please login to continue playing</p>
				<a id="facebook-login">
					<div class="button facebookbtn">
					</div>
				</a>
				<a id="twitter-login">
					<div class="button twitterbtn">
					</div>
				</a>
			</div>
		</div>
		<div class="button-holder">
			<div id="play-buttons" style="display: none;">
				<a id="play">
					<div class="button">
						<h3>Play Now</h3>
					</div>
				</a>
				<a id="how-to-play">
					<div class="button">
						<h3>How To Play</h3>
					</div>
				</a>
			</div>
		</div>
	</div>

</div>
