<div class="preloader-test" ></div>
<div class="content-title">
    <div class="leaderboard-btns">
        <button class="leaders-friends" id="friendsbtn"></button>
        <button class="leaders-national" id="globalbtn"></button>
    </div>
</div>
<div class="wrapper">
    <div class="content-wrapper clearfix">
        <div id="leaderboard-container">

        </div>
    </div>
</div>