<div class="podium-wrapper">
<%  
    var rank = 0;
    _.each(data.items, function(i) {
        if (rank >= 3)
        return false;
%>
    <div class="podium">
        <div class="picture" style="background-image: url('<%= i.SelfieUrl %>')">
            <div class="hover"><h3><%= i.rank %></h3></div> 
        </div>
        <div class="tag">
            <div class="podium-number">
            <h3><%= i.rank %></h3>
            </div>
            <div class="podium-tag-wrapper">
                <h3><%= i.FirstName + " " %><%= i.LastName %></h3>
                <div class="badge" style="background-image: url(' <%= i.badge %> ');"></div>
                <h2><%= i.Points %> <span>FMXP</span></h2>
            </div>
        </div>
    </div>

<%
    rank ++;
    });
%>

</div>

<%  
    var genrank = 0;
    _.each(data.items.slice(3, 11), function(i) {
        if (genrank >= 10)
        return false;

        if (genrank >= 8)
        return true;
%>

<div class="top10">
    <div class="picture" style="background-image: url('<%= i.SelfieUrl %>')">
        <div class="hover"><h3><%= i.rank %></h3></div>
    </div>
    <div class="tag">
        <h3><%= i.FirstName + " " %><%= i.LastName %></h3>
        <div class="badge" style="background-image: url(' <%= i.badge %> ');"></div>
        <h2><%= i.Points %> <span>FMXP</span></h2>
    </div>
</div>


<%
    genrank ++;
    });
%>

<div class="top10 top10-invite">
    <a id="invitemates">
    <div class="picture"></div> 
    <div class="tag">
        <h4>Invite more friends to play!</h4>
    </div>
    </a>
</div>