<div class="top-nav">
		<div class="home-logo home"></div>

	<div class="hamburger">
		<img src="img/hamburger_menu.png" />
	</div>

	<div class="nav-container nav-desktop">
		<a class="home">
			<div class="nav-btn" id="nav-home-btn">
				<span class="icon-home"></span><h3>Home</h3>
			</div>
		</a>
		<a id="leaderboard">
			<div class="nav-btn" id="nav-leaderboard-btn">
				<span class="icon-medal2"></span><h3>Leaderboard</h3>
			</div>
		</a>
		<a class="nav-profile" style="display: none;">
			<div class="nav-btn float-right" id="nav-user-btn">
				<h3 class="nav-name"><%= data.FirstName %></h3>
				<span class="profilepic"><img src="<%= data.src %>" /></span>
			</div>
		</a>
		<a class="nav-login" style="display: none;">
			<div class="nav-btn float-right">
				<h3 class="nav-name">Log in</h3>
				<span class="profilepic"><img src="img/profile-default.jpg"></span>
			</div>
		</a>
		<a>
			<div class="nav-btn" id="nav-social">
				<span class="icon-group"></span><h3>Social</h3>
			</div>
		</a>
	</div>

	<div class="nav-container nav-mobile">
		<a class="nav-profile" style="display: none;">
			<div class="nav-btn float-right" id="nav-user-btn">
				<span class="profilepic"><img src="<%= data.src %>" /></span>
				<h3 class="nav-name"><%= data.FirstName %></h3>
			</div>
		</a>
		<a id="leaderboard">
			<div class="nav-btn" id="nav-leaderboard-btn">
				<h3></span>Leaderboard</h3>
			</div>
		</a>
		<a class="nav-login" style="display: none;">
			<div class="nav-btn float-right">
				<span class="profilepic"><img src="img/profile-default.jpg"></span>
				<h3 class="nav-name">Log in</h3>
			</div>
		</a>
		<a>
			<div class="nav-btn" id="nav-social">
				<h3>Social</h3>
			</div>
		</a>
		<a>
			<div class="nav-btn" id="nav-howto">
				<h3>How to play</h3>
			</div>
		</a>
		<a>
			<div class="nav-btn" id="nav-terms">
				<h3>Terms &amp; Conditions</h3>
			</div>
		</a>
	</div>
</div>
