<div>

<div class="content-title">

</div>

<div class="wrapper">
	<div class="content-wrapper">
		
		<div class="cover-image" style="height: 0px;">
		</div>
		
		<div class="profile-content">
			<div class="profile-frame">
				<div class="profile-picture">
					<img src="<%= data.picture %>">
				</div>
				<h3><%= data.name %></h3>
			</div>
			<button class="play-again" id="play-again">Play</button>
			<div class="speedo" id="speedo" style="opacity: 0;">
				<div class="speedo-top-wrap">
					<div class="speedo-top" id="speedo-top">
						<img src="<%= data.badge %>">
					</div>		
				</div>	
			   	<div class="speedo-score">
			   		<h3 id="speedo-score"><span><%= data.points %></span><br/>fmxp</h3>
			   	</div>
			</div>

			<div class="current-next-levels-container clearfix">
				<div class="current-next-levels"><h3 id="current-title"><%= data.title %></h3></div>
				<div class="current-next-levels float-right"><h3 id="next-title"><%= data.nextTitle %></h3></div>
			</div>
			
			<div class="entries-container">
				<h4><span>Competition </span></h4>
					<div>
						<div id="entries"><%= data.entries %></div>
					</div>
					<h4><span> draw entries</span></h4>
				<p>To see Red Bull X-Fighters LIVE in Pretoria on 23 August 2014</p>
			</div>

		</div>
		
		<div class="profile-share-buttons">
			<div class="play-share-wrapper clearfix" id="play-buttons" style="display: none;">
				<button id="sharefacebook" class="social-btn facebookbtn-share"></button>
				<button class="float-right social-btn twitterbtn-share" id="sharetwitter"></button>
				<div>
					<p>Share your progress with your friends &amp; get 250 FMXP!</p> 
				</div>
			</div>
			<div class="play-share-wrapper clearfix" id="login-buttons" style="display: none;">
				<p>Login to save and share your results</p> 
				<button id="facebook-login" class="social-btn facebookbtn"></button>
				<button class="float-right social-btn twitterbtn" id="twitter-login"></button>
			</div>
			
		</div>

	</div>
</div>

</div>