<div class="content-title">

</div>
<div class="wrapper">
	<div class="content-wrapper clearfix">
		<div class="social-heading white-top-wrap">
			<img src="img/social-title.jpg" alt="Social News" title="Social News" />
			<div class="button-container">
				<button class="social-btn facebookbtn-share"></button>
				<button class="social-btn twitterbtn-share float-right"></button>
			</div>
			<h2 >Share for bonus points copy</h2>
			<p>Share your progress with your friends &amp; get 250 FMXP!</p>
		</div>

		<div class="social-filter-icons-wrap">
			<div class="social-filter-icons">
				<h3>Filter by:</h3>
					<div class="icons">
						<span id="allfeedbtn" class="active icon-list"></span>
						<span id="twitterfeedbtn" class="icon-twitter"></span>
						<span id="fbfeedbtn" class="icon-facebook"></span>
						<span id="instafeedbtn" class="icon-instagram"></span>
						<span id="sitefeedbtn" class="icon-rss"></span>
					</div>
			</div>
		</div>

        <div class="news-wrapper" id="latest-news">
            
        </div>

	</div>
</div>