<div class="content-title">

</div>

<div class="wrapper">
	<div class="content-wrapper">

		<div class="howtoplay">
			<div class="terms-title"></div>
			<div class="terms-text">
				<h2>RED BULL X-FIGHTERS TRIVIA GAME COMPETITION RULES </h2>

			  <p>
					This promotional competition is organised by Red Bull Holdings South Africa (Pty) Ltd, a division of Red Bull (Proprietary) Limited (“Red Bull” or the “Promoter”).
				</p>

				<ol>
					<li>
						<p>
						These are the General Terms and Conditions (hereafter the "Rules") that govern the Red Bull X-Fighters Trivia Game Competition in South Africa in 2014. The South African Red Bull X-Fighters Trivia Game Competition is referred to generally as the "Competition" throughout the rest of these Rules and specifically by the following names: Red Bull X-Fighters Trivia Game Competition.
						</p>
					</li>

					<li>
						<p>
						By entering the Red Bull X-Fighters Trivia Game Competition, Participants agree to the rules set out below. 
						</p>
					</li>

					<li>
						<p>
						Participation in this competition is open to residents of South Africa, with the exception of the following people (Disqualified Participants): 
						</p>
						<ol>
							<li>
								<p>
									directors, members, partners, promotional and advertising agents, merchandisers, employees or consultants of Red Bull and organisers of the Competition. 
								</p>
							</li>
							<li>
								<p>
									people who are not legal residents and legal citizens of the Republic of South Africa; 
								</p>
							</li>
							<li>
								<p>
									spouses, life partners, parents, children, siblings, business partners or associates of any of the persons specified in 3.1 above; and 
								</p>
							</li>
							<li>
								<p>
									persons under the age of 13 years. 
								</p>
							</li>
						</ol> 
					</li>

					<li>
						<p>The competition closes on Friday 15 August 2014 at 09h00 and the winners will be selected thereafter. Winners will be notified via Twitter or Facebook after 10h00 on Friday 15 August if they have won a prize.  
						</p>
					</li>

					<li>
						<p>
							Winners will need to be available between the following dates 23 August 2014 and 24 August 2014 to redeem their prize. Should the winner not be available during this period, they will forfeit their prize and a new winner will be chosen.
						</p>
					</li>

					<li>
						<p>
							Entry Process:
						</p>
						<ol>
							<li>
								<p>
									Visit <a href="http://www.redbullxfighters.com">www.redbullxfighters.com</a>
								</p>
							</li>
							<li>
								<p>
									Play the trial round of the Red Bull X-Fighters Trivia Game
								</p>
							</li>
							<li>
								<p>
									Sign in with your chosen social media account details (Facebook or Twitter)
								</p>
							</li>
							<li>
								<p>
									Select the retailer or platform from which you heard about the Red Bull X-Fighters Trivia Game
								</p>
							</li>
							<li>
								<p>
									Play as many rounds as you choose
								</p>
							</li>
							<li>
								<p>
									For each level completed you will receive 1 entry into the competition 
								</p>
							</li>
						</ol>
					</li>

					<li>
						<p>
							Participants can play the Red Bull X-Fighters Trivia Game as many times as they choose to better their chances of winning. All valid entries will be entered into the competition.
						</p>
					</li>
					
					<!-- cheating -->
					<li>
						<p>
							Any participant suspected or found to be cheating or colluding or undertaking in fraudulent activity on the Red Bull X-Fighters Trivia Game website is subject to disqualification. Red Bull reserves their rights to disqualify a player without notice. 
						</p>
						<ol>
							<li>
								<p>
									Red Bull reserves the right to disqualify a player should they partake in unfair game play, including, but not limited to:
								</p>
								<ol>
									<li>
										<p>
											You may not cheat during game play, including but not limited to modification of the game program files.
										</p>
									</li>
									<li>
										<p>
										You may not create cheats and/or hacks, or use any third-party software which is running at the same time as the Red Bull X-Fighters Trivia Game that accesses files which are part of the Red Bull X-Fighters Trivia Game, for any reason whatsoever.
										</p>
									</li>
									<li>
										<p>
										You may not modify any files which Red Bull X-Fighters Trivia Game does not specifically authorize you to modify.
										</p>
									</li>
									<li>
										<p>
										You may not use or "exploit" errors in design or features which have not been documented, and/or "program bugs" to gain access that is otherwise not available, or to obtain a competitive advantage over other players.
										</p>
									</li>
									<li>
										<p>
										You may not use any tools which hack or alter the Red Bull X-Fighters Trivia Game or server software or third party server software. 
										</p>
									</li>
									<li>
										<p>
										You may not use software products which "packet sniff" or provide scripting and/or macroing to obtain information from Red Bull X-Fighters Trivia Game to gain a competitive advantage over other players.
										</p>
									</li>
									<li>
										<p>
										You may not engage in any act, practice, or course of operation as would operate as deceit upon any other participant or operator.
										</p>
									</li>
									<li>
										<p>
										You may not engage in any act, practice, or course of operation while participating in the Red Bull X-Fighters Trivia Game with the intent of cheating any other participant or the operator to gain an advantage in the game over the other participant.
										</p>
									</li>
								</ol>
							</li>
						</ol>
					</li>
					


					<!-- After cheating -->
					<li>
						<p>
							The winners of the Red Bull X-Fighters Trivia Game competition will be selected in accordance with the criteria highlighted in point 23. 
						</p>
					</li>

					<li>
						<p>
							All participants indemnify Red Bull, its advertising agencies, advisors, suppliers and nominated agents against any and all claims, damages or loss howsoever arising, including but not limited to wilful misconduct or negligent act or omission arising from their participation in this Competition.
						</p>
					</li>

					<li>
						<p>
							Red Bull will not be held liable for any misinterpretation of the prize, rules and conditions or any specific part thereof.
						</p>
					</li>

					<li>
						<p>
							At the time that the potential winners are identified, the potential prize winner will receive a direct message via Twitter or Facebook from a representative of Red Bull or the Promoter at which point he/she may be required to reply and provide his/her ID and/or driver’s license to the Red Bull representative. A potential prize winner is not an actual winner until his/her submission is validated and his/her documents are completed and submitted to Red Bull. If a potential prize winner is a Disqualified Participant or does not meet the eligibility requirements, the prize will be forfeited and a runner-up finalist will be deemed the potential prize winner, subject to the terms and conditions herein.  
						</p>
					</li>

					<li>
						<p>
							The winner(s) for the Competition will be contacted separately. Red Bull reserves the right to disqualify a winner if he/she does not respond to the direct message sent via Twitter or Facebook  within 2 days of winner selection and will randomly select a replacement winner from the competition entries. In such circumstances, the replacement winner shall be contacted by Red Bull as soon as reasonably practicable and shall be required to respond to Red Bull in the manner set out in such correspondence. In the event that the replacement winner fails to respond to Red Bull as required, then the provisions of this clause shall apply to that new winner in the same way as if he/she were the original winner.
						</p>
					</li>

					<li>
						<p>
							The promoters’ decision is final, and no correspondence will be entered into. 
						</p>
					</li>

					<li>
						<p>
							Any violation or attempt to violate any of the above Rules will result in the immediate disqualification of the transgressor.
						</p>
					</li>

					<li>
						<p>
							The Rules and their application shall be governed and shall be construed in accordance with the law of the Republic of South Africa.
						</p>
					</li>

					<li>
						<p>
							The prizes are not transferable. No substitution, cash redemption or assignment of prize is permitted, but Red Bull or the Promoter reserve the right to substitute the prizes with one of comparable value for any reason. Prizes will under no circumstances be handed over to a third party and will only be handed or transferred directly to the verified prize winner.  
						</p>
					</li>

					<li>
						<p>
							Red Bull or the Promoter reserves the right to terminate the Competition at any time. In the event of such termination, all Participants agree to waive any rights that they may have in terms of the Competition and acknowledge that they will have no recourse against Red Bull, its advertising agencies, advisors, suppliers and nominated agents.
						</p>
					</li>

					<li>
						<p>
							By entering this competition you authorise Red Bull and the Promoter, to collect, store and use (not share) personal information of entrants for communication or statistical purposes. You are entitled to decline any marketing communication by emailing infocpt@za.redbull.co.za OR Dial 021 431 2100. The winner or participants may be requested to take part in publicity campaigns for broadcast or publishing purposes. Winners or participants shall at all times be entitled to decline the above request. Winners or participants that take part in any publicity will not be entitled to any payment or other remuneration for such publicity or otherwise. All publicity and other materials will be the sole property of the Promoter. 
						</p>
					</li>

					<li>
						<p>
							Red Bull, the Promoter, its promotional and advertising agents, merchandisers and organisers shall not be responsible for any subsequent decline of acceptance of prizes for any reason. 
						</p>
					</li>

					<li>
						<p>
							All queries relating to this completion can be directed to Red Bull Customer Care Line infocpt@za.redbull.com
						</p>
					</li>

					<li>
						<p>
							For further information or enquiries please email our Customer Services at infocpt@za.redbull.com. 
						</p>
					</li>

					<li>
						<p>
							<strong>Red Bull X-Fighters Trivia Game Competition;</strong>
						</p>
						<ol>
							<li>
								<p>
									Participants must comply with the general Rules of the <strong>Red Bull X-Fighters Trivia Game Competition</strong> and specifically Participants must meet the following requirements:
								</p>
								<ol>
									<li>
										<p>
											be at least thirteen (13) years of age or older at the time of entry. 
										</p>
									</li>
									<li>
										<p>
											in the event that a participant between the ages of 13 – 18 years of age is selected as a winner they must have a willing, able and able bodied legal guardian to accompany them to the Red Bull X-Fighters event in Pretoria South Africa on 23 August 2014
										</p>
									</li>
									<li>
										<p>
											have a valid South African ID document
										</p>
									</li>
								</ol>
							</li>
						</ol>
					</li>

					<li>
						<p>
							<strong>PRIZES:</strong> There are two prize winner categories: 
						</p>
						<ol>
							<li>
								<p>
									Top three players on the FMX Point Leader Board 
								</p>
							</li>
							<li>
								<p>
									11 winners selected from a random Draw
								</p>
							</li>
						</ol>
					</li>

					
					<li>
						<p>
							<srtong>Top three players on the FMX Point Leader Board: </srtong>
						</p>
						<ol>
							<li>
								<p>
									First place / Top FMX Point Scorer will receive:
								</p>
								<ol>
									<li>
										<p>
											VIP entry into the X-Fighters event for 3 people only on 23 August only.
										</p>
										<ol>
											<li>
												<p>
													in the event that a participant between the ages of 13 – 18 years of age is selected as a winner, one of the three VIP entry tickets and supporting prizes descirbed in points 24.1.1, 24.1.2, 24.1.3 & 24.1.4 must go to their legal guardian as per the terms of 22.1.2
												</p>
											</li>
										</ol>
									</li>
									<li>
										<p>
											Accomodation for 3 people for 1 night Saturday 23 August only (with breakfast included) 
										</p>
									</li>
									<li>
										<p>
											Return flights for all 3 people from South African location only to JHB (transfer to and from the airport from the winners home location is not included and is at the winners own expense)
										</p>
									</li>
									<li>
										<p>
											Airport return transfer (1 transfer per trio)
										</p>
									</li>
									<li>
										<p>
											Anything outside of the above is not included and is at the winners own expense
										</p>
									</li>
								</ol>
							</li>
							<li>
								<p>
									Second place / Second Highest FMX Point Scorer will receive: 
								</p>
								<ol>
									<li>
										<p>
											Grandstand entry into the X-Fighters event for 3 people only on 23 August only.
										</p>
										<ol>
											<li>
												<p>
													in the event that a participant between the ages of 13 – 18 years of age is selected as a winner, one of the three Grandstand entry tickets and supporting prizes descirbed in points 24.2.1, 24.2.2, 24.2.3 & 24.2.4 must go to their legal guardian as per the terms of 22.1.2
												</p>
											</li>
										</ol>
									</li>
									<li>
										<p>
											Accomodation for 3 people for 1 night Saturday 23 August only (with breakfast included) 
										</p>
									</li>
									<li>
										<p>
											Return flights for all 3 people from South African location only to JHB (transfer to and from the airport from the winners home location is not included and is at the winners own expense)
										</p>
									</li>
									<li>
										<p>
											Airport return transfer (1 transfer per trio)
										</p>
									</li>
									<li>
										<p>
											Anything outside of the above is not included and is at the winners own expense
										</p>
									</li>
								</ol>
							</li>
							<li>
								<p>
									Third place / Third Highest FMX Point Scorer will receive: 
								</p>
								<ol>
									<li>
										<p>
										Grandstand entry into the X-Fighters event for two people only on 23 August only.
										</p>
										<ol>
											<li>
												<p>
													in the event that a participant between the ages of 13 – 18 years of age is selected as a winner, one of the two VIP entry tickets and supporting prizes descirbed in points 24.3.1, 24.3.2, 24.3.3 & 24.3.4 must go to their legal guardian as per the terms of 22.1.2
												</p>
											</li>
										</ol>
									</li>
									<li>
										<p>
										Accomodation for 2 people for 1 night Saturday 23 August only (2 pax sharing room with breakfast included) 
										</p>
									</li>
									<li>
										<p>
											Return flights for 2 people from South African location only to JHB (transfer to and from the airport from the winners home location is not included and is at the winners own expense)
										</p>
									</li>
									<li>
										<p>
										Airport return transfer (1 transfer per pair)
										</p>
									</li>
									<li>
										<p>
										Anything outside of the above is not included and is at the winners own expense
										</p>
									</li>
								</ol>
							</li>
						</ol>
					</li>

					<li>
						<p>
							<strong>Radom draw:</strong> 11 winners will be selected from a random draw. They will receive the following: 
						</p>
						<ol>
							<li>
								<p>
									VIP entry into the X-Fighters 2014 event for 2 people only on 23 August only. 
								</p>
								<ol>
									<li>
										<p>
											in the event that a participant between the ages of 13 – 18 years of age is selected as a winner, one of the two VIP entry tickets and supporting prizes descirbed in points 25.1, 25.2, 25.3 & 25.4 must go to their legal guardian as per the terms of 22.1.2
										</p>
									</li>
								</ol>
							</li>
							<li>
								<p>
									Accomodation for 2 people with breakfast included - 2 pax sharing room – 1 night Saturday 23 August 2014 only
								</p>
							</li>
							<li>
								<p>
									Return flights from South African location only to JHB (transfer to and from the airport from the winners home location is not included and is at the winners own expense)
								</p>
							</li>
							<li>
								<p>
									Airport return transfer (1 transfer per pair)
								</p>
							</li>
							<li>
								<p>
									Anything outside of the above is not included and is at the winners own expense
								</p>
							</li>
						</ol>
					</li>

					<p>
						PLEASE NOTE: 
					</p>
					
					<li>
						<p>
							Nothing in these Rules is intended to, or must be understood to, unlawfully restrict, limit or avoid any rights or obligations, as the case may be, created for either the Participant or the Promoter in terms of the Consumer Protection Act, 68 of 2008 ("the CPA")
						</p>
					</li>


				</ol>
			</div>
		</div>
	</div>
</div>